[2016-01-22 14:48] PWKad commented on #238
Sorry all, we did use the existing files when creating the ASP.NET 5 (1?) versions of the skeleton's and I didn't properly test the Wallaby configuration so you can blame me for this one >.<

[2016-01-22 15:01] Rondomat commented on #257
I did an npm update (to update jspm & aurelia-bundler) and jspm update afte it. Now the gulp 'bundle' task fails with:
---------
[15:55:56] 'bundle' errored after
[15:55:56] Error on fetch for dist/app.html at file:///d:/dev/aurelia-skeleton-navigation-1.0.0-beta.1.0.5/dist/dist/app.html.js
        Error: ENOENT: no such file or directory, open 'd:\dev\aurelia-skeleton-navigation-1.0.0-beta.1.0.5\

[2016-01-22 15:04] ahmedshuhel commented on #257
@Rondomat you need to update SystemJS also with `jspm dl-loader` and in the bundle config make sure to change `[*]` to `[*.js]`.

[2016-01-22 15:09] Rondomat commented on #257
That did solve the issue. Thanks!

[2016-01-22 16:59] #247 closed

[2016-01-22 20:18] #248 closed

[2016-01-24 03:01] oswaldomilet opened #271 "Consider "rev" bundle in export"
I guess in [this](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript/build/tasks/export-release.js#L18) line you should consider listing bundles marked to generate revisions (`"rev": true`). If not, they'll not be copied to export folder.

[2016-01-25 07:33] BBosman commented on #247
Don't know if it's important, but since this change I get the following warning from npm:
`npm WARN karma-coverage@0.2.6 requires a peer of istanbul@~0.3.0 but none was installed.`

[2016-01-25 13:34] EisenbergEffect commented on #247
@PWKad Looks like that broke things. Would you submit a new PR to add this back please? I'd like to get a new set of releases out in the next day or two.

[2016-01-25 15:05] PWKad commented on #247
Doh, on it now.

[2016-01-25 20:32] #269 closed

[2016-01-26 11:31] fractalf opened #273 "npm warnings"
You might want to upgrade package.json to get rid of these:

npm WARN deprecated babel-core@5.8.3: Babel 5 is no longer being maintained. Upgrade to Babel 6.
npm WARN optional dep failed, continuing fsevents@1.0.6
npm WARN optional dep failed, continuing fsevents@1.0.6
npm WARN deprecated lodash@1.0.2: lodash@<2.0.0 is no longer maintained. Upgrade to lodash@^3.0.0
npm WARN optional dep failed, co

[2016-01-26 12:07] ansarizafar commented on #41
@EisenbergEffect  Official Webpack Aurelia loader is very important. Initial load time is a big problem. Async routing and SSR is a must nowadays. Do Aurelia support async routing and SSR?

[2016-01-26 12:31] martijnboland commented on #41
@dschissler the module registry file looks very hard coded, but the trick is that you have to provide this file yourself because there also could be other 3rd party libs required.
I imagine that people install the official aurelia webpack loader from npm and then create (or copy) a module registry file and put that in the root of their app (or a location where resolve.root points to). The module r

[2016-01-26 14:06] EisenbergEffect commented on #273
I'm closing this because we are aware of the issue and have publicly blogged about the problem. This relates to the fact that Babel's sloppy move from v5 to v6 broke a ton of tooling and even removed features from the language. We are waiting for them to fix all the issues before we update.

[2016-01-26 14:06] #273 closed

[2016-01-26 14:13] EisenbergEffect commented on #41
@ansarizafar We've always supported async routing. If you bundle your apps, you should get pretty good load times. What problems are you seeing? What is SSR in this context?

@martijnboland Keep me updated on your progress. We can easily make the loader official and then create a webpack skeleton. In the skeleton we could include a config file at the root...perhaps we could even design this config

[2016-01-26 15:11] Gheoan commented on #273
@fractalf you get the fsevents warnings because fsevents is supported only on OS X.

[2016-01-26 15:55] dschissler commented on #41
@martijnboland That seems like the least attractive part.  I'm not sure how it is normally done in Aurelia with jspm but maybe it is less awkward to wire up the project.

Is there really no other way than to have a scrolling page of wiring that needs to be maintained in each project?

[2016-01-26 16:01] EisenbergEffect commented on #41
@martijnboland Would it be possible to teach the webpack/aurelia loader to use a "convention" to locate any non-relative module ids?

[2016-01-26 16:10] ansarizafar commented on #41
@EisenbergEffect from SSR I mean Server Side Routing. I have found your comments about SSR in another issue. Hope to see this feature soon. With async routing, webpack can create separate bundle for each route  I am sure Aurelia will be big this year. Thanks for amazing work.

[2016-01-26 16:12] EisenbergEffect commented on #41
Yes, we fully support the async routing today. We support history apis as well so that you can have your server configured to serve the Aurelia app from various standard urls, with client-side routing. That's also available. Server-side rendering is something we are working on in multiple phases. We will incrementally roll that out this year.

[2016-01-26 16:17] martijnboland commented on #41
Maybe... I have not been able to load npm modules dynamically. It *is*
possible with a relative path and some context regex hacking but then you
have to explicitly link to the .js files in dist/commonjs/

On Tue, Jan 26, 2016 at 5:01 PM, Rob Eisenberg <notifications@github.com>
wrote:

[2016-01-26 16:48] John0x opened #275 "Can't run under Electron"
Hey, I've followed the readme instructions but once I run electron index.js it opens up and just shows the spinner, which runs forever.
Using the newest version.

[2016-01-26 16:52] EisenbergEffect commented on #275
It's a bug already fixed on master and releasing today or tomorrow.

[2016-01-26 16:52] #275 closed

[2016-01-27 00:21] grantcarthew commented on #41
FYI: http://blog.dripstat.com/why-we-switched-from-jspm-to-webpack/

I find the refresh times to slow down development significantly. I have not used Webpack. This is just an article I came across.

[2016-01-27 02:00] EisenbergEffect commented on #41
Understood. We would definitely love to support web pack. I think @martijnboland has a good start. We just need to keep working on that until we get to something really solid.

[2016-01-27 08:55] bellstrand commented on #258
We could change the export task like this to solve the problem:
[code]
That would require us to not have multiple revisions of our bundles thou (cause all would be copied), maybe a task that clears old bundles when creating a new one would be good idéa then?

[2016-01-27 14:23] EisenbergEffect commented on #258
I'm thinking to remove the export task. That was a community contribution that I don't think is adding much value, especially since everyone needs to export things little differently...and some don't need to export at all.

[2016-01-27 14:23] #258 closed

[2016-01-27 14:26] mbroadst commented on #258
@EisenbergEffect I disagree. The export task was the missing link for you're final deployment step, this gives users a full "product life cycle" to work with out of the box.

[2016-01-27 14:38] PWKad opened #276 "Investigate switching to karma-systemjs for all skeletons"
Check on latest version of systemjs and report back findings here.  If necessary document what fixes need to take place on any ends and link issues here.

[2016-01-27 14:39] Aniel commented on #258
I agree with @mbroadst

[2016-01-27 14:52] EisenbergEffect commented on #258
It's code we didn't write and has become a maintenance burden for us ever since we accepted it. Please submit a pull request to fix the issue if you want us to keep it in the skeleton.

[2016-01-27 15:45] martijnboland commented on #41
I've created an alternative branch that doesn't need the static
moduleregistry anymore, see
https://github.com/martijnboland/aurelia-skeleton-webpack/tree/require.context
.

In this branch, the (
https://github.com/martijnboland/aurelia-skeleton-webpack/blob/require.context/loader/aurelia-loader-webpack.js)[aurelia-webpack-loader]
creates a special require context that includes all aurelia js file

[2016-01-27 15:59] EisenbergEffect commented on #41
I think this could be very workable. The one thing we are missing is how 3rd party libraries would be handled. Or maybe this handles that already? I'm not familiar enough with web pack to know...

[2016-01-27 16:44] dschissler commented on #41
@martijnboland I [forked](https://github.com/dschissler/aurelia-skeleton-webpack) and created a pull request before this commit that could help with this issue.  Just look at this: https://github.com/dschissler/aurelia-skeleton-webpack/blob/master/webpack.config.js#L25

You can set the root to more than one path so that the user doesn't need to define two additional constants.  You may be able to

[2016-01-27 16:51] EisenbergEffect commented on #41
@martijnboland @dschissler Do you feel this is far enough along for me to create an official aurelia-webpack-loader repo? @martijnboland Do you have some interest in taking on the ownership of that...perhaps joining the Aurelia team to manage that scenario and coordinate with community developers to enable solid webpack support?

[2016-01-27 17:01] dschissler commented on #41
I think that this new development is great and I only have one issue and one concern.  I think that it would be best to boot up Aurelia without having to define those two constants in Webpack.  Its not a huge issue but it is unnecessary burden and its unusual.  I could go off and try to improve that but I suspect that code would be ignored :( and I won't be the one maintaining it.  I think that tr

[2016-01-27 17:08] dschissler commented on #41
So the either from scratch or from the skeleton the developer sees that they just need one or two aurelia related imports to get it all working.  Then they will come to a point where they have their own aurelia plugins and they will do a search on how that is done and it will say to name the files/package with a certain naming convention into one of their root lookup directories (so app modules or

[2016-01-27 19:08] martijnboland commented on #41
@dschissler

Setting the root(s) has no impact on the issue I'm having with loading modules dynamically. When requesting a module *dynamically*, you can not simply give the webpack require function a variable with the moduleId, but there *always* has to be a static path component (absolute or relative) in it:

[code]

The constants __APP_SRC__ and __MODULES_ROOT__ are in the webpack config file be

[2016-01-27 19:19] dschissler commented on #41
Ok thanks I'm not "butthurt" and I was just teasing.

I think that you should try doing what you are doing in a very similar way but instead of `require.context` where it takes 3 parameters you would instead use the normal `require` with the regex but starting from a relative path to have it look through all of the root paths.  Basically it would be the same regex but starting without a `/`.  It m

[2016-01-27 19:24] dschissler commented on #41
I know that it is possible to have Webpack build them because I do this for `po-loader` but the issue is also having them be imported.

[2016-01-27 19:33] dschissler commented on #41
One possibility is creating an Aurelia plugin that can then look at resolve.root and then export some namespaced constants.  This plugin could also allow more flexibility with the patterns to include when booting up Aurelia.  Its almost the same but perhaps easier to understand for newbies and could grow into having powerful options for advanced users.

[2016-01-27 19:47] jedd-ahyoung commented on #271
@oswaldomilet Can you clarify what you're attempting to do? Are you running the `export-release` task as part of a publish script?

[2016-01-27 20:38] martijnboland commented on #41
@EisenbergEffect I'm not sure I have enough free time to take ownership of an official project. The thing  is: I'm not an Aurelia user and I really don't know much about it.
A little while ago I wanted to try Aurelia to see if it's suited for crud-heavy apps (which I suspect it is). Having worked with webpack in a few projects, I was a little underwhelmed with the way the Gulp/SystemJS/JSPM system

[2016-01-27 20:49] dschissler commented on #41
I haven't used SystemJS but I suspect that it isn't the new-new thing after all.  I predict that Babel 6 with Webpack 2 will be doing the future thing better and that there will be far more Aurelia Webpack users than anything else and it will not be an also-extra thing.

[2016-01-27 21:10] EisenbergEffect commented on #41
We very much want to support Webpack. I think it's more valuable if the initial implementation comes from a community of enthusiastic Webpack users. I could even see us making Webpack our recommended choice if it were done well.

[2016-01-27 22:11] dschissler commented on #41
I'm wondering what happens if one project has two entry points and you don't want to load everything Aurelia related for each entry point?

@EisenbergEffect are we doing all of this purely because the current bootstrap uses ES6 module format and Webpack 1 doesn't support this natively?  If this is the case then this could be easily solved by requiring Webpack 2.  Its already quite functional and i

[2016-01-27 22:13] EisenbergEffect commented on #41
I think that's a part of it. I certainly don't know enough about Webpack to answer you thoroughly. But I did hear mention by another developer that Webpack 2 would be the way to go for Aurelia. (I actually didn't know this work wasn't Webpack 2...sorry)

[2016-01-27 22:33] dschissler commented on #41
I tried to upgrade but there are issues.  The Webpack ecosystem is on fire since just some days ago the main projects updated their dependencies to make it almost possible.  I was trying to isolate some packages and I noticed that for an offending package someone submitted an issue just an hour ago.  I think that it should be almost entirely resolved in 1-2 weeks but its not necessarily a blocker

[2016-01-27 22:36] EisenbergEffect commented on #41
That would certainly be fine with us. If Aurelia takes ownership and officially supports this going forward, we want to be on the latest version of Webpack.

BTW, if I haven't said this, I'm very excited and very happy that you all have stepped up to try to get this working. This is really fantastic.

[2016-01-27 22:57] dschissler commented on #41
Ok thanks.

@EisenbergEffect  Is jspm Aurelia setup to load everything in the map automatically?

I'm thinking that its not particularly bad in Webpack to manually load up a page of Aurelia stuff but it just looked very raw.

In Weback you can have common code associated with multiple entry points automatically so that it doesn't need to be done manually each time.  Its more than just saving a sin

[2016-01-27 23:19] martijnboland commented on #41
Please go ahead with your fork (the original one with the moduleregistry file, right?). I'm very interested to see what's possible with that approach. I have the feeling it can be a lot less clumsy, but just couldn't figure out how.

[2016-01-28 03:01] dschissler commented on #41
@EisenbergEffect it looks to me like there is a sort of cyclic dependencies / execution order issue in the bootstrap process.  I tried all sorts of combinations and the problem is that the require (map) cannot be done between `import 'aurelia-bootstrapper'` and `import 'aurelia-loader-webpack'` because of initialization order.  Currently the map file returns a function that evaluates the requires

[2016-01-28 03:02] dschissler commented on #41
Happy unicorn day!

[2016-01-28 04:57] dschissler commented on #41
I did a whole lot of research and I ended up throwing a lot of work away.  My added one more commit to my [fork](https://github.com/dschissler/aurelia-skeleton-webpack) to allow the registry to be more portable by being able to pass in the modules registry function.  Its not pretty but it is starting down the path.

I learned a lot about how Aurelia works and I definitely think that the commons ch

[2016-01-28 04:59] EisenbergEffect commented on #41
@dschissler If it makes things easier...we could write a custom bootstrapper for webpack. All the bootstrapper does is get things going and it's really tailored to require.js/system.js systems It is very little code and is really just a convenience module for the most common use cases we have today.

[2016-01-28 05:03] dschissler commented on #41
@EisenbergEffect that is where everything is happening good or bad.  See [webpack-aurelia-moduleregistry.js] (https://github.com/dschissler/aurelia-skeleton-webpack/blob/master/user_modules/webpack-aurelia-moduleregistry.js) where everything needs to be wrapped in a function because if it is evaluated right away and returned as an object then it would break stuff.  I feel like it shouldn't be but

[2016-01-28 05:32] dschissler commented on #41
@EisenbergEffect That might be the best way to go.  As I'm working with it it as an analogy it keeps seeming like I'm working in jquery and binding my views to the dataset rather than binding my elements to my view.  I mean it just seems all backwards because webpack likes to know many things at build time and that cool dynamic stuff seems to be awkward.  I suspect that for Aurelia + Webpack to be

[2016-01-28 07:19] himanshu-daffodil commented on #39
run command  ** jspm install -y**

[2016-01-28 11:09] jaredthirsk opened #277 "jspm update pulls in new aurelia dependency versions with redundant *.d.ts files"
Folder: skeleton-typescript-asp.net5/src/skeleton-navigation-typescript-vs

1. Run `jspm update`.  This updates some packages from beta 1.0.1 (has only one .d.ts file for many aurelia depenendencies) to 1.1.0 (has multiple redundant .d.ts files for amd/commonjs/etc)
2. Run `gulp build`.  Get a bunch of Duplicate identifier errors (see below.)

...what's the answer to this?

[code]

[2016-01-28 13:17] niieani commented on #277
+1
The latest Aurelia updates contain multiple redundant `.d.ts`.

[2016-01-28 13:30] Vlemert commented on #277
What actually happens is that this change:
https://github.com/aurelia/dependency-injection/commit/11d1686765c626896dbb3d5edb7f5b40da9dd5ca
causes jspm to download the entire github repo instead of just the dist/amd folder like before.

This results in 5 (6 if there is one in the /doc folder) .d.ts files to be loaded per package.

For now, I fixed this locally by excluding the dist subfolders and t

[2016-01-28 14:29] #257 closed

[2016-01-28 15:49] EisenbergEffect commented on #277
This is a result of our attempt to migrate our package.json to support both jspm .16 and .17. We made one mistake ;) I'm in the process of fixing it If you try again in an hour or so to update, this problem should go away. Apologies! It was our confusion for how to upgrade jspm metadata correctly.

[2016-01-28 15:49] #277 closed

[2016-01-29 01:26] Vheissu commented on #252
Definitely not a massively breaking change, but I am in the same boat. I find the errors about not being ablr to load modules which do exist to clutter up my Terminal window and make it hard to tell what errors are really errors and so on. Also, it confuses people on my team I am currently trying to bring up to scratch with Aurelia and TypeScript.

[2016-01-29 01:34] Gheoan commented on #252
@Vheissu simply remove https://github.com/aurelia/skeleton-navigation/blob/b8ae15906c05e54ac67528fcc24b5fd0caed2614/skeleton-typescript/build/tasks/build.js#L22 and the errors will be gone. Will submit a PR.

[2016-01-29 01:35] Vheissu opened #278 "TypeScript Code Coverage Task?"
Are there any plans to implement code coverage in the Aurelia TypeScript Skeleton like there is in the standard ES Skeleton? I ask because there is the [isparta dependency](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript/package.json#L43) in the package,json, but it is not being used. I would love to implement code coverage into my app, but not sure where TypeScript

[2016-01-29 01:51] Vheissu commented on #252
@Gheoan A much better solution, cheers for that.

[2016-01-29 02:19] PWKad commented on #252
Glad to hear that this is fixed, can someone either write out the changes explicitly here or PR the repos with the change?  Want to get this wrapped up.

[2016-01-29 11:50] atsu85 commented on #252
@Gheoan, Your comment

Will just disable incremental compiler (implemented with [gulp-changed](https://www.npmjs.com/package/gulp-changed) plugin). I did this myself as well few weeks ago when i started new project, but that is just a workaround that sacrifices TypeScript compile task performance. When the TS compile task takes more time due to project growth You'll start to miss incremental compi

[2016-01-29 12:46] Gheoan commented on #252
@atsu85 I am aware of that. As I said [here](https://github.com/aurelia/skeleton-navigation/pull/279), in order to get rid of the errors, the gulp plugin should do the incremental filtering. Both `gulp-typescript` and `gulp-tsb` claim they have incremental compilation. I will try them and report back.

[2016-01-29 13:12] brunogoossens commented on #269
Works for me. Still the current tag provided in package.json does not include this commit.

[2016-01-29 13:55] njappboy commented on #249
@lucacestola

npm ERR! node -v v0.10.31
npm ERR! npm -v 1.4.9

Can you update npm to a newer version and see if it resolves your issue.

[2016-01-29 13:59] AshleyGrant commented on #249
Update Node as well. At least update to the latest 4.x LTS release.
On Jan 29, 2016 8:55 AM, "Charles Wagner" <notifications@github.com> wrote:

[2016-01-29 20:30] denismp opened #280 "Getting started application doesn't work quite right."
[MyApp2.zip](https://github.com/aurelia/skeleton-navigation/files/110368/MyApp2.zip)
![2016-01-29_15-26-08](https://cloud.githubusercontent.com/assets/2000960/12687301/f6d1e318-c69c-11e5-8904-e92d0e833a23.jpg)

Hi,

The string values for the users display as raw strings in the welcome.html page.  Most likely, I have done something wrong, but I would appreciate it if you would point it out to me.

[2016-01-29 20:33] EisenbergEffect commented on #280
I think I know what this. It's a common mistake...perhaps it's even wrong in our docs. But, in ES 2015 and TypeScript, string templates need to be enclosed in back ticks, not quotes.

[code]

[2016-01-29 20:33] EisenbergEffect commented on #280
Let me know if that fixes it.

[2016-01-29 20:52] denismp commented on #280
Hi Rob,

It has been improved, though it doesn’t behave consistently in safari, chrome, or firefox.  I am now getting the picture below.  Can you tell me what I have to do for the alert?

I am also getting warnings in the WebStorm editor.  It says that the submit needs to be static and the get fullName is unused.

-Denis

[2016-01-29 20:54] EisenbergEffect commented on #280
Show my your full code from the js and html files.

[2016-01-29 21:05] denismp commented on #280
Unfortunately the <template> html doesn't insert well.

<template>
  <section>
    <h2>${heading}</h2>

    <form submit.trigger="submit()">
      <div>
        <label>First Name</label>
        <input type="text" value.bind="firstName">
      </div>
      <div>
        <label>Last Name</label>
        <input type="text" value.bind="lastName">
      </div>
      <div>
        <label>Full Name</lab

[2016-01-29 21:07] EisenbergEffect commented on #280
I fixed it for you. You can use three backticks for large code blocks on github. You can also follow the backticks with "html" or "javascript" to get the correct highlighting.

[2016-01-29 21:08] EisenbergEffect commented on #280
Also, you need to use the backticks in the submit button as well for the alert message.

[2016-01-29 21:08] EisenbergEffect commented on #280
Other than that, I don't see anything wrong. Can you tell me what errors you are seeing?

[2016-01-29 21:09] EisenbergEffect commented on #280
WebStorm could be confused because you are using ES 2016 class field instances.

[2016-01-29 21:13] Gheoan commented on #280
@EisenbergEffect latest Webstorm supports ES 2016 class field.
@denismp set ECMAScript 6 as the JavaScript version in WebStorm’s Preferences (Languages & Frameworks | JavaScript).

[2016-01-29 21:14] denismp commented on #280
Runtime error from chrome:

INFO [aurelia] Aurelia Started
aurelia-logging-console.js:38 DEBUG [templating] importing resources for http://127.0.0.1:8080/src/app.html ["bootstrap/css/bootstrap.css", "font-awesome/css/font-awesome.css"]
aurelia-logging-console.js:38 DEBUG [templating] importing resources for http://127.0.0.1:8080/src/welcome.html []
aurelia-binding.js:2032 Uncaught Error: submit is

[2016-01-29 21:17] EisenbergEffect commented on #280
The web storm errors on the html are bogus errors. That is spec-compliant html...web storm just doesn't realize it. The real error is "submit is not a function". Can you check to see if you have any compiler errors? You might also want to run `gulp clean` and then `gulp build`

[2016-01-29 21:18] denismp commented on #280
I have already set WEBstorm for ecma6.

gulp clean
[16:18:05] No gulpfile found
Deniss-IMAC:MyApp2 denisputnam$ which gulp
/usr/local/bin/gulp
Deniss-IMAC:MyApp2 denisputnam$

How do I create the gulp file?

[2016-01-29 21:22] EisenbergEffect commented on #280
Ok, you are using the beginner kit. Gotcha. There is no gulp for that. Please zip up your project and attach it here. Let me take a look.

[2016-01-29 21:23] Gheoan commented on #280
@EisenbergEffect the zip is in the first comment of this issues

[2016-01-29 21:24] denismp commented on #280
[MyApp2.zip](https://github.com/aurelia/skeleton-navigation/files/110443/MyApp2.zip)
Here is the latest version.

[2016-01-29 22:14] denismp commented on #280
Okay, I removed the --optional 'es7.classProperties", "es7.decorators'  from the file filter and that seems to have corrected the problem.

Boy that was ugly.

The config.js file has this in it:

`System.config({   defaultJSExtensions: true,   transpiler: "babel",   babelOptions: {     "optional": [       "es7.decorators",       "es7.classProperties"     ]   },`

[2016-01-29 22:14] #280 closed

[2016-01-29 22:24] EisenbergEffect commented on #280
Ok...so was there a bug in our starter kit? I'm not quite following what the issue was.

[2016-01-30 00:27] denismp commented on #280
Originally I was having a problem with the @inject annotation.  Then someone suggested that I use the --optional 'es7.classProperties", "s7.decorators’, which ended up placing the transpiler entry in the config.js file (I think), which then created the problem that I posted.

I think that the WEBstorm editor then populated the config.js file with the transpiler/babelOptions (don’t hold me to that

[2016-01-30 22:51] lares83 opened #281 "App in not loading"
Hi,
After installing the latest version of skeleton-navigation, page is not loading and I get this errors in console:

[code]

[2016-01-30 23:00] EisenbergEffect commented on #281
Try running jspm install and see if that fixes it.

[2016-01-30 23:06] lares83 commented on #281
I tried and unfortunately it didn't help. Today I downloaded the latest version and tried to setup from scratch and this issue came out

[2016-01-30 23:07] EisenbergEffect commented on #281
I just tested it and it's working fine. Try delting your jspm packages folder and your config.js and then running jspm install again. The errors you are getting above are indicating that you don't have the libraries installed (or at least not the correct versions).

[2016-01-30 23:15] lares83 commented on #281
Nope still didn't help. Now I don't have error with 'pal' libraries:
[code]
I'm trying to install es2016 skeleton app. On Gitter one guy had the same issue as me.

[2016-01-30 23:43] EisenbergEffect commented on #281
Ok, I'm able to reproduce. I'll look into it this evening.

[2016-01-30 23:43] lares83 commented on #281
Ok great, thanks:)

[2016-01-30 23:48] EisenbergEffect commented on #281
If you wanted to fix it yourself, it's easy though. Just jspm install everything it says isn't found. That's your problem. You are missing modules. They should have been installed by the package manager. I'm not sure why they weren't. I'm investigating. But, you can jspm install aurelia-pal-browser and then wait for the next 404 and then install that, etc...if you don't want to wait on the officia

[2016-01-31 00:02] chips5k commented on #281
Also experiencing this issue. From what i can see it looks like JSPM is only installing the core dependencies and not the dependencies of those core deps.

I tried several things such as clearing jspm cache, forcing re install, updating etc.. nothing gave so for now i've done as you mentioned.

[2016-01-31 00:04] lares83 commented on #281
@EisenbergEffect Yes, I've already done it.

[2016-01-31 02:40] EisenbergEffect commented on #281
Ok, just released new versions of the skeletons. What it amounts to is that certain version of jspm, in particular the latest ones, have a bug where they won't correctly install sub-dependencies in some scenarios. To solve the issue, we locked the jspm version in the package.json to one that we know will install things correctly.

[2016-01-31 05:30] bischofb opened #282 "bluebird.js throws warnings about a promise not handled"
I added the bluebird.js library to my index file and now in my console window I get many lengthy warnings that start out:

"Warning: a promise was created in a handler but was not returned from it
    at C (http://10.211.55.6:8080/jspm_packages/npm/core-js@2.0.3/client/shim.min.js:1857:21)
.....
From previous event:
    at l.a.import (http://10.211.55.6:8080/jspm_packages/system.js:4:11663)
    at

[2016-01-31 12:40] lares83 commented on #281
I confirm, it's working fine. Thanks :)

[2016-02-01 08:33] alexsurg opened #283 "IE 11 Memory leak"
Hi,
We are developing a big system using Aurelia and while testing the application we saw that there are a big memory leak in IE. Every time that we refresh the page the IE process is using more memory.

To determine if the leak is caused by our application or by the framework i have downloaded a fresh copy of the Skeleton project and altered it to auto reload.

![code](https://cloud.githubusercon

[2016-02-01 09:08] alexsurg commented on #283
Forget to mention, it doesn't happen in Chrome or Firefox

[2016-02-01 15:36] AshleyGrant commented on #283
Does this also happen when IE Dev Tools aren't turned on?

[2016-02-01 17:41] jdanyow commented on #283
Clear your console, then check for leaks.  Logging to the console causes "faux" memory leaks- more info here:  http://stackoverflow.com/a/13001962/725866

[2016-02-01 19:01] alexsurg commented on #283
Thanks, that was the issue. When i closed the IE Dev tool the Skeletons project memory behaved fine.
Unfortunately i still have a small memory leak in my project (only in IE) do you have other suggestions.

[2016-02-01 19:01] #283 closed

[2016-02-01 19:52] John0x opened #284 "Export doesn't work"
Hey there, it seems that the typescript-skeleton export task is broken.
The bundled js is missing in the dist folder.

Another question, why is there no export task for electron? That would be awesome!
I'd like to keep my electron binary package small (cause electron itself is already pretty big), therefore a bundle/export task would be great.

[2016-02-01 23:52] KamBha opened #285 "ES2016 skeleton does not refresh"
Not sure if you this is isolated to the ES2016 skeleton, but if you make a change to the source code, it looks like a rebuild doesn't take place and you need to refresh the whole page (at least not in Firefox).

Is this intentional?

[2016-02-01 23:54] EisenbergEffect commented on #285
Is this in the skeleton or in the beginner's kit?

[2016-02-01 23:59] KamBha commented on #285
This is the skeleton.  My mistake was that I used gulp serve.  I should have used gulp watch.  I don't know where I got the idea that gulp serve was the right way of running this (probably force of habit.)  Closing this issue.

[2016-02-01 23:59] #285 closed

[2016-02-02 00:07] EisenbergEffect commented on #285
No problem. Always glad to hear that there isn't a bug :)

[2016-02-02 03:44] jedd-ahyoung commented on #284
@John0x Are you referring to the `export-release` gulp task in the typescript-skeleton? That task does not export to the `dist` directory by default. (Check paths.js to change the desired directory.)

Do you experience the same problem when you use the `bundle` gulp task? Note that, before bundling, you need to build the project using `gulp build` or `gulp serve`.

[2016-02-02 03:54] dschissler commented on #41
[What's new in webpack 2](https://gist.github.com/sokra/27b24881210b56bbaff7)

[2016-02-02 09:03] John0x commented on #284
@jedd-ahyoung I'm referring to the export task, which is in the export-release file.
No, the bundle task does bundle not have any problems (it generates the needed file), which is kinda weird, cause the export task does actually call the bundle task.

[2016-02-02 17:47] kuechlerm commented on #265
I tried to use the karma-config for tdd-unit-testing of the skeletion-typescript project in my project and the same error occurred.

systemjs@0.19.18 was the culprit. **Using systemjs@0.19.6 works though**.
Setting
`'test/unit/*': 'test/unit/*',`
was not necessary.

Horray for semantic versioning :(

[2016-02-02 18:36] dschissler commented on #41
@EisenbergEffect My wandering mind today has fixed on the need to create an Aurelia template webpack loader.  By this I mean a `aurelia-template-loader` Webpack loader.  The reason for this is that it will make html includes be built into the bundle rather than dynamically loaded.  Then a normal Aurelia Webpack bootstrap will get everything up and running.  I think that one difference is that the

[2016-02-02 19:03] EisenbergEffect commented on #41
@dschissler The `aurelia-app` attribute is really something that is part of our default bootstrapper. So, if that is causing problems, I think it would be good to investigate creating a webpack bootstrapper. So, the pieces for webpack would be:

* A web pack loader
* A web pack template loader
* A web pack bootstrapper

These pieces are all designed to have their implementations swapped in Aurelia

[2016-02-02 20:28] dschissler commented on #41
I don't think that *A web pack loader* is necessary.

Well I think that some way or another you are going to need some way to identify a div to insert Aurelia stuff into so why not keep it consistent with `aurelia-app`?  There are obviously a lot of ways to do and I'm thinking that it makes sense to keep it consistent.  In my vision the most important part is removing the dynamic import map and ha

[2016-02-02 20:38] EisenbergEffect commented on #41
You could write a custom bootstrapper, but sill adopt the `aurelia-app` attribute. I was just thinking that having a custom bootstrapper just might make things easier on developers for setup purposes. You could just create a template loader that console logs template requests and returns some dummy html for starters. Then start patching up the pieces from there.

Currently Aurelia does do template

[2016-02-02 20:52] dschissler commented on #41
Well for our immediate needs the current situation is just wonderful.

Great idea

I think that it is basically necessary for a sane expectation of use.

As far as writing the bootstrapper could you point me to some explanations about why it is the way that it is?  My weakest part of all of this is specifics about the Aurelia init process.  Really I don't know much about that.

[2016-02-02 22:05] martijnboland commented on #41
I'm still tinkering a bit with my latest experiment ([the request.context branch, without the large aurelia modules map](https://github.com/martijnboland/aurelia-skeleton-webpack/commits/require.context)) and I finally understand how to (ab)use the ContextReplacementPlugin to dynamically load Aurelia libs. Don't know if this will result into a proper solution, but there are at least some extra pos

[2016-02-02 22:08] EisenbergEffect commented on #41
I would definitely start with the TextTemplateLoader.

[2016-02-02 22:33] dschissler commented on #41
@martijnboland Briefly looking at that my impression is that it could work with the only downsides being a larger bundle size from the map but that shouldn't be much of an issue.

Is it possible to access the webpack `resolve.root` values from within that plugin or the `createContextMap` function?  It would need to not have `node_modules` hard coded to be able to look up all root paths.  So it wou

[2016-02-03 00:31] pat841 opened #286 "Gulp Watch Issue"
**Process**:
- Clone the repo (ES2016)
- npm install
- jspm install -y
- gulp watch
- Navigate to http://localhost:9000/

**Issue**:
GET http://localhost:9000/dist/aurelia-2560ab1f9a.js 404 (Not Found)
Uncaught (in promise) Error: XHR error (404 Not Found) loading http://localhost:9000/dist/aurelia-2560ab1f9a.js(…)

Seems like the gulp watch task doesnt actually bundle the app but only builds it.

[2016-02-03 14:31] wshayes commented on #286
Gulp watch doesn't bundle - and you don't want it to.  You can read this blog for more details by Matthew James Davis:  http://davismj.me/blog/aurelia-bundling/  There is also an Aurelia Doc http://aurelia.io/docs#/aurelia/framework/1.0.0-beta.1.1.1/doc/article/bundling-your-app-for-deploy

[2016-02-03 14:39] pat841 commented on #286
I understand that bundling isint meant for local development but thats just to get around the issue of the normal "gulp watch" command not working correctly. The watch task builds Aurelia but when I navigate to localhost:9000 I get the aurelia.js errors mentioned above.

[2016-02-03 14:44] wshayes commented on #286
If you've bundled, you then need to unbundle in order for gulp watch to work.  Matthew's article indicates how to add an unbundle task to gulp watch.  The bundle task actually re-writes config.js such that gulp watch won't work.  I really like Matthew's article as it (to me) presents best practice on developing with and without bundling.

[2016-02-03 14:45] EisenbergEffect commented on #286
Did you try downloading the release instead of cloning? I tried it from the release over and over again over the last few days so I know that works.

[2016-02-03 14:45] EisenbergEffect commented on #286
The JS file request does look like a bundled file name. So, try @wshayes advice.

[2016-02-03 14:45] #286 closed

[2016-02-03 22:19] mslonina commented on #269
Works fine now, thank you!

[2016-02-03 23:08] pat841 commented on #286
Yeap that was my problem. Thanks!

[2016-02-03 23:40] martijnboland commented on #41
Things are getting better at https://github.com/martijnboland/aurelia-skeleton-webpack. I've create a webpack plugin based on the ContextReplacementPlugin to be used in conjunction with the aurelia webpack loader.
The aurelia module loader now loads everything within a fixed context 'aurelia-loader-context'. The [AureliaContextPlugin](https://github.com/martijnboland/aurelia-skeleton-webpack/blob/

[2016-02-03 23:51] EisenbergEffect commented on #41
Sounds like you are making good progress!
I feel like the size is larger than usual. We can look into that once everything is working the way you like though.

[2016-02-04 04:46] Vheissu commented on #276
I ran into this issue today with TypeScript. The issue was my SystemJS version was too high. I had to install 0.19.6 which the package.json specifies, but running jspm dl-loader --latest actually installs a later version which breaks karma-systemjs.

[2016-02-04 12:29] dschissler commented on #41
@martijnboland Is the current setup capable of adding, referencing, watching, etc new files?  Say I'm running webpack and I add a new file and then its included it in a template or in another JS file.  Will it be able to find it normally in all instances or is much of it being done only once in the webpack.config initialization?  If it does have this limitation and there is no work around then it

[2016-02-04 13:15] martijnboland commented on #41
@dschissler I suspect it will be immediately available. At least in the ./src folder. Having to restart webpack is no option.

[2016-02-04 13:21] dschissler commented on #41
@martijnboland It all needs to be immediately available from anything that can resolve to any root path.  I haven't been able to dig into your code yet.

[2016-02-04 20:19] martijnboland commented on #41
@dschissler I can confirm files are immediately available. The only thing that doesn't work at the moment is true Hot Module Replacement (without browser refresh) because Aurelia keeps its own cache of loaded modules. After adding or editing a file, a full browser refresh is performed automatically.

[2016-02-04 20:50] dschissler commented on #41
@martijnboland Sounds pretty good.  If you can shove `createContextMap` into your plugin and then have it run off of `resolve.root` paths then it sounds like it is all good.  You might be able to gain access to that setting within the plugin scope.

[2016-02-04 20:52] dschissler commented on #41
@martijnboland I'm just thinking that if you can put that extra stuff into the plugin then it makes it real easy to add it to a project and then it is good enough to pass around.  Down the road if someone does a better job maybe with a different approach then it will be easy to change the setup.

[2016-02-04 21:21] #252 closed

[2016-02-04 23:43] PWKad commented on #265
This is correct the problem is with the latest systemjs versions.  I don't think the problem is with systemjs completely but actually with one of the plugins is my best guess, because I tested it without TypeScript at all and it's fine.  Haven't had a chance to get back in and dive in to the issue yet.

[2016-02-05 08:59] dschissler commented on #41
I can't figure out how this regex relevant: `/aurelia-loader-context/`.  I tried removing the check in `AureliaContextPlugin` but it seems to be necessary.

I'm getting these warning messages on the stock build:

[code]

[2016-02-06 00:04] martijnboland commented on #41
I've extracted and cleaned the webpack plugin for Aurelia and set some sensible defaults. It's now at https://github.com/martijnboland/aurelia-webpack-plugin and the skeleton app at https://github.com/martijnboland/aurelia-skeleton-webpack references it.

There are now two components for webpack support: an Aurelia loader aurelia-loader-webpack for run-time module loading and a new one: aurelia-we

[2016-02-06 15:48] heruan opened #289 "Replace tsd with typings in TypeScript skeleton"
Since `tsd` is [deprecated](https://github.com/DefinitelyTyped/tsd/issues/269), it should be replaced with [typings](https://github.com/typings/typings) in the TypeScript skeleton.

[2016-02-07 05:00] JeremyBYU commented on #41
Just chiming in to say martijnboland skeleton worked fine for me (running Windows 10).  One thing I noticed is that two files are provided.
 1. bundle.js (~700 kb)
 2. 1.bundle.js (~650 kb)

Looking at the skeleton I can't quite figure out why they both are so large from what is being required.  Possibly wondering if there is an overlap in code. Checked the production build (minification) and they

[2016-02-07 09:35] dschissler commented on #41
I use the CSS extraction plugin to provide a real file that I include in the HTML head.  This also prevents flickering while loading up.

[2016-02-07 23:22] jhoguet opened #290 "Why do jspm and gulp need to be installed globally?"
I have gotten into the habit of using only local versions of "exectuables." This makes it much easier to do CI and run consistently across developer machines.

I can then do `node_modules/.bin/jspm install -y`  and `node_modules/.bin/gulp watch`

Is there a good reason the docs suggest that you need both a local and a global version?

see also #179 and #134

I would be willing to do a pull request

[2016-02-08 00:51] JeremyBYU commented on #41
Just looked it up.  Thanks!

[2016-02-08 01:14] EisenbergEffect commented on #41
There definitely seems to be something going on there. The bundles shouldn't be that large...

[2016-02-08 01:22] martijnboland commented on #41
The development bundles are that large because they also contain the sourcemaps and the webpack hot reloading code. Both Development and Production bundles indeed include the bootstrap css file.

[2016-02-08 01:29] EisenbergEffect commented on #41
Ah. Thanks for the explanation.

[2016-02-12 01:57] JasonWeise commented on #284
I have the same issue, everything works fine (gulp watch, bundle etc..) except with the export.
When running the export gulp task the export directory doesn't contain the necessary files to serve the app (though it does contain some files it doesn't seem to generate all the required files).

[2016-02-12 08:25] paulvanbladel opened #293 "error router loaders must implement..."
In latest bits getting following error

![image](https://cloud.githubusercontent.com/assets/4886272/13001910/9c3e839c-d16a-11e5-805f-ddb2d99300b2.png)

A clean git clone, using skeleton-es2016, jspm 0.16.15 (running against local)

[2016-02-12 09:30] paulvanbladel commented on #293
Probably false problem, sorry.

[2016-02-12 09:30] #293 closed

[2016-02-12 23:49] xdgimf opened #294 "typescript config.js transpiler changing to babel"
[code]

when running "jspm install" or "jspm update" it automatically change transpiler to babel and installed it

[code]
[code]
Changing ````transpiler: false```` to ````transpiler: "none"```` seems fix the issue

[2016-02-13 02:23] Gheoan commented on #294
`transpiler: false` was added in `jspm@0.16.16`. The skeletons use `jspm@0.16.15`.

[2016-02-14 21:18] EisenbergEffect commented on #41
@martijnboland Where are we at now. Do you think it's ready to make official? or does it still need some more work? I'm not trying to be a pain...I'm genuinely excited about the work you guys have been doing and can't wait to announce official support for Webpack :)

[2016-02-14 22:46] martijnboland commented on #41
@EisenbergEffect I think it's ready for beta testing, but you'll probably want to move repositories to aurelia first and publish official npm packages?

[2016-02-14 23:22] EisenbergEffect commented on #41
@martijnboland If I create a public repo and basic structure similar to our other Aurelia repos, would you be able to submit a PR to that?

[2016-02-14 23:24] EisenbergEffect commented on #41
@martijnboland Actually, do we need two repos? One for the loader and one for the webpack plugin? Please advise and I'll create them and then you can PR directly to those if that works for you.

[2016-02-15 03:22] oising commented on #290
Even if you install globally and locally, the local one will be invoked if you're running gulp/jspm from the root of the web project.

[2016-02-15 06:32] martijnboland commented on #41
Yes, two repos. And sending PR's would work fine.

[2016-02-15 09:53] Secbone opened #296 "animator does not work"
I'm trying to get animator in my app, and then I found the skeleton's animator does not work in my browsers:
Chrome 48.0.2564,
Chrome 50.0.2632.0 canary,
Safari 9.0.2,
Firefox 43.0.4

In the Code, the user list should be fadein step by step with 50ms delay, but they are displayed simultaneously, why?

[2016-02-15 13:00] jhoguet commented on #290
@oising thanks for pointing this out. You are right.

My concern is that
1. when people try to migrate to CI, they will end up spending a lot of effort trying get the globals working with CI when they don't even need to
2. relying on up to 2 versions of a package (global and local) is unnecessarily complex.  There will inevitably be some issue that creeps up based on the version combo. The less th

[2016-02-15 13:00] #290 closed

[2016-02-15 14:18] EisenbergEffect commented on #296
@zewa666 Can you look into this please?

[2016-02-15 19:41] EisenbergEffect commented on #41
@martijnboland I've created two repos. Please feel free to submit PRs :)

https://github.com/aurelia/webpack-loader
https://github.com/aurelia/webpack-plugin

[2016-02-15 21:52] martijnboland commented on #41
Ah, great. Expect some PR's the coming days :).

[2016-02-16 07:32] zewa666 commented on #296
@Secbone not sure why this happens for you. Have you uncommented the section inside main.js to activate the plugin?

[code]

could you otherwise create a plunker to show us the setup where it does not work?

[2016-02-16 14:36] jimnorth55 commented on #296
I'm having the same problem with skeleton-navigation-typescript-vs, running on Chrome 48.0.2564.109.  I have un-commented the line "aurelia.use.plugin('aurelia-animator-css');" in main.ts and verified that the compiled main.js (in the Dist folder) is showing this line.

Note that the browser Console is not showing a DEBUG [aurelia] Loading plugin log entry for "aurelie-animator-css".  Not sure if

[2016-02-17 01:48] Vheissu commented on #289
I will submit a PR shortly that adds in Typings support to the Skeleton.

[2016-02-17 04:33] Secbone commented on #296
@zewa666 Oh, I see it! It works well now!  Thanks! :)

[2016-02-17 04:33] #296 closed

[2016-02-17 09:04] zewa666 commented on #296
glad you guys resolved it

[2016-02-17 17:19] paftek commented on #284
Same here.
The problem is due to the strings appended to the dist filenames :
- dist/app-build**-57a0fdcdae**.js
- dist/aurelia**-f07d9e63de**.js

(Export is expecting "dist/app-build.js" and "dist/aurelia.js".)

I have modified the getBundles() function in build/tasks/export-release.js to make it work, but I am not sure that it is the good way to solve this problem.
[code]

[2016-02-17 17:23] AshleyGrant commented on #284
The strings appended are due to this line: https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript/build/bundles.json#L33 which tells the bundler to produce a unique file name each time it bundles. @paftek's solution will work, but we definitely need to come up with a better solution. The current bundle being used is stored in the config.js. Maybe there is a way we can get t

[2016-02-18 19:48] rajvirtual opened #299 "JQuery Bootstrap with Aurelia"
Would it be possible to use  [JQuery Bootstrap framework](http://getbootstrap.com/javascript/)
along with Aurelia ? There are some toggle buttons and other components i would like to use from this framework.

[2016-02-19 03:05] hmarcelodn commented on #299
@rajvirtual Yes of course you can do it.

- Install it with Jspm
- Import it
`import 'bootstrap';`

[2016-02-19 03:58] rajvirtual commented on #299
@hmarcelodn  thanks ! I didn't mean the regular bootstrap, i meant JQuery + Bootstrap build.
How will i be able to say, call methods like $().alert() in Aurelia ?

if i have a html like this  inside my main html page ,
'<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>'

How do i invoke $().alert() from my aurelia class

[2016-02-19 04:27] rajvirtual commented on #299
I ended up doing this, $("#result").addClass("alert alert-success") inside my aurelia class and the alerts are showing up correctly.

[2016-02-19 09:05] martijnboland commented on #41
PR's are submitted

[2016-02-19 14:49] oising commented on #284
Ah, so that's why my project got screwed up. I had no idea what was going on.

[2016-02-19 21:22] antistoopmode opened #300 "Import jquery in typescript skeleton"
How do I get jquery to work with the aurelia skeleton-typescript?
I used `jspm install jquery` and then tried to add it to a view-model with `import $ from 'jquery';` but the according to typescript the module 'jquery' cannot be found.

It works fine fine the es2016 skeleton :disappointed:

What am I missing?

[2016-02-19 23:03] brettveenstra commented on #300
I believe you need to do this:

`import * as $ from "jquery";`

[2016-02-20 00:46] antistoopmode commented on #300
Thank you for the hint! I had to use `import * as $ from "jquery";` and download the typing file which declared jquery as a module.

[2016-02-20 00:46] #300 closed

[2016-02-21 06:02] davidbfrogman opened #302 "add <base href="/"> somewhere in the documentation"
I was wondering if we could have `<base href="/">` added somewhere in the documentation or in the skelly index.html.

I struggled with this quite a while when I was building my application.  I only recently figured this out, and while it might seem basic to all the experts here, it wasn't obvious at all to me.

[2016-02-21 15:44] devcube commented on #41
This sounds promising! I'm really looking forward to webpack support for aurelia.
Any new updates? I can help to test things out but I'm not sure if I can since I'm new to both webpack, aurelia and this community in general.
@martijnboland any plans on updating https://github.com/martijnboland/aurelia-skeleton-webpack ?

I would love to see a webpack skeleton included in this repo (aurelia/skeleto

[2016-02-21 17:52] EisenbergEffect commented on #41
We'll get the PRs merged this week. After that maybe we can convince @martijnboland to submit one final PR to our skeleton's repo :)

[2016-02-21 20:53] martijnboland commented on #41
Sure :)

[2016-02-21 20:59] #299 closed

[2016-02-22 00:01] k2s opened #304 "change JSON configuration files to JS"
`babel-options.js` is javascript file exporting javascript object, but there are also `bundles.json` and `export.json` files

json format is much more restrictive, most importantly it doesn't allow commenting

[2016-02-22 01:07] EisenbergEffect commented on #304
If you would create a PR for those changes, we would be happy to take them.

[2016-02-23 10:43] k2s opened #308 "Debugging skeleton-es2016 with IDEA/WebStorm"
I start the application with `gulp watch`.
Then if I try to use `JavaScript Debug` configuration in JetBrains IDEA/WebStorm, I am able to debug the transpiled files in `dist` folder, but the debugger doesn't work with original javascript files in `src` folder.

To fix this issue I change in `build/tasks/build.js`:
[code]
to
[code]

Will this change break other tools used for debugging ?

[2016-02-23 16:19] EisenbergEffect commented on #308
I can't remember if we had a problem with that setting in the past or not. @PWKad Do you recall?

[2016-02-23 16:34] PWKad commented on #308
No I've not messed with the source maps really I think @AshleyGrant was the last one to look in to them so he may have a better idea.

[2016-02-23 17:15] k2s commented on #308
And was it working with IDEA ? I am using version 15 and without this change debugger will not use JS6 files in `/src` folder. Tested on 3 machines with same setup.

[2016-02-23 21:42] #294 closed

[2016-02-26 13:06] PWKad commented on #289
I believe this is merged already and can close @EisenbergEffect

[2016-02-26 13:19] DrUNE opened #310 "Bundle task failing"
Bundle gulp task failing in skeleton-es2016 since  version 1.0.0-beta.1.1.3
Clean checkout and install in log:

`

iMac3:skeleton-es2016 ostlta2$ npm install
npm WARN deprecated babel-core@5.8.3: Babel 5 is no longer being maintained. Upgrade to Babel 6.
npm WARN deprecated graceful-fs@3.0.8: graceful-fs version 3 and before will fail on newer node releases. Please update to graceful-fs@^4.0.0 as

[2016-02-26 14:26] brettveenstra commented on #310
Confirming this issue (from clean folder on Windows) ...  posted details against possible troublesome module: https://github.com/aurelia/loader-default/issues/31

[2016-02-26 15:10] brettveenstra commented on #310
@DrUNE - this is now resolved after we issued a `jspm update` and received latest version of `aurelia-loader-default@1.0.0-beta.1.1.3`  (see https://github.com/aurelia/bundler/issues/88)

[2016-02-26 15:11] EisenbergEffect commented on #310
Please to run `jspm update`. That bug was fixed and released.

[2016-02-26 15:11] #310 closed

[2016-02-26 15:12] #289 closed

[2016-02-27 10:13] manuel-guilbault commented on #238
I'm having the same kind of problem with the TypeScript skeleton (v1.0.0-beta.1.1.3). I'm running the skeleton unmodified.
At first wallaby couldn't find ```node_modules/typescript/lib/typescript.js```, so I added it in the config:

[code]

but then I got the following errors:
[code]

Wallaby does run actually, I can see the indicators in the margin of my editor (I'm using VS Code), but the indica

[2016-02-27 10:29] ArtemGovorov commented on #238
@manuel-guilbault Just tried [this skeleton](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript), works for me in VS Code. Are you using the skeleton I've referenced?

<img width="657" alt="screen shot 2016-02-27 at 8 27 40 pm" src="https://cloud.githubusercontent.com/assets/979966/13372490/98fbc118-dd90-11e5-8f3f-03897bdcead0.png">

Wallaby shouldn't need the `node_mod

[2016-02-27 10:46] ArtemGovorov commented on #238
@manuel-guilbault All I've done was cloning this project, `cd` to `skeleton-typescript`, running `npm install`, running `jspm install -y` and starting wallaby.

[2016-02-27 12:02] manuel-guilbault commented on #238
Ok sorry about that, I used the latest release, but didn't think to try the latest dev version from master. It works fine, thanks!

[2016-02-27 21:39] EisenbergEffect commented on #238
@PWKad Can you review? It seems that some people have been trying the updated Wallaby and are having issues. Thanks!

[2016-02-27 22:28] PWKad commented on #238
It's working for me I think we need to release this still.

[2016-02-28 01:59] Tinadim opened #312 "No animations displayed"
I was reading about how to use animations on Aurelia and I've noticed that the complete skeleton-navigation example from this repository comes with all the setup needed for animations. However after running the code, I see no animations at all. Based on what I've seen in styles.css, I think the pages are supposed to animate from the right on navigation, right? I've got no errors during npm/jspm in

[2016-02-28 02:59] Gheoan commented on #312
I think you need to uncomment this line: https://github.com/aurelia/skeleton-navigation/blob/f5ce7bf98feb1c5f8553fe9d8523cd912c84d3ae/skeleton-es2016/src/main.js#L9.

[2016-02-28 03:02] Tinadim commented on #312
That was it! I totatlly missed it. Thanks!

[2016-02-28 03:02] #312 closed

[2016-02-28 10:57] Gheoan commented on #304
@EisenbergEffect Isn't this fixed in #306?

[2016-02-28 15:27] EisenbergEffect commented on #304
Yep!

[2016-02-28 15:27] #304 closed

[2016-02-28 17:00] valeriob opened #313 "Aurelia + Cordova + Typescript"
Hello,
Can you show little example app where using aurelia and cordova ? Or provide the right way to setup aurelia in a cordova (with typescript) application ?

[2016-02-28 17:11] hmarcelodn commented on #313
@valeriob use the typescript skeleton. Anyways you can check my pull requests which is working. https://github.com/aurelia/skeleton-navigation/pull/292

[2016-02-28 17:17] valeriob commented on #313
Thanks i saw the pull request just after submitting this question. Btw i'm trying to start with a cordova typescript template and just configure www folder as aurelia app. Is there any issue having jspm_packages folder inside www ?

[2016-02-28 17:18] tonybravano opened #314 "Gulp Watch (pristine condition) and then running from within VS crashes IIS Express."
Hi,
I downloaded the production skeletons and used the asp.net 5 version. I found that if I run the gulp watch before launching VS 2015 Enterprise's Run, with and without Debug, crashes the IIS Express & Kestrel.  But if I run VS first and then Gulp watch, its ok. This was confirmed by JoshMcCullough on Gitter.  Any ideas?

Anthony

[2016-02-28 17:37] hmarcelodn commented on #313
@valeriob  actually you will have to move the jspm packages folder into www otherwise things gets complicated.

[2016-02-28 18:12] JoshMcCullough commented on #314
I had the same issue. Perhaps the README just needs to be updated to explain how we're supposed to debug/run+watch these sample projects in VS?

[2016-02-29 16:18] geea789 opened #315 "error when running gulp on latest npm packages"
after latest npm update. I am using the aurelia typescript package.

running gulp watch results in error in file promise.js in npm package aurelia-bundler.

probably something to do with the latest npm package update.

[2016-03-01 21:50] vimcat commented on #315
Here's the result of running gulp test in skeleton-es2016:

01 03 2016 13:48:46.307:INFO [Chrome 48.0.2564 (Mac OS X 10.11.3)]: Connected on socket /#zlFaH0PmRai_x__xAAAA with id 25187482
01 03 2016 13:48:46.464:WARN [web-server]: 404: /base/jspm_packages/npm/aurelia-framework@1.0.0-beta.1.1.4.js
01 03 2016 13:48:46.465:WARN [web-server]: 404: /base/jspm_packages/npm/aurelia-fetch-client@1.0.0-bet

[2016-03-03 02:02] ne0guille opened #317 "error after bundling"
Im not sure if this is an issue of the skeleton  or something else but im getting this error running the skeleton-'es2016 after bundling.

if i do a gulp unbundle its working fine

system.js:4 Uncaught (in promise) Error: XHR error (404 Not Found) loading http://localhost:9000/dist/aurelia-84811864f9.js
	Error loading http://localhost:9000/dist/aurelia-84811864f9.js
	Error loading http://localhost

[2016-03-03 10:20] bellstrand opened #318 "Symbol polyfills missing after core-js was removed"
Env: IE11, no modifications to the skeleton source code.
Missing Symbol polyfill, what are the supported browsers?, should this be added to aurelia-polyfills or shall I handle it myself?

[2016-03-03 11:54] martingust commented on #318
There is not supposed to be any Symbols in the Aurelia codebase but a few have slipped through from the use of for..of loops, which all should be removed if they aren't already.

[2016-03-03 14:14] mbroadst opened #319 "core-js still a devDependency"
I see that `core-js` is still listed as a dev dependency in `package.json`, is that still a requirement or an oversight during the release?

[2016-03-03 14:43] EisenbergEffect commented on #319
It's something that jspm adds to support system.js if you do on-the-fly compliation of ES2015. I think we should leave it there for the moment.

[2016-03-03 14:43] #319 closed

[2016-03-03 14:46] EisenbergEffect commented on #318
Please run `jspm update`. There were patch releases made which should remove all requirements for Symbols.

[2016-03-03 14:46] #318 closed

[2016-03-04 01:26] doktordirk commented on #317
+1
it's currently not bundling resp not saving bundled files

[2016-03-04 01:27] EisenbergEffect commented on #317
@ahmedshuhel Can you look into this?

[2016-03-04 10:10] doktordirk commented on #317
oh oh sorry. i made a rookie mistake. works just fine.

@ne0guille in case you made the same simple error. gulp serve and gulp watch rebuild the project and thus delete the bundles

[2016-03-04 10:29] doktordirk commented on #315
try jspm update

[2016-03-04 15:14] #317 closed

[2016-03-04 23:19] lares83 opened #322 "skeleton-es2016 bundle"
I've noticed that 'minify' option for package "dist/aurelia" in bundles.js is set to false but I think it should be set to 'true' as it is e.g. in skeleton-typescript otherwise after lunch gulp bundle aurelia package wieght 1MB

[2016-03-04 23:38] EisenbergEffect commented on #322
@ahmedshuhel Can you check the bundle configs for all the skeletons and make sure they are up to date?

[2016-03-05 09:13] doktordirk commented on #322
on this topic, suggestions:
* change rev: true to rev:false. i think that has no benefit for newbies and just adds confusion
* add unbundle to clean task. forgetting to unbundle is a common error
* add a gulp serveBundle task for testing. accidentally deleting bundles with serve or watch is a common error

[2016-03-05 10:12] geea789 commented on #315
now it runs smoothly, i dont know where the problem was. thanks

[2016-03-05 11:10] valeriob commented on #313
So working with cordova and aurelia with javascript is easy, just copy the starter kit in www cordova folder and you're done. I'm hitting a wall with typescript though. Has anyone done that ?

[2016-03-05 13:02] devcube commented on #41
Great job! This can probably be closed now that https://github.com/aurelia/skeleton-navigation/pull/311 is merged.

[2016-03-05 13:22] devcube opened #323 "Aurelia + Typescript + Webpack"
So, thanks to great work from @EisenbergEffect and @martijnboland we have webpack support in aurelia (repo here: https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-es2016-webpack and PR with discussions here: https://github.com/aurelia/skeleton-navigation/pull/311), thanks!

I tried to replace es2016 with typescript in the webpack version and I got it to work here: https://github.

[2016-03-06 13:53] buzinas opened #324 "Error on download github:systemjs/plugin-text"
Just downloaded the lastest ES2016 and TypeScript skeleton-navigation folders, followed the docs, but I'm getting an error when running `jspm install -y`.

![image](https://cloud.githubusercontent.com/assets/7298695/13554538/262fcb12-e389-11e5-85b7-3f80ac6f15c4.png)

Already tried to update Node.js (lastest version), jspm (lastest version), npm (lastest version), but the error persists, for both v

[2016-03-06 16:44] EisenbergEffect commented on #324
That is very odd. It's as if the plugin isn't on Github. Can you try
running `jspm install text `? See what that does.
On Mar 6, 2016 8:53 AM, "Vitor Buzinaro" <notifications@github.com> wrote:

[2016-03-06 17:13] doktordirk commented on #324
I see the css Plugin there AS well. Aurelia uses the text Plugin for CSS. Maybe there some wierd issue there

[2016-03-06 17:19] EisenbergEffect commented on #324
I don't think it's an issue of usage. It seems to be a problem with the
jspm install itself.
On Mar 6, 2016 12:13 PM, "doktordirk" <notifications@github.com> wrote:

[2016-03-06 18:02] denimaaark opened #325 "typescript errors: Duplicate identifier..."
Hello, after installing skeleton-typescript-asp.net5 project and tsc i have errors
tsc is version 1.8.7
i have try jspm clean but not helps
Thanks

typings/browser/ambient/selenium-webdriver/selenium-webdriver.d.ts(3749,11): error TS2300: Duplicate identifier 'FileDetector'.
typings/browser/ambient/selenium-webdriver/selenium-webdriver.d.ts(3790,11): error TS2300: Duplicate identifier 'WebDriver'.

[2016-03-06 18:06] doktordirk commented on #324
@buzinas anyways, installation with jspm latest Version 16.30 won't work. If you use global jspm, then try
`Npm install jspm@0.16.15`
If you have a local jspm16.30 then Better be on the save side and delete your npm folder first before installing 16.15 as in some cases Installation get mixed up

[2016-03-07 16:33] crbranch commented on #323
@devcube This is extremely helpful -- thanks for putting this together!

It looks like there may be an issue related to your point # 2 regarding `.ts` file extensions.  The `index.prod.html` file has a reference to `main` on the `<body>` element:

    <body aurelia-app="main">

When using the prod version, I'm getting a sporadic 404 in the console (`"Cannot find module './main'"`)  It's strange be

[2016-03-07 16:44] RomkeVdMeulen opened #326 "Remove custom_typings"
Having every Aurelia project include custom typings that are hard to update seems like a bad idea to me. Is there a particular reason to track them in the project, instead of loading them through `typings.json`?

[2016-03-07 17:05] crbranch commented on #323
So, after reading the documentation on [configuration and startup](http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/app-configuration-and-startup/4), it looks like the `aurelia-app` attribute is intended to be used for configuration, but `main.ts` is actually a custom bootstrap for webpack, so it doesn't belong on `aurelia-app`.  If I just delete it, the app runs without

[2016-03-07 17:54] EisenbergEffect commented on #326
I'm not familiar with this enough. The change was made via PR by someone who was familiar with the TS ecosystem changes. If you have a better solution, we are open to it. I'd love to see a PR to improve this if it is causing issues.

[2016-03-07 18:15] el95149 opened #327 "Bootstrap popover"
Hello. I'm building an app using the Typescript skeleton and faced the following issue:
The existing "bootstrap": "github:twbs/bootstrap@^3.3.5" entry in package.json doesn't fetch the popover.js, tooltip.js etc files, which I'd like to use (at least, I can't find them under the bootstrap 'jspm-packages' subdirectory). Are they even necessary or are they included in the bootstrap.min.js ?
I've ins

[2016-03-07 19:22] EisenbergEffect commented on #327
You need to import the bootstrap.js files. Try adding this in your main.js
`import 'bootstrap';`

[2016-03-07 19:22] #327 closed

[2016-03-08 03:10] AndrewCraswell commented on #325
I've just tried building a new project from the repo as well. I had about 1658 of these errors. I've never used TypeScript before, so excuse me as I detail my ignorant workaround.

When building with Gulp `build` task everything works fine, and I can browse the site without issue. However, the errors are raised when building the solution with Visual Studio.

I've found the issue seems to arise bec

[2016-03-08 03:10] AndrewCraswell commented on #325
Does someone know how to implement a permanent fix to this issue?

[2016-03-08 03:27] EisenbergEffect commented on #325
There have recently been changes in the TypeScript ecosystem around how all this is set up. It was working prior to these recent changes. We're working on fixing up the kits still.

[2016-03-08 03:27] EisenbergEffect commented on #325
@PWKad or @cmichaelgraham Could you guys look into this? It appears that the skeletons have issues with the new TS setup.

[2016-03-08 04:41] PWKad commented on #325
You need to have your `tsconfig.json` only pointing to one single built file like this - https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript-asp.net5/src/skeleton-navigation-typescript-vs/tsconfig.json#L20

[2016-03-08 05:09] AndrewCraswell commented on #325
That's how it's setup now, but for some reason it seems VS 2015 still tries to build the whole folder :/

[2016-03-08 06:19] Vheissu commented on #326
@RomkeVdMeulen This was a change I submitted. Technically typing files should not be included in the repository at all. However, there are situations where there exist no type files in any typing registry.

The custom_typings folder was created to contain any user/Aurelia Skeleton specific custom typings not available via the typings install command. I believe there have been instances where even

[2016-03-08 06:22] Vheissu opened #329 "Update Karma 0.16.19?"
I ran into issues using Karma 0.16.6 with my application. Upon further investigation, I came across an issue on the Karma repository where an update to Socket.io caused this with the 0.16 version of Karma. It seems the fix listed in the issue: https://github.com/karma-runner/karma/issues/1782 - is to update to 0.16.19. I did this locally and my tests work properly now,

[2016-03-08 06:26] EisenbergEffect commented on #329
I can confirm that this addresses the issue.

[2016-03-08 06:26] #329 closed

[2016-03-08 07:22] Vheissu opened #330 "Wallaby.js not working for TypeScript Skeleton"
When I try and run Wallaby for testing, I get the following console output in Webstorm:

[code]

This looks like a PhantomJS issue that was seen in mid 2015 for something different in Aurelia relating to a Map polyfill missing.

Separate to that issue, [this line](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript/wallaby.js#L27) also throws an error in Wallaby's consol

[2016-03-08 07:30] Vheissu commented on #330
Upon further inspection, it seems trying to import app into my test does this:

[code]

Commenting out that line makes the Wallaby environment run. Seems my app.ts which is not too different from the Skeleton is causing this.

[2016-03-08 08:11] el95149 commented on #327
It's already in the main.ts (and generated .js) file. I've also tried adding
`aurelia.use.plugin('bootstrap');`
to main.ts, but with no effect.
Any help will be greatly appreciated!

[2016-03-08 09:41] RomkeVdMeulen commented on #326
I'm not opposed to the idea of a dedicated folder for additional type files. But I think it's not the best starting point. This is a seed project after all: you could end up with hundreds of projects holding these type files that never get updated, and may conflict with other type information people try to add.

I imagine that ideally, both the `typings` and `custom_typings` folders are remove fro

[2016-03-08 09:46] el95149 commented on #327
I managed to locate the issue. Another plugin, 'eonasdan-bootstrap-datetimepicker-npm' caused a different jQuery version to be loaded (2.1.4) instead of the one used by Bootstrap (2.2.1), thus causing the problem. Overriding the jQuery version using:
`jspm install npm:eonasdan-bootstrap-datetimepicker-npm -o "{dependencies:{jquery:'^2.2.1'}}"`
fixed the problem.
Thanks for your feedback.

[2016-03-08 10:59] RomkeVdMeulen commented on #330
I also ran into a problem because of that line when running karma:

[code]

[2016-03-08 11:16] Vheissu commented on #330
@RomkeVdMeulen ^ The exact error I got when using the ``"*": null`` line that is currently in the Skeleton. I guess not many people are using Wallaby for it to have been noticed sooner.

@EisenbergEffect Reckon we can please get someone to give the ``wallaby.js`` file a bit of a sweep and check for any potential issues? Setting the null line to ``"*": "*"`` or ``"*":"*.js"`` seems to fix the issue

[2016-03-08 13:17] PWKad commented on #325
I'll look at it again but I don't see why this would be an issue up front.

[2016-03-08 13:52] benlaan commented on #313
@valeriob I am doing this combination without problem. What is the issue?

I simply copy the output of ts compilation into www, as well as the html files, and jspm_package

The cordova folder looks like this (I treat it as an output folder, separate to the source)

cordova/
  + www/
    + jspm_module/
    + app/ <-- my compiled code goes here
    + config.js
    + index.html

I did have to write a

[2016-03-08 14:26] EisenbergEffect commented on #313
We are working on a kit, but what @benlaan explains should work.

[2016-03-08 15:00] EisenbergEffect commented on #330
I thought the Wallaby author had contributed the latest PR actually. Have you tried to take the wallaby config from the master branch? I don't think the latest update has been released yet. Let me know! Also, that latest config is updated to include polyfills so I think that would solve the Map issue.

[2016-03-08 19:14] valeriob commented on #313
cheers Rob, it's very hard to start from zero with all the node + cordova + aurelia stuff :D

[2016-03-09 00:40] ArtemGovorov commented on #330
I have sent the PR recently but apparently I misunderstood how the `setup` file was supposed to work (thought it gets loaded by tests, but needs to be loaded before tests). I have created [the PR fixing all issues](https://github.com/aurelia/skeleton-navigation/pull/332) mentioned here. Appreciate if someone could have a look.

Will send separate PRs for other skeletons.

[2016-03-09 03:54] Vheissu commented on #330
@ArtemGovorov That definitely fixes the errors that I was seeing. However, it now appears to not be picking up my test cases properly.

I see this in the "Failing Tests" tab:

[code]

In the "Wallaby Console" tab I am seeing:

[code]

![ide screenshot](https://cloud.githubusercontent.com/assets/368330/13624937/4bb7d060-e5fe-11e5-8d61-aa9ddc83a18c.PNG)

If I hover the grey square I see "no test cov

[2016-03-09 04:08] ArtemGovorov commented on #330
@Vheissu Did you take the change from this PR https://github.com/aurelia/skeleton-navigation/pull/334/? Because I have referenced a couple of bad ones (with the exact same issue you're describing).

[2016-03-09 04:26] Vheissu commented on #330
@ArtemGovorov Yep, I just copied over the entire file that you put into your PR.

[code]

[2016-03-09 04:31] ArtemGovorov commented on #330
@Vheissu [Fixed the PR](https://github.com/ArtemGovorov/skeleton-navigation/commit/8aaed3234320b67b8280a8a5c7a5492055f103c7) (it has been correct in ES6 skeleton, but made the mistake in the TS one).

[2016-03-09 04:32] Vheissu commented on #330
@ArtemGovorov LEGEND. Nice work mate. This fixed the issue. Tests are now running properly.

[2016-03-09 13:43] hendo-michael commented on #325
I got this error as well using Aurelia Typescript in PyCharm. To remove the errors you need to add "typings/main" to the exclusions. According this post, [Typescript Definitions](http://stackoverflow.com/questions/29974875/reference-typescript-definitions-in-one-file-instead-of-all-js-files) "filesGlob" is supported by some editors but won't be supported by the TypeScript compiler until version 2

[2016-03-09 20:43] #308 closed

[2016-03-09 21:29] istrau3 opened #336 "Font Awesome isn't included in browser for VS ES2016 version"
Issue is just as the title implies. Here is what I did:

1) Downloaded the skeleton and opened it in visual studio.
2) npm install from project root
3) jspmp install -y from project root
4) gulp watch from project root
5) ran the 'web' deubg configuration (which starts IIS)
6) browsed to localhost:9000

Everything seems to be working ok, the app is loading up nicely. The only issue that I am notic

[2016-03-10 01:33] #322 closed

[2016-03-10 01:33] #284 closed

[2016-03-10 01:33] #271 closed

[2016-03-11 06:09] #330 closed

[2016-03-11 10:27] tszarzynski commented on #258
I had the same problem and come up with a quick solution:

`function getBundles() {
  var bl = [];
  for (b in bundles.bundles) {
    bl.push(b.match(/[^/]+$/));
  }

  var str = bl.join('|');
  var pattern = paths.output + '+('+str+')*.js';
  var bundleFiles = glob.sync(pattern);

  return bundleFiles;
}`

What it does is updating the list with actual bundle names. So it works if you use `rev=tru

[2016-03-11 17:05] PWKad opened #340 "One-line the html files so it is very apparent you aren't editing the src for those learning Aurelia"
In the gulp task just one line the HTML.

[2016-03-11 19:17] classicalConditioning opened #341 "Karma breaks with "Uncaught TypeError: Cannot read property 'replace' of null""
It isn't an issue, because I figured out what was wrong with my setup, but I thought I'd share it here in case anybody else is running into the same problem.

**Problem:**
when starting karma via `gulp test` - this happens :

![image](https://cloud.githubusercontent.com/assets/12069556/13711968/35b0d0d6-e78f-11e5-803c-7a47543ed109.png)

now, it happens only if for any reason you decided to remove

[2016-03-11 19:44] ahmedshuhel commented on #258
Can any body please show how these `exports` adds value? To me it feels like indirection and makes things hard to reason about for an application like skeleton-navigation. I don't even understand why we need this `exports`. I may be completely missing the point here.

[2016-03-11 19:47] mbroadst commented on #258
@ahmedshuhel are you asking why it's useful for users of aurelia to have an example of a gulp command that packages the entire app for deployment?

[2016-03-11 19:54] ahmedshuhel commented on #258
I meant to say where and how in the bundle task `exports` is being used?

[2016-03-11 20:15] ahmedshuhel commented on #258
OK I understand now. This is related to export task and not with bundling in general.  I thought It's a bundler issue. Sorry for the mix-up.

[2016-03-11 23:32] Driedas commented on #236
suggestion: why not add a customized modernizr script that would check whether those polyfills are needed in the first place, before importing them. The percentage of browsers that require these is about to dwindle after all...
Sample (polyfill for request animation frame to be added):
[code]

[2016-03-12 05:55] Vheissu opened #343 "Add In Webpack Skeleton Wallaby.js"
The Webpack Skeleton is missing a Wallaby.js file. Would be great if someone familiar with Wallaby and Webpack perhaps like @ArtemGovorov would be a good contender for adding this in.

[2016-03-12 18:40] adriatic opened #344 "Extending the es2016-webpack sample to use Aurelia-KendoUI bridge fails"
After spending so much time with jspm / systemjs based tooling, I might be missing something obvious in order to solve my problem, defined as:

running `npm install aurelia-kendoui-bridge` with the intent to add the bridge to the es2016-webpack sample, results with adding the `aurelia-kendoui-bridge` to node_modules folder, as shown below:

![image](https://cloud.githubusercontent.com/assets/27124

[2016-03-12 19:37] AshleyGrant commented on #344
`jspm install aurelia-kendoui-bridge`

The alias is in the jspm registry, so it will point to the npm package.

[2016-03-12 20:32] adriatic commented on #344
Is it possible that you missed the point Ashley? My intent was to indicate that npm "does no know" how to handle aurelia-kendoui-bridge and that jspm "does know" and thus installs only relevant portions of the **[kendoui bridge repository](https://github.com/aurelia-ui-toolkits/aurelia-kendoui-bridge)**

This is easy to see when you compare the outcomes of `npm install aurelia-kendoui-bridge` and

[2016-03-12 20:41] adriatic commented on #344
However, none of these issues are really about my problem: **how to add `aurelia-kendoui-bridge` plugin to es2016-webpack sample application**. My two attempts

1. use `npm install aurelia-kendoui-bridge` - this clearly fails as it shoves the whole content of **[kendoui bridge repository](https://github.com/aurelia-ui-toolkits/aurelia-kendoui-bridge)** into node_modules folder

2. use `jspm instal

[2016-03-12 22:36] martijnboland commented on #344
The aurelia-kendoui-bridge npm distribution misses the "main" field in package.json that should point to /dist/commonjs/index.js. I've added this entry manually. After that, the plugin is loaded, but it's unable to find the individual plugin subcomponents because the directory structure in the npm package is a bit different from aurelia components with subcomponents (Cannot find module './aurelia-

[2016-03-13 02:19] adriatic commented on #344
Thanks for the response, Martijn - and let me shed some more lights to this issues. Until few days back when I first time learned about the possibility to use webpack in the context of aurelia applications, I was well trained to patiently suffer by the enormous overhead that jspm / sustemjs loader impose on an Aurelia app developer. So, typically, I would start by running `npm install`, where most

[2016-03-13 05:48] RandomlyKnighted opened #345 "Missing gulp min task in ASP.NET projects"
While working with @PWKad to test the Aurelia project templates for SideWaffle we noticed that there is a reference to a `gulp min` task in the project.json file. However, we were unable to find this task anywhere. We originally saw this in version `1.0.0-beta.1.1.2` and I just noticed that it still exists for version `1.0.0-beta.1.1.6`.

[2016-03-13 06:48] RandomlyKnighted commented on #325
@PWKad I just went through and tested the templates for SideWaffle and am seeing this now as well. By using this:

[code]

I was able to drop the errors down to just 8. The remaining 8 errors are things like `Build: Cannot find module 'aurelia-router'`

[2016-03-13 07:58] jedd-ahyoung commented on #344
@martijnboland The Aurelia KendoUI Bridge suffers from its dependency on a Telerik component that isn't designed for webpack, JSPM loading, or any modern standards. As such, the plugin team has found a solution for this by having the end-developer dropping the dependencies into a vendor directory. With JSPM, this requires the user to edit the config.js file. I'm guessing (with my limited experienc

[2016-03-13 14:04] adriatic commented on #344
@jedd-ahyoung Allow me to clarify some issues you introduced with your assessment of the situation - as my intent is not to conduct an academic discussion, but rather to help @martijnboland help me to use webpack.

1. Saying "The Aurelia KendoUI Bridge **suffers** from its dependency on a Telerik component that isn't designed for webpack" is the same as "Golden Gate "suffers" from the requirement

[2016-03-13 14:07] #336 closed

[2016-03-14 15:08] beatsm opened #346 "font-awesome.css missing from skeleton-navigation-typescript-vs"
Is font-awesome.css supposed to be missing from the _Layout.cshtml file?

Currently
`<environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>`
Changed to
`<environment names="Development">
            <link rel="stylesheet" href="~/jspm_packages/npm/font-a

[2016-03-14 16:51] istrau3 opened #347 "Working with the webpack skeleton"
I have tried to get the webpack skeleton going but am running into several issues:

1) When I run "npm run dev" the dev webserver runs ok but it is not generating sourcemaps (i.e. I can't see the source code in the chrome dev tools.

2) How do I load additional third party modules? For example I tried npm install marveloussoftware/marvelous-aurelia-core and got an error SystemJS is not defined (in

[2016-03-14 17:10] iosulfur opened #348 "Errors running app via "run dev" on "skeleton-es2016-webpack" at "1.0.0-beta.1.1.6/""
I have copied [`skeleton-es2016-webpack`](https://github.com/aurelia/skeleton-navigation/tree/1.0.0-beta.1.1.6/skeleton-es2016-webpack) into a sub-directory (`www-new`) of a recently-created repository.

While in the directory `www-new/`, I followed the instructions in the [`README.md`](https://github.com/aurelia/skeleton-navigation/blob/1.0.0-beta.1.1.6/skeleton-es2016-webpack/README.md).

**I wa

[2016-03-14 17:26] iosulfur commented on #348
The solution was in the same [`README.md`](https://github.com/aurelia/skeleton-navigation/blob/1.0.0-beta.1.1.6/skeleton-es2016-webpack/README.md) that had the instructions:

See [`README.md`: Getting Started](https://github.com/aurelia/skeleton-navigation/tree/1.0.0-beta.1.1.6/skeleton-es2016-webpack#getting-started) at the "Note: " just before [`README.md`: Bundling](https://github.com/aurelia/s

[2016-03-14 17:26] #348 closed

[2016-03-15 14:18] ftaljaard commented on #81
Same issues with version 16.31

[2016-03-15 14:19] EisenbergEffect commented on #81
Would someone be interested to submit a PR with the fix?

[2016-03-15 14:27] ftaljaard commented on #81
JSPM on windows is a nightmare, all node modules happy JSPM  needs special environment path ect.

[2016-03-15 21:14] EisenbergEffect opened #349 "Update Webpack to Use Babel 6"
@martijnboland I wonder if I could get your help on one more task? We are finally able to update all of Aurelia to Babel 6. I was looking at the Webpack config and noticed that it was set up for Babel 5. Would you be able to update it to Babel 6 for us?

[2016-03-15 21:15] martijnboland commented on #349
Sure

[2016-03-15 21:20] EisenbergEffect commented on #349
That would be awesome! After that, if you can recommend some of the best blog posts or other resources you know of on webpack 2.x, that would be great. I'd like to get up to speed. Thanks!

[2016-03-15 21:24] martijnboland commented on #349
Information about webpack 2 is very hard to find. This is the only 'official' piece I could find: https://gist.github.com/sokra/27b24881210b56bbaff7

[2016-03-15 21:39] martijnboland commented on #349
Webpack 2 will support the System.import syntax natively, but I've read somewhere that completely dynamic module loading still isn't supported.

[2016-03-16 18:02] martijnboland commented on #347
1) The sourcemaps are included in the generated bundles. In Chrome, they are a bit hidden under the webpack:// folder.
2) Some third party modules have a hardcoded dependency on SystemJS. These modules are not supported with webpack.

[2016-03-16 18:44] EisenbergEffect commented on #347
@istrau3 You may want to contact any 3rd party modules that re using SystemJS and instead mention that the Aurelia team recommends using Aurelia's Loader instead. That will ensure that their module works with all module loaders we support (system.js, require.js, dojo, webpack, etc.)

[2016-03-16 18:44] #347 closed

[2016-03-16 20:31] istrau3 commented on #347
@EisenbergEffect  I am getting the following error originating in aurelia-validation:

ReferenceError: System is not defined

[2016-03-16 20:33] istrau3 commented on #347
@martijnboland The sourcemaps you mention seem to be mapping back to the pre-concatonated files. However, all the files are all babel-transpiled. I am not seeing the actual source (i.e. ES7 source).

[2016-03-16 20:35] EisenbergEffect commented on #347
@istrau3 Yes, we've located the error. @PWKad Please fix this as soon as you can. Thanks!

[2016-03-16 21:53] adriatic opened #353 "skeleton-navigation es2016-asp.net5 fails to run"
Here is what happens after a successful build:

[code]

Using either "Start debugging" or "Start without debugging" I get to see the same event:

![image](https://cloud.githubusercontent.com/assets/2712405/13829734/e5ef5cf2-eb9e-11e5-8fdf-c441a8827822.png)

The problem as it seems is that the `jspm install` task was never executed, so as the result a complete set of modules that jspm resolves is m

[2016-03-16 22:50] lares83 commented on #349
I know one quite new blog post about webpack 2. Hope it'll be helpful.
http://moduscreate.com/webpack-2-tree-shaking-configuration/

[2016-03-16 23:02] EisenbergEffect commented on #349
Thanks! I'll check it out.

[2016-03-16 23:02] #349 closed

[2016-03-17 15:12] PWKad commented on #353
Step 5 of the install process on the readme is to `jspm install -y`

I'm open to improving the process so that it works for all environments, else SideWaffle is releasing some Visual Studio-specific templates we can promote that are targeted to that IDE only.

[2016-03-17 15:27] adriatic commented on #353
I may have missed this, since the README file seemed just like a copy of the README file for es2016 version (no Visual Studio)

I am proposing to remove any and all console (cmd.exe) based configuration and do everything via Visual Studio extensions (.vsx) - as this image demonstrates:

<p align=center>
  <img src="https://cloud.githubusercontent.com/assets/2712405/13851048/f5cb411a-ec32-11e5-9dfe

[2016-03-17 15:37] adriatic commented on #353
My final point in favor of a complete modernization of VS based skeleton is also the strongest one: despite the popular opinion, Aurelia based application is more often than not a part of a larger, distributed system (front end, back end identity management PaaS services, ...) and asp.net5 is likely the best platform for such distributed. This, Aurelia should fit into VS as good (and natural) as p

[2016-03-18 10:08] Thanood commented on #344
You need to map an expression like (f.i.) "kendo-ui/*" to a glob like "src/root/vendors/*", did I get that right?
I'm guessing the webpack equivalent to do that would be [resolve](https://webpack.github.io/docs/configuration.html#resolve).

[2016-03-18 10:43] martijnboland commented on #344
I've added an extra option to the webpack plugin to support these scenarios (not merged yet) https://github.com/aurelia/webpack-plugin/pull/5.

With this extra option and adding the root of the vendor js folder to webpack I was able to at least load some kendo-ui components without error.

[code]

Just one request for maintainers of the aurelia-ui-toolkits packages: please add a "main" entry to th

[2016-03-18 13:54] adriatic commented on #344
Thank you @martijnboland - I will heed your advice and report the outcome here.

[2016-03-18 18:53] istrau3 opened #357 "Using the webpack skeleton in real systems"
I have an app with a server that serves static assets, handles data calls via an api as well as manages user authentication. When I run 'npm run dev' it creates a server that serves up static assets with hot module reloading, which is awesome. However, I need some way to still make my api calls and authenticate users. Is there any way to enable the hot module replacement using my already existing

[2016-03-20 18:25] IainMNorman opened #358 ""minetype" in webpack config"
[https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-es2016-webpack/webpack.config.js](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-es2016-webpack/webpack.config.js#L29)

[code]

[2016-03-20 18:27] IainMNorman commented on #358
Ah. I see url-loader supports both spellings...

`var mimetype = query.mimetype || query.minetype || mime.lookup(this.resourcePath);`

Apparently because of an earlier misspelling. Still it could be changed in the skeleton to discourage confusing usage.

[2016-03-20 19:25] RandomlyKnighted commented on #325
Ok so I reset my fork and undid any changes that I had previously made. Not sure how I missed it but @PWKad pointed out to me that there were specific instructions for getting the TypeScript ASP.NET 5 template to work. If you've missed them as well you can find them [here](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-asp.net5/src/skeleton-navigation-typescript-vs)

[2016-03-21 03:30] adriatic commented on #353
Over this weekend I created a few articles explaining my proposed approach to refreshing Visual Studio versions of the Skeleton navigation - see

#### [Aurelia Application Skeletons](https://github.com/aurelia-tools/aurelia-vs/wiki/Chapter-1---Aurelia-Application-Skeletons)

for more detals

[2016-03-21 03:38] RandomlyKnighted commented on #353
@adriatic I'm working on updating the ASP.NET Typescript template so that it can be included in SideWaffle. What I ended up doing today to get it working on my end with Visual Studio was I created a gulp task that executes the command `jspm install` anytime I build the application. Here's what I added to the build.js file.

[code]

I'll start looking over your articles tomorrow, but I do believe t

[2016-03-21 03:45] adriatic commented on #353
As I explained in my Gitter based message to @PWKad, I do not want to "disrupt" the currently going process of maintaining the VS based skeletons - but trying to use these skeletons for Aurelia-KendoUI bridge tutorials, I discovered that they simply do not work.

Regardless of the amount of the work needed to make them work, I think that my proposed approach is more modern and easier to maintain b

[2016-03-21 03:51] adriatic commented on #353
Unless I do not understand your proposal, I believe that it is not the best we can take. All integration with `npm`, `jspm`, `gulp`, `browserSync` etc have to be done using Visual Studio Extensions

[2016-03-21 04:05] RandomlyKnighted commented on #353
Ah, I have trouble keeping up with the Gitter chat so I must have missed that message.

If you'll look at the Gulp file it pulls its tasks from the build/tasks folder. In that folder are a series of .js files containing all the Gulp tasks. I added my jspm task in the build.js file. From what I remember of Scott Allens article on using JSPM and ASP.NET he just ran the commands manually. By using th

[2016-03-21 10:52] EisenbergEffect commented on #353
We've got some updates coming and there seems to be a plan for this, so I'm closing as resolved.

[2016-03-21 10:52] #353 closed

[2016-03-21 11:31] #345 closed

[2016-03-21 12:54] #346 closed

[2016-03-21 14:14] RandomlyKnighted commented on #325
I was able to get this working yesterday by using adding "typings/main" to the exclude property as shown above and by also creating a gulp task that runs `jspm install` when the project is built.

@EisenbergEffect as you know I'm still pretty new to both Aurelia and TypeScript. Can you tell me if adding `typings/main` to the exclude list of the `tsconfig/json` will cause problems with other parts

[2016-03-21 14:16] EisenbergEffect commented on #325
@RandomlyKnighted We would definitely find that acceptable to provide a smooth build. I'm not sure about the typings/main @PWKad Do you know anything about that?

[2016-03-23 02:53] PWKad opened #362 "asp.net 5 es2016 skeleton has bad readme"
Should be able to run from any platform need to update the readme.md to match the typescript skeleton.

[2016-03-23 04:46] #325 closed

[2016-03-23 18:54] istrau3 opened #363 "updating the aurelia webpack skeleton"
I have an app written on top of the webpack skeleton (which, after making a few small changes, is working really great) and was hoping for a little guidance in updating to the new version of aurelia that was released today (as this is my first time doing it). Currently my package.json looks like this:

[code]

I guess my plan was to

1) Go into the new webpack skeleton and copy the new dependencie

[2016-03-23 18:57] EisenbergEffect commented on #363
We upped the version numbers for all the webpack stuff to 1.0.0-beta.1.0.0 so that means an npm update probably won't get those. You may need to update your version numbers in your package and then run npm install again. That should do it I think.

[2016-03-23 18:57] #363 closed

[2016-03-24 03:17] sevenshadow opened #364 "Aurelia ASP.NET 5 On Mac"
Hi,

This is more of an FYI than an issue.  I just wanted to let you know that if I download the ASP.NET typescript version onto my mac an run it, I wasn't able to get the gulp watch to run without changing the server.js to not use the browsersync.  The work around that I came up with was to use the:

`gulp.task('serve',['build'], function(cb) {
    return gulp.start('dnx-run');
});

gulp.task('dn

[2016-03-24 05:30] lfoust commented on #302
I know it isn't super easy to find but it is mentioned in the documentation here:

[2016-03-24 06:04] tomtomau commented on #261
@EisenbergEffect Just putting in my 2c, while you may have to put in effort to modify a skeleton for your exact scenario, thorough, end-to-end skeleton apps are still immensely useful. Rather than having to set up your own tooling, you can jump in and get a feeling for a framework without wasting time. Having one that it is essentially 'supported' by the core team is also great, because it means I

[2016-03-24 10:30] EisenbergEffect commented on #302
@bryanrsmith Please be sure to include this in the router docs you are writing. Thanks!

[2016-03-24 10:30] #302 closed

[2016-03-24 10:37] EisenbergEffect commented on #261
I'm closing this for now. We are going to keep the skeletons fully configured. We've also added the beginner kits for "getting started" more easily. In the future, we'll have a little app you can run to also generate a project based on custom choices.

[2016-03-24 10:37] #261 closed

[2016-03-24 17:29] doktordirk opened #365 "jspm@0.17beta migration"
just some hint collections of issues:
* since unbundle was added to clean, clean and thus build will fail with missing config.js

[2016-03-24 17:42] EisenbergEffect commented on #365
@ahmedshuhel Any idea how long until we can get the bundler hooked up with jspm 0.17?

[2016-03-24 23:38] RandomlyKnighted commented on #364
Did you have any issues installing `browser-sync` from NPM?

[2016-03-24 23:47] Ryuno-Ki commented on #364
@sevenshadow The code looks way more beautiful if put in [code fenced](https://help.github.com/articles/creating-and-highlighting-code-blocks/#fenced-code-blocks) ;-)

[2016-03-25 02:29] wshayes commented on #357
You need to setup a separate back-end server for this - you can use a node/express, ASP server, PHP server, etc.  The webpack server is a simple server for 'static' websites which all front end frameworks basically are.  This might be useful to you: https://github.com/christianalfoni/webpack-express-boilerplate

[2016-03-25 16:08] ahmedshuhel commented on #365
@EisenbergEffect I am still trying identify the problems/changes been introduced by the new version of `SystemJS` and `JSPM`. After that I will able to come up with an implementation strategy and a time frame.

[2016-03-25 18:24] #166 closed

[2016-03-26 15:52] PWKad commented on #364
Readme shows how to run the app with DNX.  If we get enough feedback that we should switch gulp watch / serve and remove the dnx requirement we can probably change this, but it does require dnx either way.

[2016-03-28 16:02] devcube commented on #282
I'm also having this problem. I need bluebird for promise polyfill support in my app. Any ideas on how to resolve this?

[2016-03-28 16:14] EisenbergEffect commented on #282
It's only warnings, so there's nothing preventing you from using it. If you can tell us where the warnings are coming from, we can address them just as we did previously.

[2016-03-28 16:20] devcube commented on #282
Hmm, in my case the stack trace is coming from aurelia-templating and I created an issue at that repo about a week ago: https://github.com/aurelia/templating/issues/301.
Maybe that issue should be closed as a duplicate to this?

[2016-03-28 17:05] devcube opened #370 "How to create bootstrap submenu with aurelia router?"
Hi,

I'm trying to get a bootstrap dropdown menu, like the Dropdown in this example:
http://getbootstrap.com/components/#navbar

The aurelia router is "flat" and we can of course add a child router but I would like the submenu to be rendered by the same view (in this example it is nav-bar.html).

I found this stackoverflow thread:
http://stackoverflow.com/questions/34486644/how-do-i-use-a-router-a

[2016-03-28 17:10] EisenbergEffect commented on #370
The navigation structure is just a simple data structure, so you can template it out any way you like. I recommend that you use the settings property to add some sort of "parent" property or "category" property which you can then use later to group nav items under parent menu items. You can then use a value converter to create a map of parent to child list and then repeat over that to generate men

[2016-03-28 17:10] #370 closed

[2016-03-28 23:47] doktordirk opened #372 "add rebuild config task"
i'm getting tired of explaining people howto.
* delete jspm folder (only needed for (old) i18n sofar)
* delete map entry in config json
* run jspm install

[2016-03-29 12:16] ralexand56 commented on #344
Any update on this? Any workaround to get kendo working with webpack?

[2016-03-29 13:21] adriatic commented on #344
@ralexand56 - this last issue - https://github.com/aurelia-ui-toolkits/aurelia-kendoui-bridge/issues/437 is the current show-stopper. The [workaround](https://github.com/aurelia-ui-toolkits/aurelia-kendoui-bridge/issues/437#issuecomment-202148351) suggested by @martijnboland may not be acceptable to most Aurelians - so unless there is some alternative approach possible, I am not sure what could be

[2016-03-29 17:53] Jenselme commented on #282
Same issue here. Here is the full warning, I hope this will help you solve this:
[code]

[2016-03-29 17:59] xmichaelx opened #373 "npm build prod in skeleton-typescript-webpack fails"
npm version: 3.6.0
os: windows 10
npm install ends successfully

[code]

[2016-03-29 20:25] xmichaelx commented on #373
Ok, adding `extensions: ['', '.js', '.ts']` to resolve in webpack.prod.config.js allows build to pass. I'll sign the CLA and make a pull request.

[2016-03-29 20:57] xmichaelx commented on #373
Ok, I signed the CLA, tried to follow the commit guidelines and committed from different than master branch. Hope everything works.

[2016-03-29 21:01] Ryuno-Ki commented on #344
Sorry for a bit of hijacking, @adriatic, but this quote:

is what stops me from embrace Aurelia yet. Hence I'm looking forward to find more information about Aurelia + RequireJS (since I know how to use that module loader and don't care about hot module swapping or similiar. System JS feels like a mess with its config file).

[2016-03-29 23:04] adriatic commented on #344
Hijacking is a good description for taking my description out of context,  @Ryuno-Ki  - and then using it in a new context to prove a different point. So, let me try to do the right thing to Aurelia.

My statement, that you quoted above was made as a **relative** description of Aurelia's jspm / systemjs tooling performance - using webpack's performance as a "norm". Well, to go to extreme, I could

[2016-03-30 00:43] adriatic opened #375 "es2016 skeleton run in electron section is incomplete and not grammatically correct."
#### Section [Running the App under Electron](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-es2016#running-the-app-under-electron)

There are several instructions missing that should be specified before step 2
[code]

Specifically, the user needs to type in

[code]

before being able to invoke `electron` and expected correct behavior.

#### Grammatical issue
 This line:

coul

[2016-03-30 00:47] EisenbergEffect commented on #375
Please feel free to submit a pull request to improve the instructions :)
On Mar 29, 2016 8:43 PM, "Nikolaj Ivancic" <notifications@github.com> wrote:

[2016-03-30 11:50] Gheoan commented on #282
@devcube Looking at the stack traces, there are 2 different issues. One is in `templating` and the other seems to be in `bootstrapper`.

[2016-03-30 15:04] danjrichards opened #376 "Hard coded reference to /src folder?"
Hi
I can run skeleton-es2016-webpack fine, but if I rename the "src" directory to something else and update the "main" entry in webpack.config.js to match it then builds OK but throws this error:
[code]

This error is thrown in the browser:
[code]

Is there an accidental hard-coded "src" in the loader, or have I missed another place where I should update it?

Thanks
Dan

[2016-03-30 15:58] wtfguy opened #377 "Navigation defective"
In firefox 45 the navigation does not do anything if a link is selected. No ChildRouter, no Github Users.

[2016-03-30 19:18] Ryuno-Ki commented on #377
Hello, @wtfguy,

I assume, you'll have to provide more context in order to help Aurelia developers help you.

For example: WHERE does the navigation don't do anything? Have you tried out a skeleton? If yes, which one? Have you run any commands? etc.

[2016-03-30 22:57] niieani commented on #373
There are 4 more typos in both dev and production config files:
We need to Find & Replace `minetype` for `mimetype`.

[2016-03-31 03:33] Yann77 commented on #282
Having same here but first error is related to welcome.html once reaching Github users:
Warning: .then() only accepts functions but was passed: [object Undefined], [object Undefined]

Then I have same as @Jenselme, here is the full stack:
[HMR] Waiting for update signal from WDS...
DEBUG [aurelia] Loading plugin aurelia-templating-binding.
DEBUG [aurelia] Configured plugin aurelia-templating-bindi

[2016-03-31 08:11] seesharper opened #379 "TypeError('Path must be a string..."
In the skeleton-typescript-webpack project, !'m trying to add the bootstrap-treeview npm package.

When running webpack, I get the following error

[code]

Any idea if this is a problem with the package or with the Aurelia webpack plugin?

[2016-03-31 08:54] seesharper commented on #379
This seems to be the problem
https://github.com/jonmiles/bootstrap-treeview/pull/185/files

[2016-03-31 08:54] #379 closed

[2016-03-31 12:35] fopsdev opened #380 "fresh npm install of webpack-typescript fails"
a fresh git clone, followed by the following fails

(Windows 7)

[code]

[2016-03-31 14:05] arjendeblok commented on #380
I just did a free git clone and I cannot reproduce this error. Seems like that a checksum check on the file failed.

[2016-03-31 14:13] arjendeblok commented on #323
Look at the new typescript webpack skeleton for the answers at https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-webpack

[2016-03-31 15:12] heruan commented on #236
Even with
[code]
I'm getting this on IE9 with the current versions:
[code]

[2016-03-31 15:28] Driedas commented on #236
you need a polyfill for request animation frame (e. g. [rAF.js](https://gist.github.com/paulirish/1579671)) and [bind](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/bind)

[2016-03-31 15:37] sevenshadow commented on #364
Thanks for the response.  Sorry for my later response to you.  Thanks also about the code fence info.

[2016-03-31 15:37] #364 closed

[2016-03-31 22:55] delebash opened #383 "typescript-webpack: change target to es2015 or es6 causes error"
Windows 7x64
node 5.9.1

in the tsconfig.jason I changed "target": "es2015", and removed module or set module="2015"

Many duplicate definition errors and a failing error

[code]

This was fixed in @meenie  [version ](https://github.com/aurelia/skeleton-navigation/pull/371#issuecomment-202935706)of this using webpack2 and changes in the "aurelia-webpack-plugin"

Otherwise no problems with es5

Tha

[2016-03-31 23:15] delebash commented on #383
@meenie @EisenbergEffect
Please close this I forgot to install babel and add the config info :)

[2016-04-01 07:00] heruan commented on #236
I thought `bind` was included in `core-js`, thank you!

[2016-04-01 07:32] fopsdev commented on #380
Thanks for the heads up
I've deleted the whole skeleton-folder
Did again a git-clone of the repo
then a npm cache clear
a npm install and...the same message appears...
as said i'm on windows 7, and i've run the cmd's as admin

[2016-04-01 07:44] EisenbergEffect commented on #236
Looks like we may need to update our docs related to legacy browsers.  @jdanyow Can you confirm that we need the rAF polyfill? Is the version linked above your recommendation?

Also @heruan I believe that IE9 implements `bind`. We had a bug with a bad reference earlier in our polyfills. Make sure you have the latest of that library.

[2016-04-01 10:01] heruan commented on #236
@EisenbergEffect I have aurelia-polyfills v1.0.0-beta.1.1.1 and I still get the `bind` error.

[2016-04-01 14:30] atsu85 commented on #383
@delebash, issue author (You) can close it as well ;)

[2016-04-01 15:32] #383 closed

[2016-04-01 18:14] plemon opened #384 "webpack build error"
When trying the latest bits from skeleton-es2016-webpack as of today, I run into this build error with
.....
npm run dev

 aurelia-skeleton-navigation-webpack@1.0.0-beta.1.2.1 dev C:\Users\Phillip\Desktop\skeleton-navigation-master\skeleton-es2016-webpack
webpack-dev-server --config webpack.config.js --hot --inline --progress --devtool eval

 70% 1/1 build moduleshttp://localhost:3000/
webpack res

[2016-04-01 18:44] xmichaelx commented on #384
Just to be sure, you've run  `npm install` ? Could you provide logs from it?

[2016-04-01 18:48] xmichaelx commented on #380
Looks like you have corrupted `C:\Users\knp\AppData\Local\Temp\npm-11456-b36edbe1\registry.npmjs.org\sockjs-client\-\sockjs-client-1.0.3.tgz` which leads to checksum failing.

Delete the corrupted file and try to manually install `npm install sockjs-client` and see if the error still occurs.

[2016-04-01 19:04] Ryuno-Ki commented on #384
Yep, put your code into a [code fence](https://help.github.com/articles/creating-and-highlighting-code-blocks/#fenced-code-blocks) please.

[2016-04-01 19:18] plemon commented on #384
Yes. But I just ran this fresh install as administrator in a node.js cmd
and sure
[npm-debug.zip](https://github.com/aurelia/skeleton-navigation/files/200205/npm-debug.zip)
the error is there but why...what I'm I missing...? Sorry no npm expert here! :-)
[code]
Full log is attached.
Thanks in advance.

[2016-04-01 20:34] xmichaelx commented on #384
Looks like you have an old version of Node and NPM. Could you `npm version` in console and paste versions of  npm and node? Try also installing newer version of Node from https://nodejs.org/en. Hope that helps.

[2016-04-02 16:46] plemon commented on #384
@xmichaelx Thanks for the advice
I upgraded nodejs as suggested, now my nodejs is v4.4.2 and npm is 2.15.0 ,
- ran 'npm install' and got the cli errors others have reported
- after that ran 'npm dedupe and 'npm install' (just in case)
and then finally 'npm run dev' worked like a charm! :-) Awesome

[2016-04-02 16:46] #384 closed

[2016-04-02 20:30] eliranmal opened #385 "skeleton-es6-webpack - main menu not expanding in mobile"
the main menu toggle button (narrow screens) is not working. it seems that bootstrap.js is not loaded by default.

[2016-04-03 03:06] jdanyow opened #387 "jspm 0.17 beta upgrade"
I'm doing some testing with Aurelia and the jspm 0.17 beta.  It all works if I add `.js` extensions to all `<require from="...` elements, all moduleid props in route configs, and to the module id in the `aurelia-app` attribute.  Alternatively, it works if I add `defaultJSExtensions: true` to the config but @guybedford says that is deprecated, and every time I use the jspm cli the attribute is remo

[2016-04-03 14:31] spmamidi opened #388 "typescript-webpack - missing ts sourcemap files"
dev cli uses devtool as eval because of that its' missing ts source files. instead of that use --devtool eval-source-map. So that original typescript file will be emitted.

Fix in package.json
 "dev": "webpack-dev-server --config webpack.config.js --hot --inline --progress --devtool eval-source-map".

webpack.prod.config is having typo in loaders for handling typescript files it should be ts-loade

[2016-04-04 01:01] Vheissu commented on #388
@spmamidi Could you submit a pull request for this? That would be awesome.

[2016-04-04 01:06] Vheissu commented on #380
I just followed the same steps as you on a Windows 7 machine I had lying about and I cannot reproduce this issue. I also cannot reproduce it on a Windows 10 machine. This sounds like very much an issue with your local Node/Npm installation or possibly permissions.

[2016-04-04 01:08] Vheissu commented on #376
@danjrichards There is a configuration setting for the Webpack Plugin used in Aurelia. Please see [here](https://github.com/aurelia/webpack-plugin#configuration-options). Any further issues you face should be asked [here](https://github.com/aurelia/webpack-plugin/issues) on the plugin repository instead.

[2016-04-04 01:10] Vheissu commented on #343
There is a pull request for this @EisenbergEffect which is linked, so this can be closed once that is merged in.

[2016-04-04 08:44] guybedford commented on #387
The way to avoid manually adding extensions, is to use package configuration defaultExtension. Any code that is defined to be contained within a package boundary will get default js extensions.

It sounds like this is something where Aurelia should provide some guidance on the upgrade path. Just let me know if you have any further questions at all here.

[2016-04-04 20:06] jmackay commented on #376
@Vheissu thanks for the message, I had the same issue and wasn't sure where the default was coming from like the OP. Maybe that sample could be placed into the default config for the skeletons? Since you can't find it by doing a search for "src" in your project files its confusing :)

[2016-04-04 20:43] jasonhjohnson commented on #236
@heruan same here

[2016-04-04 20:53] danjrichards commented on #376
Thanks @Vheissu - that's sorted it.
I agree with @jmackay - for the sake of a few extra characters in the skeleton it would simplify the experience for people new to the framework...

[2016-04-05 14:13] eastlondoner commented on #38
This jspm github timeout is hitting me on DockerHub builds - putting my github credentials into my dockerfile just to support this is a massive pain! Please fix this!

[2016-04-05 15:01] EisenbergEffect commented on #38
Please report this to jspm. It's completely beyond our control.

[2016-04-05 16:11] eastlondoner commented on #38
sorry! I thought this was jspm

[2016-04-05 16:40] fopsdev commented on #380
hmm i've reinstalled node. no luck
i'm now on 4.4.2
maybe i should downgrade node to 3.x?

[2016-04-05 16:54] fopsdev commented on #380
however, it works now. don't ask why i have no clue :)

[2016-04-05 16:54] #380 closed

[2016-04-05 22:50] eliranmal commented on #251
@EisenbergEffect, @jedd-ahyoung, is there any progress with the mentioned 'new project'? i'd love to participate in building it.

[2016-04-05 22:59] eliranmal commented on #251
another way of tackling this would be to make each skeleton flavor a git-submodule, but then we're in a different kind of hell.

@jedd-ahyoung, regarding this:

you can clone specific directories with git (>=1.7) using sparse-checkout.

[2016-04-06 13:33] claq2 opened #390 "ASP.NET5 projects not serving original source files for source mapping"
Something about the built JavaScript files is telling browsers to look for the original TS or ES6 JS files in http://<server>:<port>/src, but there is no such directory under wwwroot with the original files. This leaves browsers unable to show the original file contents in their dev tools windows.

I'm not sure if the right approach is to just copy the original files into wwwroot/src or make ASP.N

[2016-04-06 20:15] The1nternet opened #392 "Unhandled rejection TypeError in skeleton-es2016-webpack"
- download skeleton version 1.0.0-beta.1.2.1
- from the skeleton-es2016-webpack folder, run npm install.
- run: npm run dev
- in the browser, go to: `http://localhost:3000` and nothing loads and you see the following error:
`Unhandled rejection TypeError: _aureliaPal.DOM.injectStyles is not a function`

I'm using Node v4.4.2
Here's the stacktrace:
[code]

[2016-04-06 21:31] #392 closed

[2016-04-07 07:24] fopsdev commented on #380
ok after having the error back for whatever reason i've changed the registry back to:
npm config set registry https://registry.npmjs.org/

now it works again! and it's a pleasure to work with webpack, it's so fast :)

[2016-04-07 16:30] #373 closed

[2016-04-08 17:53] jmojiwat opened #394 "typescript-webpack missing file errors"
There's two missing dependencies in the package.json from skeleton-typescript-webpack sample:
aurelia-loader-webpack
aurelia-route-recognizer

These two are defined in tsconfig.json.

The sample works after installing these two.

[2016-04-08 18:08] EisenbergEffect commented on #394
Would you mind making a pull request to fix this up? We'd love to have you as a contributor :smile:

[2016-04-09 01:54] CorpusCallosum commented on #23
Hey Rob, I'm having the same issue trying to run the "skeleton-typescript-webpack" I just downloaded from: https://github.com/aurelia/skeleton-navigation/releases/tag/1.0.0-beta.1.2.1

When I run ```gulp watch```, I get ```"No gulpfile found"```

[2016-04-09 02:29] EisenbergEffect commented on #23
@CorpusCallosum The webpack skeletons don't use gulp. Take a look at the readme for instructions on how to use the webpack skeletons. They are different.

[2016-04-09 10:40] ahmedshuhel commented on #387
Current skelly is mostly jspm v0.16 style app. It does not use the package configuration  feature of latest SystemJS. Another thing to consider is that we now have to deal with two config files: `jspm.config.js` and `browser.config.js` instead of single `config.js` that we currently have.

Besides updating skelly to the latest version of jspm I think we need to update individual dependencies(boots

[2016-04-09 11:06] Svenskunganka opened #396 "[Webpack] Using Jade instead of HTML results in runtime errors"
As Webpack doesn't re-write/transpile `.jade`-files to `.html`, Aurelia gives a runtime error that it cannot find `file.html`.

[code]

Is there any configuration options to make Aurelia look for `.jade` instead of `.html`?

For example, in the bootstrap function, making
[code]
look for `app.jade` instead of `app.html`.

[2016-04-09 13:18] EisenbergEffect commented on #396
I don't think this relates to Aurelia really. What you want to do is configure webpack to compile your jade views to html. There should be a way to set that up with a plugin.

[2016-04-09 13:18] #396 closed

[2016-04-09 15:02] Svenskunganka commented on #396
@EisenbergEffect I do have a Jade Webpack compiler setup already, but in the end the sourcemaps will always say `app.jade` and not `app.html`, even though importing `app.jade` returns a string of HTML.

Looking at the bundle:

[code]

Let's take the the Aurelia gulp environment as an example to illustrate how different Webpack handles source files.
Let's say I use Stylus, and in the gulp project I

[2016-04-09 16:40] EisenbergEffect commented on #396
You can configure Aurelia. See if this helps: http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/app-configuration-and-startup/9

[2016-04-09 18:12] Svenskunganka commented on #396
@EisenbergEffect Thank you very much! Worked perfectly!

For future reference, here's the code I used:

[code]

[2016-04-09 19:10] EisenbergEffect commented on #396
Excellent. If you want, this would be a nice addition to the docs. They are
in the framework repo if you are interested in submitting a PR.
On Apr 9, 2016 2:12 PM, "Tom" <notifications@github.com> wrote:

[2016-04-11 13:48] jmojiwat opened #397 "typescript-webpack Move Source Directory Problem"
For skeleton-typescript-webpack, if I move the Typescript source from /src to say /client/src and update the source references, then run "npm run dev", I get the following error:

`WARNING in ./~/aurelia-bootstrapper-webpack/~/aurelia-loader-webpack/dist/commonjs/aurelia-loader-webpack.js
Module not found: Error: Cannot resolve 'file' or 'directory' d:\skeleton-navigation\skeleton-typescript-webpa

[2016-04-11 16:02] jmojiwat commented on #397
After messing around and looking through the documentations, I realized I missed out the configuration in AureliaWebpackPlugin(). I got it working after updating the AureliaWebpackPlugin to:

    new AureliaWebpackPlugin({src: path.resolve("./client/src")})

[2016-04-11 16:02] #397 closed

[2016-04-12 14:34] rorygallagher2010 commented on #236
@jasonhjohnson +1

[2016-04-12 14:45] EisenbergEffect commented on #236
Kangax says IE9 supports it: http://kangax.github.io/compat-table/es5/#test-Function.prototype.bind
So, maybe there is something else going on?
Can anyone provide more information? A stack trace maybe?

[2016-04-12 16:32] beatsm opened #398 "Aurelia-Typescript-Webpack-Asp.net5"
Would it be possible to have template that uses the above?

At the moment I am trying to cobble together the Aurelia-Typescript-We pack template and the Aurelia-Typescript-Asp.net5 templates but don't really know what I'm doing here.

Will persevere but if anybody that actually understands this stuff can wip up a template that would be great.

Thanks

[2016-04-12 16:54] Driedas commented on #236
@EisenbergEffect there is no stack trace, this is IE9 after all :)
these 2 error messages appear in the dev tools console when opening the aurelia docs, as of this time:
Potentially unhandled rejection [1] Object doesn't support property or method 'bind'
Potentially unhandled rejection [2] Object doesn't support property or method 'requestAnimationFrame'

[2016-04-12 17:39] EisenbergEffect commented on #236
True. The docs are missing some config that we probably should have. For those of you trying to get this working, are you loading aurelia-polyfills before the mutation observer and then following all that up with the bootstrapper import?In other words, something like this:

[code]

That won't solve the rAF issues. Another polyfill is needed for that. @jdanyow Can you advise on the full setup inclu

[2016-04-13 05:28] CarlosOnline opened #399 "skeleton-typescript-asp.net5 does not fully install and build"
Can you please correct the errors?  Otherwise provide instructions.
I am using VS 2015 community edition with update2 installed.

Severity	Code	Description	Project	File	Line	Suppression State
Error	TS2307	Build: Cannot find module 'aurelia-router'.	skeleton-navigation-typescript-vs	E:\skeleton-typescript-asp.net5\src\skeleton-navigation-typescript-vs\src\app.ts	1
Error	TS2307	Build: Cannot find mo

[2016-04-13 05:45] RandomlyKnighted commented on #399
Did you run the `jspm install` command?

[2016-04-13 06:49] CarlosOnline commented on #399
figured it out.
Need to follow  the readme.md.  Odd b/c the expectation is that visual studio package restore will do everything.

second needed to upgrade npm to latest version.
Still has path too long on windows issue.

[2016-04-13 10:58] #399 closed

[2016-04-13 12:07] RandomlyKnighted commented on #399
@CarlosOnline we're aware of the issue where Visual Studio sometimes does not restore everything and we are working on figuring that out.

[2016-04-14 11:08] axwalker opened #400 "skeleton-typescript-webpack (1.2.2) - TypeScript error TS2307"
I cannot get the latest skeleton-typescript-webpack (beta.1.2.2 with none of my own changes) to work. When trying to run `npm run dev`, I get the following:

[code]

I'm new to TypeScript and don't know a huge amount about the inner workings of Aurelia, so am not entirely sure how all the pieces fit together. I was able to get past this error by adding these entries to `ambientDependencies` in `ty

[2016-04-14 12:44] webm0nk3y commented on #377
Running FF 45.0.2 on OSX and everything works fine for me.

[2016-04-14 12:44] jasonhjohnson commented on #236
@EisenbergEffect I'm doing:

[code]

[2016-04-14 14:13] EisenbergEffect commented on #400
It sounds as if you may not have everything installed correctly. In the readme, there's a note about NPM 3 and/or dedupe. Can you take a look at that and see if you followed those instructions? They often get missed and cause problems.

[2016-04-14 14:29] axwalker commented on #400
I had previously installed with NPM 2.x along with running `npm dedupe` - this had worked fine for the es2016-webpack skeleton.

I've just tried the new typescript-webpack skeleton with NPM 3.x and still got the same TS2307 error as above. However, this time the app then loads and works fine (whereas it didn't with NPM 2.x + dedupe).

Editing `typings.json` as described above with the 3 new additi

[2016-04-14 14:35] EisenbergEffect commented on #400
@axwalker Would you be interested to submit a PR to add the missing entries in the typings.json?

[2016-04-14 14:35] axwalker commented on #400
Yes sure, just doing that now.

[2016-04-14 16:51] nathan-j-fiedler commented on #282
For those who want to suppress the warnings and are using [skeleton-es2016-webpack](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-es2016-webpack), in main.js, replace

`var Promise = require('bluebird'); // Promise polyfill for IE11`

with

`var Promise = require('bluebird').config({longStackTraces: false, warnings: false}); // Promise polyfill for IE11`

That should save you

[2016-04-14 17:48] jmojiwat opened #402 "typescript-webpack npm run build problem"
When running `npm run dev`, the bundle.js file will be served from memory as if it was in the root directory.

When running `npm run build`, the bundle.js and related files will be placed inside the /build directory.

However, the script reference inside index.html points to bundle.js in the root directory. Changing the script reference inside index.html to reference /build/bundle.js will still re

[2016-04-14 18:04] EisenbergEffect commented on #402
Would you be interested in submitting a PR for the fix?

[2016-04-14 18:18] jmojiwat commented on #402
@EisenbergEffect Sure. I'll send a PR shortly. Thank you very much to you and your team for this amazing framework. I struggle with JavaScript, but Aurelia makes writing JavaScript apps almost fun again. :)

[2016-04-14 23:06] njappboy opened #403 ".d.ts duplicate identifiers when using aurelia.i18n with skeleton-typescript"
When I attempt to use aurelia.i18n with skeleton-typescript app I'm running into typescript definition collisions:

[code]

[code]

[2016-04-15 02:17] njappboy commented on #403
If I include `jspm update` after the `jspm install aurelia-i18n` the `gulp build` completes and the application loads properly after `gulp watch` is invoked.

[code]

`gulp build` does still complain about `i18next` because the package does not contain a `i18next.d.ts` artifact.

[code]

[2016-04-15 02:18] #403 closed

[2016-04-16 17:06] Jenselme commented on #282
@nathan-j-fiedler thanks for the tip. Just did that and it worked!

[2016-04-16 22:47] vaskokj opened #405 "skeleton-es2016: Using "jspm update" to install the latest version of aurelia causes font-awesome to break"
I'm new to the JS ecosystem if this is not the intended method of updating aurelia disregard.

How to reproduce:

[code]
load your browser to localhost:9000, open error log in browser and the application will be missing font-awesome.

Actual results
The logs says http://localhost:9000/jspm_packages/npm/font-awesome@4.5.0/css/font-awesome.min.css Failed to load resource: the server responded with a

[2016-04-18 14:06] ssur-sgnl opened #406 "skeleton-typescript-asp.net5 debug question"
Has anyone had success in debugging from typescript using skeleton-typescript-asp.net5 in visual studio (e.g. put break-points in TS source)? I have tried using meta: {'*.js', {scriptLoad:true}} in System.config as mentioned in a few blogs but this just results in exceptions being thrown during loading of the various libraries and the web page fails to load. We have seen that approach work in gene

[2016-04-18 14:19] EisenbergEffect commented on #406
@cmichaelgraham should know something I think.
On Apr 18, 2016 10:06 AM, "ssur-sgnl" <notifications@github.com> wrote:

[2016-04-18 15:42] ralexand56 opened #407 "Webkit Typescript skeleton doesn't support IE11"
Can we add a skeleton that is compatible with IE11? Getting a promise defined trying to run it there.

[2016-04-18 15:43] ssur-sgnl commented on #406
I have reached out to him ... thanks

[2016-04-19 12:33] viewpit commented on #308
Now it won't work in "skeleton-es2016-asp.net5" (VS 2015 Update 2), can't debug es6 scripts.
When i removed the fix, it worked in Chrome and Firefox :)

I change in build/tasks/build.js from:
`.pipe(sourcemaps.write({includeContent: false, sourceRoot: '/src'}))`

To
`.pipe(sourcemaps.write({includeContent: true}))`

[2016-04-19 12:35] fopsdev opened #408 "basic webpack typescript compile question (ts-loader)"
hi there,

i've just recognised that after running npm run dev every change to my src\*.js -files will reload the browser correctly with my updated js (thanks to hot module reload i think)
in my workflow my ide (sublime) uses tsc to generate the .js files
thats very cool and nice  but then....

 why do we need this in the config:
`{ test: /\.ts$/, loader: 'ts-loader' },`

is it because other workf

[2016-04-19 14:11] EisenbergEffect commented on #308
How are you running the app? Are you using `gulp watch` or are you using the IDE. That may be the problem.

[2016-04-19 14:12] EisenbergEffect commented on #408
Webpack is assuming that you don't have something else doing the transpile. Essentially, webpack is both the build tool and the bundler.

[2016-04-19 14:12] #408 closed

[2016-04-19 19:35] Mike-Dunton commented on #313
Any luck with loading Cordova plugins?

I've got the Skelton working and loading in phonegap I am a little lost at getting some of the plugins working/injected into my viewmodels.

[2016-04-20 06:01] viewpit commented on #308
I use `IDE` and debugging in Chrome, this applies `skeleton-es2016-asp.net5`
Tested with `IIS Express` and `DNX` in Visual Studio, both works only before the change.
Run `watch` in `Task Runner Explorer` inside Visual Studio 2015

[2016-04-20 09:32] valeriob commented on #313
I'm on hold waiting for the official kit

[2016-04-20 11:56] EisenbergEffect commented on #308
So, just to clarify, the settings need to be different based on what IDE is launching things. Is that correct?

[2016-04-20 11:57] EisenbergEffect commented on #313
We are working on an official kit which will be delivered via a new CLI tool we are working on (since our skeleton list is getting a bit out of hand). We don't know yet when that will be released. In the mean time, you may want to ask in the gitter channel to see if anyone has a kit you can use.

[2016-04-20 12:22] k2s commented on #308
@viewpit could you pls try:
[code]
Either value of `includeContent` works in my tools (Chrome, JetBrains).
In my opinion setting `sourceRoot` is correct, because the source files are loaded from `dist` folder and sources are in `src` folder.

Without setting `sourceRoot: '/src'` debugging in Chrome is possible, but the source file displayed is not the real file on disk.

[2016-04-20 15:58] robinchesterman commented on #400
I am having the same problem even after adding the missing typings, running typings install, de-duping and using npm 3:

"Cannot set property 'viewSlot' of undefined"

[2016-04-20 18:27] toddwprice opened #409 "`gulp export` fails to account for `rev: true` in bundles.js"
If you set `rev: true` for a bundle defined in /build/bundles.js, the resulting bundle has a file name that is missed by the export-copy task. The problem is in this function:

[code]

If revisioning is set to true, `b + '.js'` is incorrect, since the bundled javascript file includes a fingerprint ID in it. I believe a dependency on aurelia-bundler is needed here to resolve this correctly.

[2016-04-20 20:50] EisenbergEffect commented on #409
@ahmedshuhel Can you look into this?

[2016-04-20 21:49] viewpit commented on #308
I agree with you @k2s.

So I tested `skeleton-es2016-asp.net5` and `skeleton-es2016`, both worked with:
 .pipe(sourcemaps.write({includeContent: true, sourceRoot: '/src'}))

@EisenbergEffect I only think you need to change from:
`.pipe(sourcemaps.write({includeContent: false, sourceRoot: '/src'}))`
To:
`.pipe(sourcemaps.write({includeContent: true, sourceRoot: '/src'}))`

Then it worked for `gulp

[2016-04-20 23:28] EisenbergEffect commented on #308
I remember distinctly that there was a problem with includeContent though. I'm not sure we can universally set things up this way. @ashleygrant Do you remember the details of this?

[2016-04-21 06:19] doktordirk commented on #409
See also #284

[2016-04-21 14:50] toddwprice commented on #409
Although the solution in #284 isn't what I was thinking, it does work for this use case. However, if revisioning is _not_ turned on (i.e. rev: false), it would fail to copy the bundles because of the lack of a "-" in the file name. Perhaps this could be used for now until a method of reading config.js is determined:

[code]

We could also just read config.js and parse out the beginning `System.con

[2016-04-22 08:31] andreasohlund opened #411 "Menu not working on small screens"
The responsive menu doesn't seem to work.

### Repro

* View the skeleton on an iphone, note that menu doesn't work
* On desktop, make the window small so the responsive menu shows, note that menu doesn't work

[2016-04-22 08:32] andreasohlund commented on #411
Could this be https://github.com/aurelia/skeleton-navigation/pull/410 ?

[2016-04-22 08:33] andreasohlund commented on #411
Seems to be fixed in https://github.com/aurelia/skeleton-navigation/pull/386 ?

(sorry, should have looked at the pulls before raising this)

[2016-04-22 09:48] k-paxian commented on #407
Same here, working on to resolve this.. post here if will mitigate this

[2016-04-22 16:42] axwalker opened #412 "skeleton-typescript-webpack (1.2.2) - Karma tests completely fail"
Running `npm run test` on a clean install of the typescript-webpack skeleton errors with: "Uncaught SyntaxError: Unexpected token import" in `test/unit/app.spec.js`.

I think this is caused by `'test/**/*.js': ['webpack']` in `karma.conf.js`. In the non-TypeScript webpack skeleton this is fine because webpack then has a loader for `*.js` so the file goes through babel and gets transpiled to ES5 -

[2016-04-22 18:59] alsoicode commented on #324
I'm seeing exactly the same issue with jspm 0.16.15 on several different packages

[2016-04-22 19:37] AshleyGrant commented on #324
Try updating to the latest 0.16 `jspm` release. This was working for me today.

[2016-04-22 19:58] alsoicode commented on #324
I think in my case it's a corporate firewall issue, but I'll also try updating.

[2016-04-22 22:44] EisenbergEffect commented on #412
Option 3 seems to make the most sense to me. If you're willing to create a PR, let's do it :)

[2016-04-25 10:40] lucamorelli opened #414 "error building map files"
Hi, I'm trying to run this sample from an asp.net 5 project, and I copied all the files inside a solution. When I run the command **npm run build** the files are generated, but I receive errors in every .map file

[code]

I copied all the webpack configuration, am I missing something?

[2016-04-25 12:20] lucamorelli commented on #414
I copied in the **wwwroot** directory the result of the build, the index.html and all the views, but starting the app I have this error message

aurelia-pal.js:19 Uncaught (in promise) Error: Error invoking ViewSlot. Check the inner error for details.
------------------------------------------------
inner error: TypeError: Cannot set property 'viewSlot' of undefined
    at new ViewSlot (http://loc

[2016-04-25 18:06] Ryuno-Ki commented on #414
Hi, @lucamorelli,

your stack traces are way more readable if you put them [into code fences](https://help.github.com/articles/creating-and-highlighting-code-blocks/). Thanks in advance!

Could you provide (the content of) the `G:\Sorgenti\Samples\src\AureliaWebPack\src\app.js.map` and/or `aurelia-pal.js`?

[2016-04-25 19:03] lucamorelli commented on #414
the .map file is a standard generated map file, looks like the problem is that webpack process the map files, without a loader.
the aurelia-pal.js is the latest version  from the npm package

[2016-04-25 21:18] lucamorelli commented on #414
Almost solved, now I have the problems that the css files that are imported in the main.ts are not bundled

[2016-04-26 09:28] shaffi commented on #65
`$ jspm cc`     and then
`$ jspm install -y`
worked for me. @leadbaxter thanks

[2016-04-26 11:27] dpinart commented on #400
I'm also getting "Cannot set property 'viewSlot' of undefined" error

[2016-04-26 13:10] #385 closed

[2016-04-26 14:54] #400 closed

[2016-04-26 17:11] #412 closed

[2016-04-27 15:11] thomasnordlund opened #417 "Unhandled rejection TypeError: _aureliaPal.DOM.injectStyles is not a function"
Downloaded the latest version of skeleton-es2016-webpack. Ran npm install. Ran npm run dev. Getting the following error:
[code]

[2016-04-27 15:15] EisenbergEffect commented on #417
In the instructions, please note, you either need NPM 3 or need to run dedupe. That is likely your issues here.

[2016-04-27 15:15] #417 closed

[2016-04-27 15:20] thomasnordlund commented on #417
running dedupe worked.

[2016-04-27 15:23] EisenbergEffect commented on #417
Excellent!

[2016-04-27 17:38] atsu85 commented on #326
I'll vote for keeping custom typings folder even if it is possible to move all the files used by Aurelia skeleton to another folder as described by @RomkeVdMeulen:

Then the typescript conf doesn't need to be modified when someone wants to add His/her own custom typings (maybe just to experiment and refactor typings out to separate repo later or maybe to leave them there forever without bothering

[2016-04-27 18:06] atsu85 opened #419 "skeleton-typescript* restructure: move custom_typings folder to an external repo"
Hi,
I propose moving `custom_typings` folders from all TypeScript skeleton projects to `typings` subfolder named `custom`. The `typings` folder contains other TypeScript declaration files managed by `typings` tool, so it makes sense to use it for all TypeScript declarations, including those that are not managed by typings tool.

Based on [the reply](https://github.com/aurelia/skeleton-navigation/p

[2016-04-27 18:51] EisenbergEffect commented on #419
It makes sense to me.

[2016-04-27 21:12] Vheissu commented on #419
Sounds good @atsu85 I think it would be nicer inside of the typings directory.

[2016-04-28 03:16] CarlosOnline commented on #399
**Found the problem: Visual Studio was using old node version.**

**Upgrade NPM**
Powershell:
Set-ExecutionPolicy Unrestricted -Scope CurrentUser -Force -ea 0
npm install --global --production npm-windows-upgrade
npm-windows-upgrade

**Setup VS to use NPM latest version**
C:\Program Files (x86)\nodejs\node_modules\npm

echo Tools.Options
echo Projects and Solutions
echo     External Web Tools
echo

[2016-04-28 06:24] atsu85 commented on #419
OK, I'll send a PR for skeleton-typescript and skeleton-typescript-webpack in few days (can't make it today) and I'll make sure both of them work as expected, including tests (that currently fail with skeleton-typescript-webpack - i'll create another issue for that later and send another PR for that).

I could need some help with skeleton-typescript-asp.net5 - at least someone to validate, that ev

[2016-04-28 08:58] axwalker commented on #419
I think there's a much better solution here. I don't think the `typings` folder should be be in the repository at all - and I think it's correctly listed in `.gitignore`. `tsconfig.json` and `typings.json` are all that you should need. If you:

1. Delete the `typings` folder.
2. Remove `"./node_modules/aurelia-*/dist/aurelia-*.d.ts",` from the `filesGlob` in `tsconfig.json`. Otherwise you get dupl

[2016-04-28 20:09] atsu85 commented on #419
@axwalker, I agree with most what You said:

I also think that for real project there is no need to add derived resources to the version control, but this was decided the other way in much earlier discussion that I didn't participate. To be honest, I don't really care if files created by `typings install` are in the git or not.

I also found out, that it isn't needed any more, because the same fil

[2016-04-29 09:13] RomkeVdMeulen commented on #419
I still suggest moving the typings currently in `custom_typings` to an external repo so that people can pull in updates and fixes with the `typings` command: that's the whole point of that tool.

I don't mind keeping the `custom_typings` folder (if you must) so that new developers have a place to put their own type files that will automatically be picked up. But at least make it empty: it's a bad

[2016-04-29 09:22] RomkeVdMeulen commented on #419
To illustrate: one of the first things I did once I started my current project, based on the typescript skeleton, was to get rid of `custom_typings` completely and use `typings.json` instead. `github:DefinitelyTyped/DefinitelyTyped/es6-shim/es6-shim.d.ts` makes a handy replacement of `es6.d.ts`, though there are numerous other options. The `core-js.d.ts` isn't necesary anymore since Aurelia replac

[2016-04-29 09:23] RomkeVdMeulen commented on #326
Discussion continued on #419

[2016-04-29 09:23] #326 closed

[2016-04-29 09:28] RomkeVdMeulen commented on #341
I think this was fixed with https://github.com/aurelia/skeleton-navigation/commit/824cd0184c99b202d1c0e5a780f55c73fdbff691

[2016-04-29 09:52] RomkeVdMeulen opened #420 "Register plugin in Karma?"
I'm trying out plugin [inject-properties](https://github.com/heruan/inject-properties/), which needs to register a hook with the framework. I'm already doing a custom bootstrap for the live environment, so it was easy to call

[code]

But I can't figure out how to do the same in Karma. The [setup file](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript/test/unit/setup.t

[2016-04-29 11:45] axwalker commented on #419
`aurelia-protractor.d.ts` is for the e2e tests in the TypeScript skeletons.

[2016-04-29 12:27] doktordirk commented on #420
[code]

[2016-04-29 15:19] RomkeVdMeulen commented on #420
The plugin exposes a [configure function](https://github.com/heruan/inject-properties/blob/master/src/aurelia-inject-properties.js), not an injectable object (which matches the [skeleton plugin](https://github.com/aurelia/skeleton-plugin/blob/master/src/index.js)).

[2016-05-01 09:40] srfabio opened #421 "Gulp serve (serve.js) not configured properly on skeleton-*-asp.net5"
When running 'gulp serve' the browser displays a message 'Cannot GET /'. Running 'dnx web' works perfectly fine.

The way I fixed it (thanks to the help given on gitter Aurelia/Discuss) was by adding an index.html (just copied from skeleton-es2016) file to wwwroot and changing the baseDir parameter for browserSync on build/tasks/serve.js to 'wwwroot/'

After this fix I could run serve/watch/e2e wi

[2016-05-01 10:31] EisenbergEffect commented on #421
@PWKad Are you familiar with this?
@srfabio Would you be interested in submitting a PR if @PWKad approves of the change?

[2016-05-01 12:04] srfabio commented on #421
@EisenbergEffect Yes I'm happy to do that once it's approved

[2016-05-01 17:39] mikeesouth commented on #282
This is really spamming my console making it hard to debug. I'm using typescript and the .config function isn't defined, I get an error message "Cannot find name 'config'.".
I'm not so experienced in custom type definitions for TypeScript. Does anyone have hints on how to get the config call to play nicely with TypeScript?

[2016-05-01 19:01] PWKad commented on #421
Hmm this is meant to be an ASP.NET5 app so you wouldn't want to use gulp serve except for e2e testing.  For this reason we should keep the index.html out of `wwwroot` (since it's for testing only).  Would it not be better to run the app with `dnx web` for the e2e tests?

[2016-05-01 20:48] pingcrosby commented on #406
Ps I think you have to add the full path to the mappings folder, I added the full path to config.js - still did not work though.

  meta: {
    "../src/**/*.js": {
      "scriptLoad": true
    }
  },

[2016-05-01 22:19] srfabio commented on #421
Agreed! That's a good point.

I'll then suggest to update the documentation accordingly as it tells to run `gulp watch` before `gulp e2e`, which will fail.

[2016-05-02 00:03] PWKad commented on #421
Sounds good if you can double check no longer problems and pr the doc that would be awesome.  If not we can probably give the docs a once over again this week

[2016-05-02 00:13] srfabio commented on #421
I've checked and everything seems to be working fine. I'll create a pr tomorrow with some changes to the documentation, first contribution :)

[2016-05-02 11:48] spapaseit opened #422 "Wallaby.js not working with the Babel 6 ASP.NET 5 skeleton"
Wallaby.js has stopped working ever since the ASP.NET 5 ES2016 skeleton was updated to use Babel 6.

The configration, as is, throws the following error:

    wallaby.js started
    core v1.0.223
    Failed to load configuration file:  Error: Cannot find module 'babel'
      at Module.s.require (C:\Users\Sergi\.wallaby\core\server.js:18:22437)
      at Object.<anonymous> (C:\Software Development\P

[2016-05-02 12:14] spapaseit commented on #422
Never mind, just changed `require("babel")` to

    require("babel-core")

Sorry for wasting your time.

[2016-05-02 12:24] ArtemGovorov commented on #422
@spapaseit You may actually completely remove the `babel` parameter, should still work for you (wallaby will automatically use `babel-core` from node modules). However, currently `require("babel-core")` would still use babel 5 (installed in your node modules).

 I [have sent the PR](https://github.com/aurelia/skeleton-navigation/pull/423) to update to babel 6.

BTW, in the sample you have referenc

[2016-05-02 12:54] spapaseit commented on #422
@ArtemGovorov, I've changed my config and package.json to match that of your PR. Everything works fine now. Thanks!

[2016-05-02 14:22] spapaseit commented on #422
@ArtemGovorov, I thought everything was working fine unit I started writing tests. Whenever I try to start wallaby I get multiple `​​​​​RangeError: Maximum call stack size exceeded.` errors:

[code]

Of course, I assumed it's my fault and that I probably have a circular reference somewhere in `edit-parent.js`. The fact that wallaby starts whenever I remove the line `import {EditParent} from "../..

[2016-05-02 18:57] #341 closed

[2016-05-02 20:11] ralexand56 commented on #407
Thanks! That worked. Wish we could get a webpack skeleton that worked as is with IE11. There are a lot of win 7 users out there where IE11 is the highest version they can get.

[2016-05-02 20:29] k-paxian commented on #407
I'm on it, making it working out of the box with the latest polymer. Actually everything I've tried so far is broken in some ways. Why in the world noone is verifying their stuff on the most spreaded configurations on the free market? Retorical question.

[2016-05-02 20:31] k-paxian commented on #407
Even provided article http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.2.2/doc/article/integrating-with-polymer
Doesnt work out of the box due to lags in a latest published aurelia-html-import-template-loader plugin.

[2016-05-02 20:35] EisenbergEffect commented on #407
Did something change in Polymer to break that plugin or invalidate the article?

[2016-05-02 20:51] k-paxian commented on #407
There is a mistake in aurelia-html-import-template-loader which prevents it from being loaded and configured by aurelia. The mistake is in the names of the plugin  in one place there is a aurelia-html-import-template-loader but in another it's used as html-import-template-loader. So there is no consistency there and plugin cant be loaded.

[2016-05-02 20:55] EisenbergEffect commented on #407
If you can submit a PR today, I can release it tomorrow.

[2016-05-02 21:05] k-paxian commented on #407
Sorry, I'm on a vacation for two weeks from now, will get back to it later.

[2016-05-03 00:51] airboss001 opened #425 "skeleton-typescript-webpack: Setting up Wallaby"
I had to work through a few things to get all tests to run cleanly using Wallaby.

user.spec.ts was failing with not being able to find 'Promise'.

After chasing my tail trying to install bluebird like in the es2016 example I realized that typings already had the es6-promise loaded and I was getting warnings in the browser when I tried to use bluebird (issue already open on that.) Importing kept s

[2016-05-03 00:52] #425 closed

[2016-05-03 01:22] ArtemGovorov commented on #422
@spapaseit It doesn't seem like an issue with wallaby.js.
Also, I can't reproduce it. Since there's no code you've mentioned (`edit-parent`) in the skeleton (must be your app specific code), but for example the file `skeleton-es2016-asp.net5/src/skeleton-navigation-es2016-vs/src/users.js` has
[code]
and commenting/uncommenting it doesn't cause any issues.

[2016-05-03 03:20] EisenbergEffect commented on #409
Fixed.

[2016-05-03 03:20] #409 closed

[2016-05-03 07:20] spapaseit commented on #422
@ArtemGovorov it has to be something in my code, I know; it's the most logical explanation but... Thanks for you help!

[2016-05-03 07:20] #422 closed

[2016-05-03 19:09] snortblt commented on #390
Ran into this too. For whatever reason, the build-system task in the VS versions of the skeleton projects is pointing to /src. If you change that task to use `.pipe(sourcemaps.write({includeContent: true}))` like the stand-alone versions do, which will include the source content in the compiled source, it works.

[2016-05-03 19:21] snortblt opened #426 "Running app from visual studio starts browser-sync"
I don't understand where or why this is happening but running the app from visual studio's Debug button launches browser-sync. The README file says:

However, the front end is already being served on 9000 after launching as well as on IIS. Running `gulp watch` starts a second instance on port 9001 which fails to load with the response: "Can't GET".

An explanation of why would be helpful (I see no

[2016-05-04 07:00] doktordirk opened #427 "Consider setting Typescript compile target to ES6"
Given the non-compliance of Typescript to es5 compilation (particularly class inheritance), it might be better to set the compile target of Typescript to ES6 as more features are already standard in ES6. Babel could then be used to further transpile down to ES5.

[2016-05-04 17:07] atsu85 commented on #427
I'm wondering what kind of problems You have had with class inheritance? I've used superclass for views and custom elements and haven't had any problems with typescript + ES5 so far. Maybe my usecase has been different.

[2016-05-04 18:12] doktordirk commented on #427
Object.hasOwnProperty and Object.getPrototypeOf don't work in the es5 version. aurelia uses both

[2016-05-04 18:20] mattgaspar commented on #427
Are you getting TypeScript errors and/or errors in the browser?
I found that the es6-collections typescript definition file doesn't cover everything in the aurelia-polyfill.  Try replacing it with es6-shims definition file:
typings install es6-shim --ambient --save

[2016-05-04 18:26] doktordirk commented on #427
's not about typings. it's how they (purposefully) implemented class inheritance for es5

[2016-05-04 18:41] mattgaspar commented on #427
I think there was some issues addressed in the aurelia-polyfills module.  I remember running into some issues with IE11 a few weeks ago but they were fixed in the latest version of the polyfill
https://github.com/aurelia/polyfills/blob/master/src/object.js

[2016-05-04 19:09] doktordirk commented on #427
hm yeah, see, fixing aurelia-polyfills is exactly what i want to avoid with this suggestion here (see https://github.com/aurelia/polyfills/issues/24)

[2016-05-04 20:49] mattgaspar commented on #427
Looks like this webpack2 branch addresses the issue
https://github.com/aurelia/skeleton-navigation/pull/371

[2016-05-05 10:32] avizcaino-newuibcn commented on #400
Sorry, but I'm still getting `viewSlot of undefined` after getting the last updated version... Any clue?

[2016-05-05 21:27] napoweb opened #430 "1.0.0-beta.1.2.3 - skeleton-es2016-webpack: Broken installation when "npm run dev""
Node v0.10.42
NPM v3.8.8
jspm 0.16.15

0 info it worked if it ends with ok
1 verbose cli [ 'node', '/usr/bin/npm', 'run', 'dev' ]
2 info using npm@3.8.8
3 info using node@v0.10.42
4 verbose run-script [ 'predev', 'dev', 'postdev' ]
5 info lifecycle aurelia-skeleton-navigation-webpack@1.0.0-beta.1.2.3~predev: aurelia-skeleton-navigation-webpack@1.0.0-beta.1.2.3
6 silly lifecycle aurelia-skeleton-na

[2016-05-05 21:32] EisenbergEffect commented on #430
You are running an extremely old version of Node. I would start by updating that to at least 4.x and see if that fixes the issue.

[2016-05-05 21:38] napoweb commented on #430
Thanks Rob! Indeed updating node to version 6 fixes the problem.
The version i installed before was supposedly 4.4.3 LTS.

[2016-05-05 21:38] #430 closed

[2016-05-05 22:38] EisenbergEffect commented on #430
That's odd that it didn't install correctly before. Glad it's all working now. Thank you for your patience. Such is the JS ecosystem sometimes.

[2016-05-11 14:05] MoiraG commented on #411
Hello andreasohlund,

I may have missed something, but what did you do to fix the problem for the "non webpack" skeleton-navigation?

thanks and best regards

[2016-05-11 14:49] andreasohlund commented on #411
pretty sure `jspm install jquery` did the trick for me?

[2016-05-11 14:59] MoiraG commented on #411
But the dependency  "jquery": "npm:jquery@^2.2.3" is already in package.json?

It works. Now I'm confused but happy .

Thanks

[2016-05-11 16:08] andreasohlund commented on #411
Needs to go into config.js as well, that happened when you did the jspm install (and also bundles.js if you want it to work when exporting)

[2016-05-11 16:08] #411 closed

[2016-05-11 20:05] manyrootsofallevil commented on #390
The out of the box build-system task contains this (typescript-asp.net skeleton)
 `     .pipe(sourcemaps.write({ includeContent: false, sourceRoot: '/src' }))`
changing it to
 `     .pipe(sourcemaps.write({ includeContent: true}))`
Enables me to debug from Chrome but not directly from Visual Studio better than nothing i suppose

has anybody managed to debug typescript directly from Visual Studio?

[2016-05-11 20:28] manyrootsofallevil opened #432 "Unable to Debug Typescript from Visual Studio on skeleton-typescript-asp.net5"
The title says it all really.

by changing the **build-system** task on gulp to this

[code]

I can debug on Chrome but breakpoints are not being hit in Visual Studio.

I've tried suggestions on the web around using  a meta tag on config.js but it doesn't seem to work, probably because I'm not sure what exactly the path should be

[code]

?

[2016-05-12 12:22] MannikJ opened #433 "skeleton-typescript: Not able to run in Electron"
I am not longer able to run the typescript skeleton in Electron. I don't know when it stopped working, because I develop in the browser and just assume running the app in electron works. To exclude that I just messed up my own project, I fetched a fresh version of the repo wich also fails to run in Electron. I don't think it was the v1.0.1 release of Electron, because the problem existed before.

[2016-05-12 21:20] jrabalais opened #434 "o.DOM.injectStyles is not a function"
aurelia.js:13 Uncaught (in promise) TypeError: o.DOM.injectStyles is not a function
    at r.G (http://localhost:49849/dist/aurelia.js:13:17109)
    at http://localhost:49849/dist/aurelia.js:6:1595

Downloaded skeleton-es2016-asp.net5 beta 1.2.2. Got everything running perfectly.
Pulled down the Kendo UI Bridge (KendoUI Core) and received error.  Ran dedupe and now getting the below error:

aureli

[2016-05-13 08:29] Thanood commented on #434
Did you try `jspm update` after that? Also please check if you got any JSPM forks after installing.

Maybe the KendoUI bride folks should also know about it, so I ping @JeroenVinke :smile:

[2016-05-13 18:50] jasonhjohnson commented on #236
@heruan Did you ever solve this one?

[2016-05-13 23:21] jrabalais commented on #434
jspm update fixed it, thanks.

[2016-05-13 23:21] #434 closed

[2016-05-14 04:18] hamstercat opened #436 "Cannot read property 'aurelia' of null in protractor using webpack"
I've just made the switch from jspm to webpack and I got everything working except my e2e tests. Whenever I call the method `browser.waitForRouterComplete()`, I receive the following:

`Uncaught JavascriptError: javascript error: Cannot read property 'aurelia' of null`

The issue seems to be at this line : https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-es2016-webpack/aurelia.p

[2016-05-16 13:00] EisenbergEffect commented on #41
Closing this issue since we've got Webpack up and running. We are continuing to improve it with the community's help, but there are basic skeletons in place now.

[2016-05-16 13:00] #41 closed

[2016-05-16 13:07] EisenbergEffect commented on #101
Issue moved to [aurelia/router #339](https://github.com/aurelia/router/issues/339) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-05-16 13:07] #101 closed

[2016-05-16 13:35] #137 closed

[2016-05-16 14:53] EisenbergEffect commented on #207
The API on this has been changed and improvements have been made.

[2016-05-16 14:53] #207 closed

[2016-05-16 15:19] #214 closed

[2016-05-17 14:53] EisenbergEffect commented on #230
Closing as a duplicate to aurelia/router#27.

[2016-05-17 14:53] #230 closed

[2016-05-17 15:28] #249 closed

[2016-05-17 15:30] EisenbergEffect commented on #251
Closing this for now. I don't think we're going to change the organization. In the future, we think most people will use the CLI, however skeletons will remain to show integration with other technology and variant setups.

[2016-05-17 15:30] #251 closed

[2016-05-17 15:35] #260 closed

[2016-05-17 16:13] EisenbergEffect commented on #432
Please ask about this in the gitter. I'm pretty sure a lot of people are debugging with VS and TS. Someone there can assist.

[2016-05-17 16:13] #432 closed

[2016-05-17 20:36] #402 closed

[2016-05-18 08:14] heruan commented on #236
Nope, IE9 still complains for `bind` not being supported by `Object`.

[2016-05-18 12:53] EisenbergEffect commented on #236
@heruan If you add a basic Function.bind polyfill to the page before anything runs, does that fix the problem? If so, we can just add that polyfill to our collection. I'd just like to know for sure that that is the actual issue.

[2016-05-18 13:34] doktordirk commented on #236
console.error.bind in aurelia-bootstrapper is the culprid

[2016-05-18 13:36] doktordirk commented on #236
ps: i also didn't get this.global.requestAnimationFrame in aurelia-pal-browser to work for ie9 with polyfills, but that might be just me

[2016-05-18 13:45] EisenbergEffect commented on #236
ok, so it does look like we need to add the function.bind polyfill. If you add one of those to the page, does the error go away?

[2016-05-18 13:49] doktordirk commented on #236
no,
 as you said, bind is available. it's console.error.bind only afaik

[2016-05-18 13:52] AshleyGrant commented on #236
I bet it relates to this: http://stackoverflow.com/questions/10183440/console-is-undefined-error-in-ie9

Console is only defined in IE9 when the dev tools are opened.

I'm just guessing though.

[2016-05-18 13:53] EisenbergEffect commented on #236
Interesting...so this is really an issue with the console logger in IE9. Perhaps we just need to update that code. If I recall, we based that code of another implementation, but it has changed over time. Maybe we lost something that was necessary for IE9 to function correctly. Would someone here be interested to research what changes we need to make to the ConsoleLogger to get this fixed? It would

[2016-05-18 13:54] doktordirk commented on #236
but i have them open
ps: add on top of bootstrapper.js
console.log(Function.bind);
->
 function bind() {
[native code]
}

[2016-05-18 14:09] doktordirk commented on #236
the change that caused it
https://github.com/aurelia/bootstrapper/commit/145bd3f2c0a3f5e3cca2d354446329e49204efe4#diff-1fdf421c05c1140f6d71444ea2b27638

(on to other tasks)

[2016-05-18 14:16] EisenbergEffect commented on #236
So, maybe the best solution is to leave that code as is...but take the fixup code out of the ConsoleLogger implementation and run it during the platform initialization (basically move it to pal-browser) or maybe even move it to the polyfills library? I think that would fix it. Any thoughts on that?

[2016-05-18 14:36] DINHDUY opened #438 "Too many TS2307 errors in beta.1.2.5 "npm run build""
ERROR in ./src/users.ts
(1,22): error TS2307: Cannot find module 'aurelia-framework'.

ERROR in ./src/users.ts
(2,26): error TS2307: Cannot find module 'aurelia-fetch-client'.

ERROR in ./src/users.ts
(24,15): error TS2304: Cannot find name 'Promise'.

ERROR in ./src/main.ts
(1,23): error TS2307: Cannot find module 'aurelia-framework'.

ERROR in ./src/main.ts
(2,25): error TS2307: Cannot find modu

[2016-05-18 14:42] EisenbergEffect commented on #438
Did you install the typings?

[2016-05-18 14:43] DINHDUY commented on #438
Yes
typings --version      Print the CLI version

typings@1.0.4

[2016-05-18 14:44] EisenbergEffect commented on #438
@PWKad Do you know what the issue could be here? @cmichaelgraham

[2016-05-18 14:45] DINHDUY commented on #438
└── (No dependencies)

typings\index.d.ts                 <= is empty

[2016-05-18 14:46] DINHDUY commented on #438
It's the aurelia-skeleton-typescript-webpack and I am following the steps in README.md

[2016-05-18 14:47] EisenbergEffect commented on #438
Oh. I thought this was a Visual Studio thing. Ok. @Vheissu Any ideas on this?

[2016-05-18 14:50] DINHDUY commented on #438
Same errors with Visual Studio template :-)

Severity	Code	Description	Project	File	Line	Suppression State
Error	TS2307	Build: Cannot find module 'aurelia-router'.	skeleton-navigation-typescript-vs	C:\SourceCode\Sapphire\All\Web2\src\skeleton-navigation-typescript-vs\src\app.ts	1
Error	TS2307	Build: Cannot find module 'aurelia-framework'.	skeleton-navigation-typescript-vs	C:\SourceCode\Sapphire\Al

[2016-05-18 16:16] doktordirk commented on #236
seems reasonable

[2016-05-18 18:25] PWKad commented on #438
What editor are you using?

[2016-05-19 11:54] ZoolWay commented on #405
This is easier to fix and making version independent:
* Remove font-awesome line from index.html completly
* Add `<require from="font-awesome/css/font-awesome.css"></require>` in your `app.html` template (at the beginning after the opening `<template>` tag)

This way it included the current mapped font awesome resources.

[2016-05-19 12:11] EisenbergEffect commented on #405
The problem there is that if you want to use the icon in the loader, you need font-awesome first. But this would resolve the issue, so would updating the index.html. If anyone would like to submit a pr to update our index.html, we would appreciate this. Unfortunately, because jspm creates versioned folders it makes it difficult for us to avoid things like this. A release could happen even seconds

[2016-05-19 12:11] #405 closed

[2016-05-19 12:22] ZoolWay commented on #405
Hm, using the icon in the navbar from app.html/nav-bar.html works fine.

But the spinner a kind of loading animation within index.html does not work until more of aurelia is loaded - did not recognize that.

[2016-05-19 12:34] Thanood commented on #405
It could be done with installing `plugin-css` and doing this in index.html:

[code]

[2016-05-19 13:15] ZoolWay commented on #405
That works even better! (install the plugin with `jspm install css`)

[2016-05-19 14:53] DINHDUY commented on #438
Steps:
1) clone
2) npm install
3) jspm install -y
4) npm run build

Full log:

C:\skeleton-typescript-webpack>node --version
v4.4.0

C:\skeleton-typescript-webpack>npm --version
3.8.8

C:\skeleton-typescript-webpack>jspm --version
0.16.34
Running against global jspm install.

C:\skeleton-typescript-webpack>npm install
aurelia-skeleton-navigation-webpack@1.0.0-beta.1.2.5 C:\skeleton-typescript-webp

[2016-05-19 15:04] Thanood commented on #405
You could also pin down font-awesome to a specific version in jspm dependencies. :smile:

[2016-05-19 15:05] PWKad commented on #438
Not sure how this ever worked then.  I tried switching some of the `tsconfig.json` glob / exclude settings but just get more errors.  Probably need someone that's actually used this version of the skeleton to comment on what could have changed.

[2016-05-19 15:16] AshleyGrant commented on #405
I tried @Thanood's idea and it works great. No visible delay in showing the spinner, at least locally.

[2016-05-19 15:18] Thanood commented on #438
If you remove `node_modules` from excludes it builds.

[code]

Just guessing.. You tell TS to ignore node_modules but have the .d.ts files in node_modules.. :smile:

[2016-05-19 15:31] DINHDUY commented on #438
@Thanood: It does not work, in fact getting more errors than before.

[2016-05-19 15:39] Thanood commented on #438
Strange, it worked for me. I see, I used an older version of the skeleton to try it (1.0.0-beta.1.2.2).
I'll try it with the most recent version but that may take some time.

[2016-05-19 15:40] PWKad commented on #438
@Thanood That's exactly what I thought too but I also got more errors.

[2016-05-19 15:58] Thanood commented on #438
Apparently, typings are not installed. Now I'm really no expert on this but the typings package seems to have some breaking changes in 1.0 which has been released 3 days ago.
https://github.com/typings/typings/releases/tag/v1.0.0

`ambient` is mentioned and all entries in `typings.json` are ambient dependencies.
Maybe this helps.

[2016-05-19 16:10] Thanood commented on #438
Just followed their description on how to upgrade to v1: https://github.com/typings/typings

* removed typings: `rm -rf typings/`
* changed `ambientDependencies` to `globalDependencies` in `typings.json`

Now there's only one error:

[code]

[2016-05-19 16:12] DINHDUY commented on #438
That's it. Thanks a lot Thanood.

[2016-05-19 16:17] Thanood commented on #438
Well, some things are still missing for me (like `Promise`) but I guess we're on the right track here. :smile:
Unfortunately, I'll have to leave for now.

[2016-05-19 16:24] toddwprice commented on #405
I added @Thanood's idea to my app based on the skeleton and it works great. Note though that for deployment we also need to add "css" to bundles.js or alternatively add it to exports.js. IMHO javascript managed by JSPM is best handled via bundling.

[2016-05-19 16:27] AshleyGrant commented on #405
@toddwprice the problem I'm seeing currently (on windows w/JSPM 0.16.34) is that adding the font-awesome.min.css to my bundle causes the System builder to fail while attempting to bundle. I'm not sure why.

[2016-05-19 16:31] toddwprice commented on #405
I'm using the same version of JSPM (0.16.34) on OSX and it's working OK. However I'm on v0.3.0 of aurelia-bundler -- possible that is the issue?

[2016-05-19 16:33] AshleyGrant commented on #405
Maybe, but I doubt it. I'm 0.3.2. The bundling fails in SystemJS. When I have time I'll play with it and submit an issue to the SystemJS Builder repo.

[2016-05-19 19:04] classicalConditioning opened #441 "Typescript skeleton export task fails with "ENOENT: no such file or directory, open 'skeleton-typescript\dist\app.js.map'""
Export errors out in typescript skeleton saying it could not find app.js.map
This happens on a clean copy of the repository.
Nothing changed.
All I did was run `npm install`, `jspm install` and `gulp export`.

![image](https://cloud.githubusercontent.com/assets/12069556/15406095/f7062000-1dd2-11e6-95be-1ed18739e337.png)

[2016-05-19 19:23] classicalConditioning commented on #441
setting `sourceMap` to `false` in tsconfig.json removes this error, but I am not sure if it fixes the problem.

[2016-05-19 19:54] josiahhaswell opened #442 "TypeScript skeleton projects should contain TSC flags to compile metadata so that DI can be used in tests"
The karma.conf.js file should contain the following definitions:

[code]

so that users can inject their annotated types using Container in tests.

[2016-05-20 01:43] brettveenstra commented on #441
perhaps related to a new release of systemjs?

[2016-05-20 10:21] doktordirk commented on #236
ps: as for `requestAnimationFrame ` i used
`jspm i npm:raf`
and
[code]
nothing else was needed

[2016-05-20 19:11] fedoranimus commented on #438
Thanood, I'm not sure I understand what you're describing with the `browser.d.ts` fix.

I'm having the same issue building and am not sure how to move forward.

[2016-05-20 19:14] Thanood commented on #438
@fedoranimus `typings` apparently renamed `ambient` to `global`.
`browser.d.ts` is full of `ambient` dependencies. I just (literally) renamed all `ambient` occurrences to `global` in that file.

[2016-05-20 19:15] PWKad commented on #438
Can you pr fixes?

[2016-05-20 19:37] Thanood commented on #438
If this works for everyone, sure. It didn't completely work for me so I'm not sure.
I'd like to have another try. I guess I can do it on Monday the latest.

[2016-05-20 20:24] Thanood commented on #438
There it is: https://github.com/aurelia/skeleton-navigation/pull/443 :smile:

[2016-05-21 01:47] WisdomCorp commented on #400
I'm also getting "Cannot set property 'viewSlot' of undefined" error like 100s of error.

[2016-05-21 14:15] rollermonkey opened #444 "skeleton-typescript can't find fetch after export"
I'm working from the skeleton-typescript and have a problem with the exported build. When clicking the GitHub Users tab there are console errors:

ERROR [app-router] Error: XHR error (404 Not Found) loading http://127.0.0.1:8080/jspm_packages/github/github/fetch@0.11.1.js(…)

I'm using a clean clone of the repo with only a change in tsconfig ("sourceMap": false to get around issue #441)

npm insta

[2016-05-21 16:55] dev0x10 commented on #282
I got the same problem. Is there any proper solution for this issue?
But I think it's related to Aurelia templating lib issue on here: https://github.com/aurelia/templating/issues/301

This issue is not related to the skeleton

[2016-05-22 18:30] genereddick opened #446 "Gulp-Protractor issues with Asp.Net Core RC2"
In Page.aspx.cs various errors related to Web being removed System namespace.

    The type or namespace name 'Web' does not exist in the namespace 'System'

[2016-05-23 03:14] dbowser opened #448 "npm3 support"
I was stopped by the long path names when trying to use the Visual Studio skeleton. I saw that NPM 3.0 flattens the paths, so I installed it to see if it would help. It doesn't seem to work with the skeleton.

So... is there any plan for when 3.0 might be supported or how should we deal with the long path names?

[2016-05-23 03:17] EisenbergEffect commented on #448
What exactly didn't work with the skeleton? I've been using npm 3 for a while now.

[2016-05-23 08:25] dbowser commented on #448
Wow you are on top of things! I am really sorry, it must have been a problem on my end. Thanks for all you are doing! Aurelia and your support are amazing!

[2016-05-23 08:25] #448 closed

[2016-05-23 09:51] larsfjerm commented on #446
I have created PR for upgrading to RC2:  #445

See my `project.json` - https://github.com/larsfjerm/skeleton-navigation/blob/9c0d290ef42ea7c42998e0d48cb22790cd583002/skeleton-typescript-asp.net5/src/skeleton-navigation-typescript-vs/project.json

You need to exclude `node_modules` from the compilation.

`
  "buildOptions": {
    "emitEntryPoint": true,
    "preserveCompilationContext": true,

[2016-05-23 20:13] EisenbergEffect commented on #236
PRs Merged. Going out in tomorrow's releases.

[2016-05-23 21:07] doktordirk commented on #236
so, something about requestAnimationFrame will be in the docs (as sortof promised in your original answer)? don't see it here https://github.com/aurelia/framework/blob/master/doc/article/en-US/app-configuration-and-startup.md#bootstrapping-older-browsers

[2016-05-23 21:18] EisenbergEffect commented on #236
Ooops. Forgot about that! Reopening...
Would someone like to submit a PR to update that section of the docs with the full fix for IE9?

[2016-05-24 06:21] Calabonga opened #452 "Browsers and Operating System"
During unzipping the archive the error occurred: **Source Path Too Long**
[source-path-too-long](https://cloud.githubusercontent.com/assets/346209/15493981/f7378b6c-21b1-11e6-9267-1630194fa915.png)

[2016-05-24 13:44] EisenbergEffect commented on #452
You are experiencing a not uncommon issue with NodeJS on Windows. It doesn't have anythingn to do with Aurelia. Please ask about this in the Gitter channel and someone will likely be able to recommend a course of action for you.

[2016-05-24 13:44] #452 closed

[2016-05-24 19:24] miantosca commented on #236
https://github.com/aurelia/framework/blob/master/doc/article/en-US/app-configuration-and-startup.md#bootstrapping-older-browsers

It looks like the bootstrapping older browsers section near the bottom of this article is missing the startup code - all that appears is <!doctype html>My App

[2016-05-24 19:59] natetyler commented on #441
I think this is an issue with the new inline sourcemap feature in [systemjs-builder v0.15.17](https://github.com/systemjs/builder/releases). Rolling back the version seems to fix this problem.

[2016-05-24 20:01] doktordirk commented on #236
@miantosca checked the acual docs? http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.2.4/doc/article/app-configuration-and-startup/3

[2016-05-25 01:34] genericuser-me commented on #344
- Installed npm install aurelia-kendou i-bridge --save
- The entry is there in package.json
- Added Submodules for aurelia-kendoui-bridge
- there is a "aurelia-kendoui-bridge" folder in the node_modules folder

Still I get the error "cannot find module 'aurelia-kendoui-bridge'.

Can you please help?

[2016-05-25 04:47] adriatic commented on #344
@genericuser-me your problem does not belong to this issue (which is concerned about webpack). Please check this article (all tabs, dependent on which KendoUI SDK type you have) and if you have more questions, please create the issue [here](https://github.com/aurelia-ui-toolkits/aurelia-kendoui-bridge/issues)

[2016-05-25 13:07] genericuser-me commented on #344
Yes, I am using webpack and trying to install aurelia-kendoui-bridge, hence I put this question here..

[2016-05-25 14:23] adriatic commented on #344
I doubt that anyone watching this thread will be able to help you - as your problem has nothing to do with webpack and everything to do with incomplete setup needed for your app to use Aurelia-KendoUI bridge.

[2016-05-25 14:33] miantosca commented on #236
thanks @doktordirk - I eventually found it there

[2016-05-25 15:10] genericuser-me commented on #344
I figured it out, I was missing an entry in typings.json. added the entry and installed it again.

Thanks anyway.

[2016-05-25 15:48] adriatic commented on #344
:-)

Sorry if I underestimated your understanding of the issues related to:

1. KendoUI SDK installation to be used with KendoUI bridge
2. Building the app that used KendoUI bridge with webpack (I am aware only of two three developers that know how to do it - and that discovery is very recent)

In summary: I am impressed.

[2016-05-25 20:01] caperavensoftware opened #454 "electron invalid app"
1. gulp build
2. electron index.js

get error stating that it is a invalid electron app and you should read the documentation.
I think something might have changed after v1 perhaps?

[2016-05-25 20:30] EisenbergEffect commented on #454
We've got a PR to update this. Thanks!

[2016-05-25 20:30] #454 closed

[2016-05-26 02:26] mikecann commented on #426
I too get "Can't GET" when trying to run gulp watch. Whats up with that, what are we doing wrong?

[2016-05-26 02:27] mikecann commented on #426
Scratch that. I just read this issue: https://github.com/aurelia/skeleton-navigation/issues

[2016-05-26 02:32] mikecann opened #455 "Cannot find Aurelia in external module in main.ts in Visual Studio?"
Hi Guys,

Any ideas why im getting the following error messages:

![devenv_2016-05-26_10-24-48](https://cloud.githubusercontent.com/assets/215033/15561878/f343f028-232c-11e6-99ee-69fb39c7e609.png)

This is the base ASP.NET5 skeleton project without changes.

It looks like Visual Studio isnt looking to the node_modules folder?

Mike

[2016-05-26 07:56] tsbignoob commented on #438
Just adding to the conversation here, the typescript webpack skeleton has not been working out-of-the-box for at least two months. Should i create a new issue?

Just tested right now, fresh from the skeleton, npm install, typings install (version 1.0.4), ended up with tons of TS2300 and TS2307 errors. Here's what i did:

1. Opened using Atom-Typescript to automatically generate all the files entry

[2016-05-26 09:11] mikecann opened #456 "Gulp bundle errors"
Hi Guys,

Using the latest Typescript version. Running gulp bundle I get the following:

[code]

Ideas?

[2016-05-26 09:23] axwalker commented on #438
@tsbignoob some of the typings stuff has been discussed before - https://github.com/aurelia/skeleton-navigation/issues/419

Perhaps now is a good time to clean this all up along with fixing the ambient -> global change.

[2016-05-26 09:30] mikecann opened #457 "Adding Aurelia Auth via JSPM borks Typescript project?"
Hi Guys,

Sorry for another issue.

Im trying to intergrate Aurelia Auth (https://github.com/paulvanbladel/aurelia-auth) into the Typescript Skeleton.

After ```npm install``` and ```jspm install``` on a clean version of the Typescript skeleton then im able to ```gulp watch``` with no problems and test the app.

If I then stop gulp then do ```jspm install aurelia-auth``` then ```gulp watch``` I ge

[2016-05-26 16:34] tsbignoob commented on #438
Some more info: the acorn.js warning in the screenshot is definitely something new. I can't reproduce it from the skeleton downloaded on May 15th, so something got changed in the last 10 days that caused it.

[2016-05-26 17:48] manyrootsofallevil commented on #456
I got the same error on the build server but not on my machine, which really annoyed me

I created a different buildsystem task for gulp and it works ... feels like a bit of a hack

`gulp.task('build-systemvso', function () {
    if (!typescriptCompiler) {
        typescriptCompiler = typescript.create(require('../../tsconfig.json').compilerOptions);
    }
    return gulp.src(paths.dtsSrc.concat(p

[2016-05-27 10:36] vamp opened #459 "Ambient dependencies in typings"
According to [typings issue](https://github.com/typings/typings/issues/343):
`ambient` was renamed to `global`,

Please, change contents of ```typings``` folder and ```typings.json```

[2016-05-27 11:47] EisenbergEffect commented on #459
We have a pr to adjust this. We will merge soon.

[2016-05-27 11:47] #459 closed

[2016-05-27 21:55] tsbignoob commented on #455
Random stab in the dark, what is your installed typescript version ? try running "tsc -v" and "where tsc". I seem to recall some issues caused by VS installing an ancient version of tsc and putting it in PATH.

[2016-05-27 22:52] RandomlyKnighted commented on #455
Also just to clarify did you run the `gulp build-jspm` task?

[2016-05-28 12:54] ahmedshuhel commented on #365
@EisenbergEffect We may close this issue now as the feature is already implemented.

[2016-05-28 16:55] pravin-d opened #460 "Error running 'npm install'"
Buffer Util and validate npms are failing for some reason. Here are the logs. Can someone help ?

node -v v5.10.1
node-gyp -v v3.3.1

 npm install

gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp WARN downl

[2016-05-29 00:48] #365 closed

[2016-05-29 06:15] doktordirk commented on #460
Any node.gyp errors you likely can ignore (as there as fallbacks). Else follow the nose.gyp compile instructions you.ll find on the net

[2016-05-29 10:53] pravin-d commented on #460
ok.. thank you

[2016-05-29 10:53] #460 closed

[2016-05-30 05:33] #457 closed

[2016-05-30 05:33] #456 closed

[2016-05-30 05:51] mikecann opened #461 "Typescript Webpack Broken"
Hi,

If you download the Typescript Webpack project and run it according to the instructions:
https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-webpack

Then you get a large amount of "cannot find module" errors...

![image](https://cloud.githubusercontent.com/assets/215033/15640719/83ceb220-266d-11e6-94c9-3bdb488fb4fd.png)

Any ideas?

Mike

[2016-05-30 06:13] mikecann commented on #461
I think its due to "typings install" not working as expected. When you run the command it doesnt actually download or install any of the typings.

Im running typings 1.0.4

[2016-05-30 13:22] McNull commented on #461
This worked for me:

1. Clone repo
2. Remove old typings: `$ rm -rf skeleton-typescript-webpack/typings`
3. Edit `typings.json`; rename `ambientDependencies` to `globalDependencies`
4. Reinstall typings `$ typings install`
5. Edit `tsconfig.json`; remove all `filesGlobs` and exclude only the `node_modules` directory:

[code]

[2016-05-30 13:23] McNull commented on #438
This worked for me:

1. Clone repo
2. Remove old typings: `$ rm -rf skeleton-typescript-webpack/typings`
3. Edit `typings.json`; rename `ambientDependencies` to `globalDependencies`
4. Reinstall typings `$ typings install`
5. Edit `tsconfig.json`; remove all `filesGlobs` and exclude only the `node_modules` directory:

[code]

[2016-05-30 13:23] McNull commented on #461
Related https://github.com/aurelia/skeleton-navigation/issues/438

[2016-05-30 13:39] mikecann commented on #461
Ahhhhhhhh okay thanks! Ill have a look tomorrow :)

[2016-05-30 17:51] adriatic opened #462 "skeleton-navigation-es2016-vs broken"
I tried to share my experience with any Aurelia-vs skeletons before and failed to "impress anyone" as the problems I stated before remain. As I also happen to care about the perception VS users get encountering Aurelia for the first time, I am writing this again, with more details, starting with my own understanding of what should take place when opening this **[solution](https://github.com/aureli

[2016-05-30 17:56] adriatic opened #463 "All Visual Studio based skeletons should have VS specific README.md files"
At the moment, all such README.md files are explaining how to build and run the skeletons without any references to Visual Studio. Granted - **all** skeletons are really nodejs dependent, but in the context of Visual Studio use of nodejs tooling should be hidden behind VS front end, at least initially.

[2016-05-30 17:57] EisenbergEffect commented on #462
@AshleyGrant @cmichaelgraham Can you two look into this asap please?

[2016-05-30 18:53] bahrus opened #464 "Typescript Starter Kit giving an error"
I downloaded the TypeScript Aurelia Starter Kit

I see the welcome to Aurelia message, but I see an error in chrome tools. Line 2326 of shim.min.js:
c.all(a)["catch"](h);

The error that is logged to the console is: VM593:1 Uncaught (in promise) TypeError: Iterator result undefined is not an object(…)

Any suggestions?

[2016-05-30 19:22] Alexander-Taran commented on #462
npm dependencies not installed seems to be tooling bug.
at least for us in vs 2015 update 2 it always show npm dependencies node as not installed.
Although everything seems to be working fine.

for jspm yes - you got to run install yourself

[2016-05-30 19:30] Thanood commented on #462
What do you think about a `postinstall` npm task running `jspm install`?

[2016-05-30 19:37] RandomlyKnighted commented on #462
Yeah I've been seeing `npm - not installed` in other projects as well going back before VS 2015 Update 2.

As far as running `jspm install` goes there is a Gulp task called `build-jspm` that you can run.

[2016-05-30 20:33] adriatic commented on #462
While the final decision will be made by @EisenbergEffect, I strongly disagree with the the solution like:

Here are my arguments:

1. In many cases, people trying to run this skeleton app are coming from the Windows / Visual Studio world, interested to see what is this Aurelia thing. It is possible that they have little or no experience with "MEAN" development and even if they do, they may never

[2016-05-30 20:45] EisenbergEffect commented on #462
I agree that it's not really in good shape now. Most of my team doesn't use VS for front-end development so it's difficult for us to get the "right" solution in place. We'd love some contributions from the community to improve this.

Long term, we are working with Microsoft to incorporate a new project dialog that uses our CLI, however, that will likely take a bit longer due to the MS cycle and ou

[2016-05-30 21:09] adriatic commented on #462
Based on Rob's comment above, having a "good enough" solution that will "hold the water" until dotnet core CLI based skeleton generation becomes available is something that needs to be done soon.

In my opinion skeletons need to be at least temporary owned  Aurelia-UI-Toolkits team and start with the solid definition of what needs to be done. Once signed off by @EisenbergEffect , we would ask for

[2016-05-31 17:26] #438 closed

[2016-06-01 05:40] bischofb opened #466 "typescript-webpack - Error invoking ViewSlot"
Just downloaded the skeleton and updated to NPM 3.9.3, Node 4.2.2 and installed typings. Calling "npm run dev" and the page gets hung on the spinner. The error is:

aurelia-pal.js:36 Uncaught (in promise) Error: Error invoking ViewSlot. Check the inner error for details.
------------------------------------------------
Inner Error:
Message: Cannot set property 'viewSlot' of undefined
Inner Error S

[2016-06-01 10:30] EisenbergEffect commented on #466
Double check to make sure you have all the latest release versions.

[2016-06-01 11:11] RandomlyKnighted commented on #462
@adriatic After listening to your responses on the SideWaffle repo I talked with @EisenbergEffect about his plans for Aurelia and the CLI project. I also talked to him about the work Sayed has been doing with pecan-waffle. It uses PowerShell to create project templates much faster than what SideWaffle can do now. When Sayed tested this and he found that the project creation for an Aurelia template

[2016-06-01 11:45] EisenbergEffect commented on #462
@RandomlyKnighted Would there be a way to make the generated project automatically run the initial jspm install commands? If not, is it possible to display a readme file when the project first opens to provide instructions?

[2016-06-01 13:30] RandomlyKnighted commented on #462
Well Visual Studio automatically runs npm install when the project first opens. So if we used the `postinstall` task then that should run the `jspm install` command automatically.

If you're wanting to avoid that then we could do the README. In the SideWaffle project we've got a template or two that opens a webpage when installed. I can check and see how that was done and do the same thing in the

[2016-06-01 14:01] EisenbergEffect commented on #462
I think running the post install would probably be best for VS users. For TS users we probably also want to post install typings. If we can do those two things and also show the readme with a bit of explanation about what just happened and what to do next, that would probably go a long way.

[2016-06-01 15:25] bischofb commented on #466
After downloading into a new folder I ran npm install and jspm install -y. Are there any other steps required to get all the updates?

[2016-06-01 19:08] RandomlyKnighted commented on #462
For TS users, what would the command be that would need to be added to the `postinstall` task?

[2016-06-01 23:50] sam-piper opened #467 "TypeScript / ASP.NET 5 skeleton not working in VS 2015 under .NET Core RC2"
I only have the .NET Core tooling for RC2 (Preview 1) installed, which is the latest at the time of writing this up.

First I had to update the global.json file in the root folder to point the version to '1.0.0-preview1-002702'. This avoids an error when opening the skeleton solution file in Visual Studio 2015.

VS then attempted to do a package restore, which failed, on these core dependencies:

[2016-06-02 01:03] EisenbergEffect commented on #467
We have some PRs that we are reviewing.

[2016-06-02 01:03] #467 closed

[2016-06-02 22:49] JCKodel opened #469 "How to use jQuery?"
As I'm using a pre-built theme, I need some jQuery stuff in my views, but import $ from "jquery" does not work.

Searching for this in internet, they tell me to install jquery using jspm, but skeleton doesn't uses jspm =\

(BTW: I'm using the skeleton-typescript-webpack)

[2016-06-02 23:26] AshleyGrant commented on #469
You should be able to install jquery using npm if you're using the webpack skeleton.

If the theme you're using already includes jQuery via  script tag, then you should be able to just go ahead and use the global `$`.

[2016-06-02 23:29] JCKodel commented on #469
![untitled-1](https://cloud.githubusercontent.com/assets/379339/15764357/a1ee7d18-2900-11e6-9ba7-341438ee70c6.png)

jQuery is installed via NPM (and is loaded, I can use $ on Chrome debug console), but TypeScript can't find it =\

[2016-06-02 23:30] AshleyGrant commented on #469
You need to make sure you install the `d.ts` file for jQuery. I believe the current best tool for this is `typings`.

[2016-06-02 23:42] #469 closed

[2016-06-04 10:17] MannikJ commented on #433
Yep, I know. I also made a fix two weeks ago, but closed the request, because omidkrad's seems to be a bit more elaborate.

[2016-06-05 02:23] cjdibbs opened #472 "Source maps and bundling in gulp typescirpt"
When trying to bundle the typescript version I get the following:

//# sourceMappingURL=app.js.map
//# sourceMappingURL=data:application/json;base64,....

when I try to run the bundler it fails because it tries to bundle the now non-existing map file (that was included by sourcemaps)

after a bit of research if found that the typescript complier 'gulp-tsb' is not a supported sourcemap plugin (http

[2016-06-05 05:18] vaskokj opened #473 "External library reference works in Webpack but not in JSPM within Aurelia"
I don't know if this is a framework or build issue or an issue I'm causing.

I am trying to use the Datatables.net library in my Aurelia application.

https://www.npmjs.com/package/datatables.net

I added  "datatables.net": "npm:datatables.net@^1.10.11", to my package.json and did `jspm install -y` and datatables.net was said it was installed.

The issue is that the following code works with the W

[2016-06-05 09:38] tomasbonco commented on #466
Having the same issue.

[2016-06-05 10:44] EisenbergEffect commented on #473
You need to jspm install the dependency. Webpack uses npm but jspm does not. You also need to make sure it is configured correctly with system.js if there isn't a setup for jspm already.

[2016-06-05 10:44] #473 closed

[2016-06-05 13:40] jsobell opened #474 "Wallaby tests failing for skeleton-typescript-webpack"
Running the Wallaby tests gives the following error:

[code]

![image](https://cloud.githubusercontent.com/assets/834155/15805768/df04c13a-2b76-11e6-95bc-3aa6919e5f00.png)

[2016-06-05 16:51] vaskokj commented on #473
I have been manually adding `"datatables.net" : "npm:datatables.net@^1.10.12",` to my package.json and running` "jspm install -y"` this picks up the change and adds it to my config.js
`    "npm:datatables.net@1.10.12": {
      "jquery": "npm:jquery@2.2.4",
      "process": "github:jspm/nodelibs-process@0.1.2"
    },`

As you suggested cloned a new skeleton-es2016 and ran `"jspm install datatables.

[2016-06-05 17:07] AshleyGrant commented on #473
You might want to read through this: https://github.com/DataTables/DataTables/pull/485

It looks like `import $ from 'datatables';` is what you'll need,  You'll need to delete the modifications you made to your `package.json` and `config.js` files, then run `jspm install datatables` (or possible `jspm install datatables@master`).

There's also a more recent issue posted here: https://github.com/Da

[2016-06-05 18:44] vaskokj commented on #473
Ashley,

Thanks for the information.

Well this is a way for me to get something else to work actually.  I am trying to get this example to work (https://datatables.net/extensions/responsive/examples/styling/bootstrap.html). which needs several other libraries. The datatables link you provided will work but I end up in the same place as I am now with those libraries (as they aren't in jspm). I hav

[2016-06-06 00:32] AshleyGrant commented on #473
I'm not sure I follow you. Datatables *is* datatables.net. what exactly is the difference?

[2016-06-06 01:32] vaskokj commented on #473
Bear with me...

If I install "Datatables" via JSPM and then do the following in my VM I can get datatables to work.

[code]
BUT

If I install "Datatables.net" via JSPM (from npm) and then do the same thing in my VM. I get the
`mytable.js:15 Uncaught (in promise) TypeError: $(...).DataTable is not a function(…)`

From more research the difference between the "Datatables" and "Datatables.net" is th

[2016-06-06 01:34] AshleyGrant commented on #473
You might want to consider simply loading jQuery and datatables.net using script tags. Then you wouldn't need to worry about how to properly import them as modules. You could also use the datatables cdn.

[2016-06-06 15:27] vaskokj commented on #473
As you suggested and to just make sure the example worked I put that entire datatables example in my index.html (including the table) just to test. I saw the table show up for a split second with the blue orbs. The aurelia app loads and the table disappears (which I would kinda expect).

However, I have no idea how to get the "context" of those libraries within Aurelia. Is there some type of docum

[2016-06-06 15:40] AshleyGrant commented on #473
That's not quite what I suggested. I suggested loading datatables.net and jquery using script tags (just like you would have in the past). They will then be in the global namespace and thus accessible to you without any import.  At that point, you simply do something like this:
index.html
[code]

ViewModel:
[code]

View
[code]

Notice how I use `ref="tableElement"` to have the `table` element beco

[2016-06-06 17:23] vaskokj commented on #473
Thanks but doing what you posted with the skeleton-es2016 I get the same error as before.

mytable.js:9 Uncaught (in promise) TypeError: $(...).DataTable is not a function(…)

I cloned the skeleton-es2016 and then ran npm install and jspm install -y and then modified and changed the files.

Here is the files I changed:

index.html

[code]
export class MyTable{
  dataSet = [
      ['Ken','Husband',

[2016-06-06 17:26] doktordirk commented on #473
Try the recent PR here on howto load jquery

[2016-06-06 17:28] vaskokj commented on #473
Do you have a link?

[2016-06-06 17:37] doktordirk commented on #473
https://github.com/aurelia/skeleton-navigation/pull/471
Like with script Tag but different. Import datatables just like usually (or chain another then)

[2016-06-06 18:07] vaskokj commented on #473
Same issue.

If I do
[code]

from the following defect that Ashley linked, the base version of datatables works.

https://github.com/DataTables/DataTables/issues/564

But I'm still at the same place, the example does not work because I dataTables still needs the following dependencies.
[code]

I go add them

[code]

Import them in my VM
[code]

The Datatable loads, but I don't see any changes to t

[2016-06-06 18:50] doktordirk commented on #473
well, if all loads now, i guess that part is fine and now you probably need to check if
[code]

so mabye see what console(sampleElement) and console.log(table) yields

[2016-06-06 19:05] vaskokj commented on #473
What should I be looking for to see why the other libraries wouldn't be working/functioning correctly in the console.log outputs?

The class information on the table looks correct.

https://gist.github.com/vaskokj/d1461409815192beb7c31d59aaeff429

[2016-06-06 19:36] doktordirk commented on #473
Try behind the import DataTable
dataTable(window, $);
Or so

[2016-06-06 20:04] vaskokj commented on #473
Goes back to the same issue, that dataTable

mytable.js:17 Uncaught (in promise) TypeError: sampleElement.DataTable is not a function(…)

[2016-06-06 21:28] doktordirk commented on #473
index.html
[code]

welcome.html
[code]

welcome.js
[code]

[2016-06-06 22:21] vaskokj commented on #473
The magic...was this...
import * as datatable from 'datatables.net';
import * as responsive from 'datatables.net-responsive';
import * as responsiveBs from 'datatables.net-responsive-bs';
import * as netBs from 'datatables.net-bs';

Thanks a ton doktordirk.

[2016-06-07 19:14] pixels4nickels commented on #436
Hi @hamstercat, could you expand on your approach for using a bootstrapper to get around this issue? I am also wanting to run ES2016 webpack but cannot get e2e tests running.
Thanks in advance.

[2016-06-07 22:40] andreujuanc commented on #472
Thanks it helped me to fix it faster! I just dont understand this, this is an skeleton that is directly promoted on the docs. I bet that lots of people like me, are just checking out aurelia's capabilities, and if the starter kit is failing.. leaves lots to say about the project. Specialy when @cjdibbs reported this issue 3 days ago, it should have been addressed by now.

[2016-06-09 14:08] janaHehr opened #475 "skeleton-typescript-webpack missed fetch polyfill?"
Hi,

i wonder a little bit that the typescript-webpack skeleton is missing fetch polyfill?

Is there somebody who can point me in the correct direction using
https://github.com/github/fetch in combination with aurelia webpack?

Thanks for any help,
Jana

[2016-06-09 14:20] Thanood commented on #475
AFAIK it's using `isomorphic-fetch`(https://github.com/matthew-andrews/isomorphic-fetch)..

[2016-06-09 15:04] doktordirk commented on #464
@EisenbergEffect can't you pull down those. it's what? like 2 month now since they are outdated?

[2016-06-09 15:41] janaHehr commented on #475
Hi, ok i see. The skeleton is not working in IE out of the box. I get a generell promise error.

After reading this: https://github.com/matthew-andrews/isomorphic-fetch
Trying to fix it with:
`  new ProvidePlugin({
           Promise: 'imports?this=>global!exports?global.Promise!es6-promise'
    })`
See webpack with promise here:
http://madole.xyz/using-webpack-to-set-up-polyfills-in-your-site/

W