[2016-07-26 19:37] #627 closed

[2016-07-26 19:41] stevies commented on #627
Ah - been away from Aurelia for a while - completely forgot that master was not always working, and missed the great big link to the releases at the top of the readme :-}  Thanks.

[2016-07-26 21:17] niieani commented on #627
@EisenbergEffect as a side note, in the future it would be good to keep bleeding-edge under-development skeletons in another branch (like `next` or something), cause this is happening so often now, that it'll reduce quite bit of time wastage - both for people who clone and find things don't work, and for us - having to write back and close these issues (at least one per day when master is broken).

[2016-07-26 21:39] AshleyGrant commented on #627
I agree that we should move away from working on `master`, but not to help people who clone. People shouldn't be cloning this repo to start their development.

[2016-07-26 22:17] niieani commented on #627
@AshleyGrant of course they shouldn't, it's written in huge font now, but people still do it, and we can't stop them. It's for our own sanity.
!(https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAM3AAAAJGYxMzQ0NDRiLWE3MzMtNGRhMC1iMjU0LWNkM2QwYTUxZGE5Mg.jpg)[UX vs Design meme]

[2016-07-27 23:25] ralexand56 commented on #606
Any updates on this? So frustrating that one of the most popular javascript libraries has all these issues running on the skeletons.

[2016-07-28 01:04] don-bluelinegrid commented on #417
I am seeing this error as well, from the navigation-webpack-typescript skeleton.  It does seemed to be thrown specifically when loading the aurelia-templating-resources module.

I am using NPM 3.10.3 and Node 4.4.7.
I ran dedupe and it made no difference.  I then forced a new npm install, and that also made no difference.  Are there any other suggestions?

`Unhandled rejection TypeError: _aureliaP

[2016-07-28 01:35] ralexand56 commented on #568
Where do you insert this code? I get an error saying globals is not defined.

[2016-07-28 01:42] don-bluelinegrid opened #628 "Build errors in typescript-webpack project when running build:dev"
## Running the skeleton-navigation/typescript-webpack project, I'm seeing these errors from the 'build:dev' task -

`npm ERR! Darwin 15.5.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "run" "webpack" "--" "--progress" "--profile"
npm ERR! node v4.4.7
npm ERR! npm  v3.10.3
npm ERR! code ELIFECYCLE
npm ERR! aurelia-skeleton-navigation-webpack@1.0.0-beta.3.0.1 webpack:`cross-env ./node_m

[2016-07-28 02:49] doktordirk commented on #628
aurelia-skeleton-webpack
Getting started
Before you start, make sure you have a recent version of NodeJS environment >=4.0 with NPM 3.

[2016-07-28 08:10] niieani commented on #628
What task is that? Can you post the output of the command, not only the error? I see you're using an older version of the skeleton, is the same problem occurring with 1.0.0?

[2016-07-28 08:13] niieani commented on #417
Are you using 1.0.0, Dan?

[2016-07-28 08:58] JoschaMetze commented on #568
In my case (pre 1.0) I just inserted it in index.js, directly after the Bluebird.config().

[2016-07-28 13:51] don-bluelinegrid commented on #628
The task I'm referring to is 'npm run build:dev'.

Regarding the skeleton, yes, I am using beta3.0.1 version, which I had just updated to yesterday, and I see now that on this same day the version was updated to 1.0.0.  That is also why I had asked the question about how developers are expected to manage changes to skeleton versions -

If an application developer is building an application that wa

[2016-07-28 13:57] don-bluelinegrid commented on #417
I am using beta3.0.1 version, which I had just updated to yesterday, and I see now that on this same day the version was updated to 1.0.0.

[2016-07-28 14:04] doktordirk commented on #628
tried npm start?

[2016-07-28 14:06] don-bluelinegrid commented on #628
Of course - but npm start is for running live in development, not for building.

Is there some reason to think that npm start should work, but npm run build:dev should not?  I imagine that there are a number of tasks being executed in 'build' that are skipped when running in the live dev server mode.

[2016-07-28 14:10] doktordirk commented on #628
no idea i just know that npm start worked for me adn npm run server:dev didn't

[2016-07-28 14:15] Thanood commented on #564
I've just tried this with Aurelia 1.0 but an old skeleton. The problem is still there.
I'll use the 1.0 skeleton and try again.

[2016-07-28 14:26] Thanood commented on #564
Doesn't happen with the 1.0.0 skeleton. :+1:
Thanks!

btw. it would be nice if `"compileOnSave": false` was set in `tsconfig.json`.

[2016-07-28 15:49] JoschaMetze commented on #564
Unfortunately it still is an issue in my opinion, but maybe @Thanood has a different approach.
It is correct that using `DOMContentLoaded` doesn't throw the import message, but using `$( document ).ready` still does. @Thanood try to add the following in dom-ready.ts:
`$( document ).ready(function() {
  console.log('document.ready import');
});`

[2016-07-28 16:31] niieani commented on #564
@JoschaMetze what do you mean by saying:

@Thanood `compileOnSave` is by default `false`, not sure why would we need it there explicitly? Unless it's on `true` that I don't know about?

[2016-07-28 16:32] niieani commented on #628
@doktordirk `npm run server:dev` does not work for you too then, correct?

[2016-07-28 16:36] niieani commented on #568
Could you try adding a ProvidePlugin with `global.Promise` set to `bluebird`? If you don't know how to do that I'll try writing a snippet for you.

[2016-07-28 16:37] niieani commented on #606
We're looking into migrating to JSPM 0.17, this might be better to fix in that version.

[2016-07-28 16:45] ralexand56 commented on #568
No clue how to do that.

[2016-07-28 16:53] JoschaMetze commented on #564
Sorry for not stating that more clearly, I meant that the DOMContentLoaded event isn't triggered twice (as was the original implementation from @Thanood, see the last line of his log), so the bug is resolved for the DOMContentLoaded event. But unfortunately not for the document.ready()-event which is used quite regularly in materialize-css.
Or to rephrase, the problem in the original repro case ha

[2016-07-28 17:03] niieani commented on #564
document.ready [cannot fire twice](http://stackoverflow.com/a/10727036/595157), so my guess is that the code is imported twice in your case, and thus the handler is executed twice. This can be caused by materialize-css being listed in the entry point and then being required again in some package, causing the handler to be set twice. Generally, import side effects are not recommended (with ES2015 m

[2016-07-28 17:54] doktordirk commented on #628
i mixed that up somewhat

npm run server:dev or npm start -> as expected
npm run watch:dev -> stalls at some stage seemingly

i didn't make many experiments though. that was with ann `npm prune && npm i`of de2ae65 skeleton-es2015-webpack:

[2016-07-28 17:56] niieani commented on #568
@JoschaMetze and @ralexand56 could you try running `npm update` in about 10 minutes from this post and see if this issue has been resolved? I made a small change to try and expose both Bluebird and jQuery globally.

[2016-07-28 17:56] #568 closed

[2016-07-28 17:57] ralexand56 commented on #568
Awesome! Thanks!

[2016-07-28 18:23] Thanood commented on #564
I will have to try this but when this is true:

then `materialize-css` is not even involved.

@JoschaMetze did you try with dropdown? Because there is a known issue about dropdown options since the recent Materialize release 0.97.7: https://github.com/Dogfalo/materialize/issues/3417#issuecomment-235537425

[2016-07-28 18:51] Thanood commented on #564
Well, actually it "fires" twice (the SO post has a different context), since it behaves like a promise - and that is because [it uses a deferred](https://github.com/jquery/jquery/blob/master/src/core/ready.js#L15).

That doesn't change much, though.

So I suppose either you have two `materialize-css` imports as @niieani stated or it's the dropdown issue I posted above.. Anyway, the case at hand he

[2016-07-28 19:29] niieani commented on #564
It's a deferred, but the passed in method should only fire once if it was set only once.
When you add it to `dom-ready.ts` like that, you still set it as a side effect of the import evaluation.

[2016-07-28 21:21] Thanood commented on #564
I may be wrong...
But why does this log twice, then?

[code]

[2016-07-28 22:06] niieani commented on #564
@Thanood does it still log anything when you remove this line: https://github.com/Thanood/webpack-domready-issue/blob/master/skeleton-typescript-webpack/src/main.ts#L4 ?

[2016-07-29 05:38] Thanood commented on #564
Of course not and it certainly is not a good way of doing this (in a module env), but it simulates how materialize works. There may be other libraries, afaik even Bootstrap attaches event handlers that way.

But that's not the point, really. I just wanted to show (or more *verify*) that `$(document).ready` launches whatever you pass it even *after* the `DOMContentLoaded` event has fired. That does

[2016-07-29 06:21] mgerwinn opened #629 "Webpack HMR not working anymore"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Framework Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.20

* **Browser:**
all

* **Language:**
all | TypeScript X.X | ESNext

**Current behavior:**
Ru

[2016-07-29 09:31] niieani commented on #629
Note that HMR only works for CSS at this point. It's not yet implemented in Aurelia. Anyway, this looks like a Webpack bug, not related to Aurelia.

[2016-07-29 13:06] mgerwinn commented on #629
Thanks for the response. Of course it's only working for css atm. Thats fine and it has worked before (e.g. aurelia-skeleton-navigation-webpack 1.0.0-beta.2.0.0).
Now its not working anymore.

I don't see any difference in the package.json for webpack or webpack-dev-server defined versions. So I do assume their is a side effect from an updated aurelia version. Or any other dependency in the starte

[2016-07-29 13:28] niieani commented on #629
Try `npm update`, we pushed out some fixes to the webpack-plugin, see if that has anything to do with it.

[2016-07-29 14:49] MeirionHughes commented on #589
what would be super helpful is a _from-scratch_ first-principles tutorial on how you get aurelia + webpack going...

[2016-07-29 14:53] mgerwinn commented on #629
Unfortunately the issue is still present after npm update. Anything else I can try?

[2016-07-29 15:20] niieani commented on #629
I'm a bit at a loss. Looks like a Webpack bug to me, since it's coming from `dev-server.js`. One thing you could try is passing `nameExternalModules: false, nameLocalModules: false` to the Aurelia webpack plugin. But I don't think it's going to help.

[2016-07-29 15:22] niieani commented on #589
@MeirionHughes does this not help: http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/bundling-webpack/3 ?

[2016-07-29 15:23] niieani commented on #629
Note that Easy Webpack doesn't yet support those parameters. I'll push an update soon, but for now you could try using the plugin directly.

[2016-07-29 15:39] MeirionHughes commented on #589
That example starts off with the skeleton though; I generally like to start from an empty project and add things in piece-by-piece.

If you show people how to build up a basic aurelia + webpack application from an empty folder, it will be far easier for them to migrate from other/older projects.

if you look at [this webpack tutorial](https://webpack.github.io/docs/tutorials/getting-started/), it

[2016-07-29 17:31] mgerwinn commented on #629
Nope. Still the same issue. I definitely agree to your argumentation that its more related to webpack than aurelia. But still the version from webpack and webpack-dev-server is untouched  from the working version(1.0.0-beta.2.0.0) to the current one (1.0.0).

[2016-07-29 19:45] niieani commented on #589
OK, I understand. Would you like to help with the documentation effort?

[2016-07-29 19:53] MeirionHughes commented on #589
To be perfectly honest, I need it myself. I've tried setting up a basic project a few times and get stuck with one error or another. :(

[2016-07-29 19:59] niieani commented on #589
What error might that be? To be honest, all you need to make your own configuration is add the AureliaWebpackPlugin as you normaly would add any other Webpack plugin.

[2016-07-30 08:54] sickboy commented on #613
@niieani sadly the bug is back now, and I even reproduced it in Dev mode now!

[code]
Inside the webpack require, the modules[moduleId] is undefined:
[code]

[2016-07-30 09:54] cemremengu opened #630 "skeleton-typescript-webpack npm dependencies"
I am exploring the `skeleton-typescript-webpack` template. The base template has **979** npm dependencies and has a size of 150MB.

As a frontend noob looking for the simplest possible template are all these deps really necessary or they are there for various future integrations/extensions in mind ?

[2016-07-30 09:57] niieani commented on #630
A big chunk of those will come from the testing environments (karma and e2e). Webpack and its loaders also depend on a large amount of dependencies of their own.
As soon as Webpack support land in Aurelia-CLI you'll be able to create a minimal Webpack-based project which should have very few dependencies.

[2016-07-30 09:57] #630 closed

[2016-07-30 12:02] cemremengu commented on #630
Thanks @niieani looking forward to it. Keep up the good work!

[2016-07-31 05:44] bischofb opened #631 "Protractor 4.0 not used in skeleton-typescript?"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-typescript
- **Framework Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  Linux Cinnamon
- **Node Version:**
  5.11.1
- **NPM Version:**
  3.9.5
- **JSPM OR Webpack AND Version**
  JSPM 0.16.41

TypeScript

**Current behavior:**
Protractor d.ts conflicts with jquery.d.ts b/c they both

[2016-07-31 06:33] nmyvision opened #632 "Bootstrap's JavaScript requires jQuery (error)"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-typescript

- **Framework Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  Windows [8.1]
- **Node Version:**
  4.4.7

- **NPM Version:**
  3.10.6

- **JSPM OR Webpack AND Version**
  JSPM 0.16.41

- **Browser:**
  Electron 1.0 | Chrome 51.0.2704.103
- **Language:**
  all | TypeScript X

[2016-07-31 07:06] doktordirk commented on #632
probably can temp fix it by adding it to the index.html

[2016-07-31 10:58] niieani commented on #631
Yes, unfortunately the gulp-protractor package needs to be updated to Protractor 4, and it's something we have no control over. Once that's done, the TypeScript package can be updated to use the new version of Protractor.

[2016-07-31 22:34] nmyvision commented on #632
Yep. That's what I did to get it working.

[2016-07-31 22:43] niieani commented on #631
Looks like gulp-protractor 3.0 was released, I'll look into migrating the skeletons soon.

[2016-08-01 12:01] MarcosMeli commented on #40
Looks like that jspm will add support for CDN libraries in 0.17:

http://jspm.io/0.17-beta-guide/loading-libraries-from-cdn.html

[2016-08-01 12:55] MeirionHughes commented on #589
Seems to explode with "There are multiple modules with names that only differ in casing." warnings. :/

[2016-08-01 14:03] JoschaMetze commented on #564
Just for reference, I hit the dropdown issue, as @Thanood assumed correctly. The version from materialize-css@master works. Thanks for your help @niieani.

[2016-08-01 20:44] #629 closed

[2016-08-01 20:44] niieani commented on #629
Issue moved to [aurelia/webpack-plugin #65](https://github.com/aurelia/webpack-plugin/issues/65) via [**ZenHub**](https://www.zenhub.com/)

[2016-08-02 20:09] s-krawczyk commented on #632
@doktordirk  can You please paste this fix here? Have same problem...

[2016-08-02 20:39] niieani commented on #632
Can you guys try `npm update` and see if this is still happening?

[2016-08-03 01:03] nmyvision commented on #632
@niieani `npm update` didn't work for me

@s-krawczyk just add a script tag like so to the index.html file before the `</head>` tag

` <script src="jspm_packages/npm/jquery@2.2.4/dist/jquery.js"></script>`

[2016-08-03 04:05] doktordirk commented on #632
that npm update helps with jspm, was unlikely in the first place :)

[2016-08-03 05:58] s-krawczyk commented on #632
@nmyvision that's strange I've tried that and not wokred for me

Have You problem with typings of jquery and angular-protractor? I get type mismatch errors. After some changes in typings of jquery it builds but still exception of undefinied "jquery". Any?

[2016-08-03 06:45] nmyvision commented on #632
@s-krawczyk sounds like you have a different issue than mine. My issue was jquery client library wasn't loading (or maybe not loading before bootstrap). Sounds like your having issues with typescript references, what IDE and version of typescript do you have installed.

[2016-08-03 10:56] toxicehc opened #635 "Pipe html build errors to the console so it is easier to debug"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-esnext
- **Framework Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 8.1
- **Node Version:**
  4.4.7
- **NPM Version:**
  3.8.9

- **JSPM OR Webpack AND Version**
  JSPM 0.16.39
- **Browser:**
  all
- **Language:**
  ESNext

**Current behavior:**

gulp build when it minifies t

[2016-08-03 11:03] toxicehc commented on #635
And now I have found the culprit - on crashing no information is given so I was lost finding the guilty file:

[13:00:48] Finished 'build-css' after 46 s
Error in plugin 'gulp-htmlmin'
Message:
    Parse Error: </
Details:
    fileName: C:\xxxxx\HeadJumbo.html
[13:00:54] Finished 'build-html' after 51 s

[2016-08-04 04:41] toxicehc commented on #635
After messing around for the best part of yesterday, last night and this morning I have reverted the build.js file back to the previous version.  Despite my error handling gulp keeps dropping html files seemingly at random and it is identifying new issues in html files at random.

[2016-08-04 09:29] toxicehc commented on #635
Sadly it is not improving, I am dropping html files in my dest folder at an highly irritating rate. Actually going to stop building and serve up my source in the interim.

[2016-08-05 14:49] MeirionHughes commented on #512
did this get reverted or something? aurelia-fetch-client^1.0.0 via (a somewhat butchered version of the skeleton) webpack blows up:

ERROR in [default] D:\Code\Node\aurelia-express-webpack\node_modules\aurelia-fetch-client\dist\aurelia-fetch-client.d.ts:17:22
Cannot find name 'Request'.

ERROR in [default] D:\Code\Node\aurelia-express-webpack\node_modules\aurelia-fetch-client\dist\aurelia-fetch-cl

[2016-08-05 17:32] ryanswank opened #636 "Visual Studio Skeleton Does Not Load"
skeleton-navigation-master\skeleton-esnext-aspnetcore\src\skeleton\skeleton.xproj : error  : The imported project "...v14.0\DotNet\Microsoft.DotNet.Props" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk.

Visual Studio 2015 Update 3 just installed.
Followed instructions in the readme

**I'm submitting a bug report**

* **Aurelia Skeleto

[2016-08-05 17:33] EisenbergEffect commented on #636
Is this a breaking change with the update? @AshleyGrant Can you look into this?

[2016-08-05 17:35] ryanswank commented on #636
That was my thought as well... but I may have jumped the gun... let me check something.
Sorry for the premature noise.

[2016-08-05 17:56] zamotany opened #637 "Error in exported bundle when requiring styles.css from app.html."
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript

* **Framework Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.5

* **JSPM OR Webpack AND Version**
JSPM 0.16.41

* **Browser:**
all

* **Language:**
TypeScript 2.0.0

**Current behavior:**
In `skeleton-typescript`

[2016-08-05 21:16] Roustalski commented on #278
Hey guys. Any headway here? Is there a branch somewhere that might have some work completed already that we can leech off of?

[2016-08-06 09:52] niieani commented on #512
I'll reopen this and we'll have a look.

[2016-08-06 09:55] MeirionHughes commented on #512
Sorry, I was missing the custom typings in my code (I'd copied everything bar the isomorphic typings). I suspect this isn't an issue.

[2016-08-06 09:56] niieani commented on #278
There's a discussion here, re. the parallel ESNext support: https://github.com/aurelia/skeleton-navigation/pull/519.
We're open to pull requests for TS support, I've explained how it could be implemented in the discussion of the above pull (istanbul-remap).

[2016-08-06 09:58] niieani commented on #512
Do you have these typings installed? https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript/typings.json

[2016-08-06 09:58] #512 closed

[2016-08-06 18:23] jseminck opened #638 "How to add custom logic to the navbar?"
Hi,

I am trying to experiment with Aurelia and want to add some custom logic to the `nav-bar` inside the skeletons. For example I want to add a form to login to my app inside the navigation bar, or I want to add a `Login` or `Logout` link based on authentication status.

However, when I add a `nav-bar.js` file, this does not get picked up. (e.g. I create a `submit()` function there and call it fr

[2016-08-06 18:59] EisenbergEffect commented on #638
Github is for bugs and features. The best place to get help is on gitter or SO.

[2016-08-06 18:59] #638 closed

[2016-08-08 02:08] istrau2 opened #640 "Webpack skeleton prod build is broken"
Here are the steps I took:

1) Downloaded the skeleton
2) Ran 'npm run build:prod'
3) Ran 'npm run server:prod'
4) Opened up localhost:8080

I get an error:

Uncaught TypeError: Cannot read property 'call' of undefined

[2016-08-08 02:09] istrau2 opened #641 "Webpack skeleton, index.js has no effect"
Can't seem to figure out what index.js is supposed to do. Changing its contents and removing it entirely (from the directory structure) has no effect on either server:dev or build:prod.

Thanks in advance.

[2016-08-08 08:24] niieani commented on #641
There's no index.js file anywhere in the latest skeleton navigation. What file are you referring to?

[2016-08-08 08:24] #641 closed

[2016-08-08 08:25] niieani commented on #640
Your OS? Node and NPM version? Use the issue template next time, please.

[2016-08-09 12:52] dbrezoev commented on #396
@Svenskunganka you said you have Jade Webpack compiler setup. Can I see how did you set it up?

[2016-08-09 16:27] valichek opened #642 "Set utf-8 charset for skeletons by default"
**I'm submitting a feature request**
- **Aurelia Skeleton Version**
  skeleton-esnext-webpack
  skeleton-typescript-webpack

webpack-dev-server doesn't have utf-8 charset set in Content-Type by default, so could be confusing when you start real utf-8 application and see broken characters in some browsers (for example Firefox on OSX)

This could be fixed in webpack config with no effort:

[code]

A

[2016-08-09 16:42] valichek commented on #642
Looks like it overrides all content including javascript, so maybe the best solution is to add
[code]
to index.html

[2016-08-09 22:50] Svenskunganka commented on #396
@dbrezoev

`npm i -D jade-html-loader`

Add this to your loaders array in the webpack config:

[code]

When you bootstrap Aurelia:

[code]

[2016-08-10 01:55] istrau2 commented on #640
@niieani Sorry, for the late response. I actually went back over my actions and realized that I had actually included some dependencies. After a bunch of iteration, I have finally figured out what caused the build to fail (mind you this is only for build:prod). The following entry in package.json caused the build to fail:
[code]

I have no idea why. Could it be because the main entry in that packa

[2016-08-10 08:44] Tarpsvo opened #643 "favicon.ico is not being copied to dist in ESNext-WebPack"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Framework Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.4.7

* **NPM Version:**
3.10.6

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.20

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
favicon.ico is not copi

[2016-08-10 09:33] niieani commented on #640
Yes, that could cause the build to fail. We can try to add a safety mechanism into webpack-plugin, but `main` should never point to a `css`, it looks like a bug of `bootstrap-social` (feel free to file the bug at its repo too). For now, put that dependency into `devDependencies`.

[2016-08-10 09:33] niieani commented on #640
Issue moved to [aurelia/webpack-plugin #71](https://github.com/aurelia/webpack-plugin/issues/71) via [**ZenHub**](https://www.zenhub.com/)

[2016-08-10 09:33] #640 closed

[2016-08-10 09:57] dbrezoev commented on #396
@Svenskunganka thanks a lot, it works now

[2016-08-11 07:51] doktordirk opened #644 "howto import translation.json for i18n in exnext-webpack"
i got as far as installing and adding to my webpack.config.js
[code]
but it's not copying the files from src to scripts. suggestions?

on a general note: there should be a guide for using aurelia-i18n and webpack i guess

[2016-08-11 07:56] #644 closed

[2016-08-12 05:19] thesmallbang commented on #636
@ryanswank  I believe the issue may be with you not having .net core sdk installed or at least an outdated version.

[2016-08-13 14:29] sundeepNIIT commented on #281
i also got same error
Resource not found, fail to load aurelia-pal-browser

it got solved by rushing command jspm install aurelia-pal-browser.

Thanks Rob

[2016-08-13 18:24] davidbfrogman commented on #125
At some point I feel like this stopped working.  I've noticed a bunch of unanswered questions in the gitter channel related to this, but it seems all the questions are ignored,  I can't tell how to get aurelia to load my css in the correct order.  Bootstrap keeps being last, using the above code.  Which is kinda annoying.  (seriously the solutions I've seen in the chat are things like 'oh just add

[2016-08-13 19:08] davidbfrogman commented on #125
ok.... you have to be shitting me.  I can't believe that this fixed it.

instead of single quote for the includes, if you use double quote it works just fine.  O lawd.

[code]

[2016-08-14 13:54] PWKad opened #646 "tslint has no configuration by default"
We need to specify to extend `"extends": "tslint:latest",` in tslint.json's and specify any rules.  As it stands I don't think it actually lints anything.

[2016-08-14 15:28] eikaramba commented on #642
that's what i did too, can only recommed. Basically just copy h5bp index.html and remove script tags, that should be a good solution for everyone

[2016-08-14 16:01] eikaramba opened #648 "Proposal: Use browser-sync for reloading CSS"
**I'm submitting a feature request**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack
skeleton-typescript-webpack (? not tested)

* **Framework Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.17

* **Browser:**
all

* **Language:**
ESNex

[2016-08-14 16:51] niieani commented on #648
Looks interesting, thanks for your proposal. I'll test it and try to get this into `easy-webpack/aurelia`.

[2016-08-14 16:52] niieani commented on #642
Sounds like a good idea. I'll handle this. Thanks for suggesting.

[2016-08-15 18:27] ryanswank commented on #636
You are correct.  I had an issue with the .net core installation and was able to resolve via the workaround

[2016-08-15 18:27] #636 closed

[2016-08-15 22:28] eikaramba opened #649 "Proposal: Use webpack-dashboard for webpack skeletons"
**I'm submitting a feature request**

**Aurelia Skeleton Version**
skeleton-esnext-webpack
skeleton-typescript-webpack

see (https://formidable.com/blog/2016/08/15/introducing-webpack-dashboard/) for more info!
I already posted this to the gitter channel, but i thought it might be a nice addition to the webpack skeletons. It does not need to be included, feel free to ignore/delete this proposal.

[2016-08-16 10:43] niieani commented on #649
Yep, I'm aware of this, I'll consider adding it when I have the time.

[2016-08-16 15:07] Tarpsvo commented on #643
That's weird, it has started working for me now. I don't know what changed (maybe deleting the dist folder manually fixed it, even though it seems so unrelated?).

[2016-08-16 18:25] niieani commented on #643
Yeah, I thought it should've worked. Thanks for the update.

[2016-08-16 18:25] #643 closed

[2016-08-17 16:42] jasonbodily opened #650 "Distribution, Build, & Export"
**I'm submitting a feature request**
Effects all Versions, Browsers, etc.

**Current behavior:**
Currently executing 'gulp build' creates a 'dist' folder with each of the files minified (with no option to mangle) but not concatenated , and running 'gulp export' creates an 'export' folder with files somewhat minified and source files concatenated.

**Expected/desired behavior:**
In my mind the buil

[2016-08-17 16:44] AshleyGrant commented on #650
Isn't this more or less what you get with the Webpack Skeletons?

[2016-08-17 16:56] jasonbodily commented on #650
I'm not sure I understand the comment. If there is another task solution or set of tasks that does what I've mentioned above, could you explain how to use it? I've read through the README and read through the build tasks, but I don't see a way to get to one concatenated, minified, and mangled production-ready package. I'm comfortable with Gulp, but only viscerally familiar with Webpack.

[2016-08-17 17:06] AshleyGrant commented on #650
We have multiple Skeletons. Some are based on gulp/jspm, others based on webpack/npm. Also, there is the nascent Aurelia CLI. The Aurelia CLI pretty much does exactly what you are asking for in its default setup. Webpack concatenates everything together by default (with configuration of how to do this stuff).

Webpack is a more mature solution currently, while the Aurelia CLI is in alpha. What you

[2016-08-17 17:29] jasonbodily commented on #650
Oh, thanks for walking me through that. I was using the skeleton-esnext. I'll switch over to skeleton-esnext-webpack and poke around. There's not much reason to concat/minify/mangle on a task that touches files being watched, so I'm not suggesting that. I guess it's the 'export' task that I'm used to calling 'compile' which does the concat/minify/mangle. Is webpack the only solution that can do th

[2016-08-17 17:30] AshleyGrant commented on #650
Yeah, there's no reason gulp can't do that. It's just the setup we give in the skeleton doesn't. You're free to change it as you see fit. I've modified the gulpfiles extensively for my current client.

[2016-08-18 15:08] don-bluelinegrid commented on #628
@niieani

I continue to have this issue.  THis is a major problem for me, because it means I essentially cannot produce a bundled build - I can only run in dev mode.

I don't see anything changing with this.

Again, this occurs in the typescript-webpack skeleton, when I run the command:
  npm run build:dev

The build runs, but at the end it fails with a non-informative error:

[code]

I am also at

[2016-08-18 15:13] niieani commented on #628
@don-bluelinegrid so does a fresh install of skeleton-navigation not work, or are you having problems migrating to it? Not sure how I can reproduce your issue, the log is uninformative as you say.

[2016-08-18 15:18] don-bluelinegrid commented on #628
@niieani
I am using a project based on the latest skeleton - 1.0.0.  I have already migrated to it.

As I mentioned in the original report - once a project begins that is based on a skeleton, it becomes problematic to debug of course, because a project will build on/deviate from the base skeleton.  It is unrealistic to expect that a commercial project will not deviate from the skeleton.  So, we ne

[2016-08-18 15:26] don-bluelinegrid commented on #628
@niieani

I had previously debugged this, and found that it was related to aurelia-i18n.  Please see this comment:

https://github.com/aurelia/i18n/issues/56#issuecomment-236010123

However, it seems that this occurs only for the typescript-webpack skeleton.  Can you please take a look at the comment, and see if you have some suggestion on how to make this work?  Or, does this require a fix from t

[2016-08-18 15:51] niieani commented on #628
We'll have a way to migrate configs in the future so this doesn't happen again, plus we don't expect major changes there either (it was pre-1.0.0 to 1.0.0 migration that was larger).
I've read the comment however, and I don't see why that would be influencing the builds in such a way. Could you prepare a simple repo that reproduces the issue?

We do our best in the free time to debug problems such

[2016-08-18 16:06] don-bluelinegrid commented on #628
@niieani

This could be reproduced by using the current 1.0.0 typescript-webpack skeleton, with the aurelia-i18n module added.  As per above, that is what causes the problem.

If you can't reproduce it that way, I can create a repo that essentially does this.

Don

[2016-08-19 15:34] rainlake commented on #125
seem here.

[2016-08-19 15:48] niieani commented on #125
@davidbfrogman & @rainlake please provide a sample repo that reproduces the wrong behavior. Gitter is for general questions and support, not for bugs and issues, feel free to open an issue describing the problem.

[2016-08-22 19:06] landofjoe opened #652 "skeleton-typescript-aspnetcore Not Working"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-aspnetcore

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
4.5.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.44

* **Browser:**
Chrome

* **Language:**
TypeScript

**Current behavior:**
When I open the pristine skeleton solution, the pack

[2016-08-22 19:25] ewlloyd commented on #652
I'm seeing this in `skeleton-typescript` as well, using VSCode as my IDE. I'd say the filename `bootstrap@3.3.7.js` is suspect to begin with.

[2016-08-22 20:07] landofjoe commented on #652
I rolled back to `bootstrap@3.3.6` and it's working fine.

[2016-08-22 20:09] AshleyGrant commented on #652
I'll investigate this

On Aug 22, 2016 4:07 PM, "Joseph Gabriel" <notifications@github.com> wrote:

[2016-08-23 07:12] enrico-padovani commented on #652
Few days ago I came across this post: [http://www.hanselman.com/blog/VisualStudio2015FixingDependenciesNpmNotInstalledFromFseventsWithNodeOnWindows.aspx](url).

I've always used Visual Studio as my all in one editor but, in my opinion, with modern web it's just a mess and often outdated.

So now I've ended up using VSCode for frontend (also a magnitude faster) and VS for backend. This is not so pr

[2016-08-23 07:18] philmein23 opened #653 "Receiving bundle error due to Bootstrap@3.3.7"
I'm receiving this particular error as I perform a 'gulp bundle' command -

Error on fetch for github:twbs/bootstrap@3.3.7.js at file:///Users/philnguyen/Desktop/Web/Aurelia/InstagramApp3/jspm_packages/github/twbs/bootstrap@3.3.7.js
	Error: ENOENT: no such file or directory, open '/Users/philnguyen/Desktop/Web/Aurelia/InstagramApp3/jspm_packages/github/twbs/bootstrap@3.3.7.js'
    at Error (native

[2016-08-23 07:21] fracz commented on #653
I had the same error yesterday. Just downgraded the bootstrap to `3.3.6` in `package.json`, run `jspm update` and `gulp bundle` works.

[2016-08-23 07:40] philmein23 commented on #653
Okay, great. Thanks alot! It was giving me a long headache.

[2016-08-23 09:09] danyhoron commented on #653
Indeed downgrading bootstrap works.
But running `electron index.js` doesn't work.
I get: `(SystemJS) Bootstrap's JavaScript requires jQuery`

[2016-08-23 12:22] napalm684 commented on #653
You can also add a shim to package.json someone on the gitter helped me yesterday

`    "overrides": {
      "github:twbs/bootstrap@3.3.7": {
        "main": "js/bootstrap",
        "shim": {
          "js/bootstrap": [
            "jquery"
          ]
        }
      }
    }`

[2016-08-23 12:26] napalm684 commented on #652
Take a look at my post here I was running into bootstrap issues yesterday myself:

https://github.com/aurelia/skeleton-navigation/issues/653

[2016-08-23 23:57] gordon-matt commented on #520
FYI - Uploaded the Razor skeleton to GitHub, here: [aurelia-razor-skeleton](https://github.com/gordon-matt/aurelia-razor-skeleton). More info and article coming soon.

[2016-08-24 20:01] csmith93 commented on #652
@napalm684, that fixed it for me. Thanks!

[2016-08-24 20:11] AshleyGrant commented on #652
This looks like it's an issue w/jspm, not with Aurelia. I'm going to work on a PR and submit it to the JSPM registry to update the 3.3.7 bootstrap override.

[2016-08-24 20:11] #652 closed

[2016-08-25 01:07] AshleyGrant commented on #652
This will be fixed by deleting your `jspm_packages` directory and then re-running `jspm install` just as soon as https://github.com/jspm/registry/pull/961 is accepted.

[2016-08-25 09:55] horacimacias commented on #653
I'm having a slightly related issue (please let me know if you want a separate issue for this).
If I do a clean clone and follow the instructions

- npm install
- npm install -g gulp
- npm install -g jspm
- jspm install -y

If I then do a **gulp watch** and open localhost:9000 I see a 404 error on my chrome developer console, trying to access http://localhost:9000/jspm_packages/github/twbs/bootstr

[2016-08-25 11:05] horacimacias commented on #125
I believe I have the same issue.
I cloned the skeleton repo to https://github.com/horacimacias/skeleton-navigation.git
The only changes to the "official" repo are:
- config.js  points to bootstrap 3.3.6 (otherwise gulp watch results in browser not finding 3.3.7). perhaps this is related?
- added a reference to mystyle.css on app.html:
` <require from="nav-bar.html"></require>
  <require from="boot

[2016-08-25 11:38] krostkowski opened #654 "Wrong path for karma served files in skeleton-typescript-aspnetcore"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-typescript-aspnetcore

When running unit test for custom element in skeleton-typescript-aspnetore you'll get
`ERROR: 'Potentially unhandled rejection [7] Error: XHR error (404 Not Found) loading http://localhost:9876/base/src/.../some-view-model-file.html`

It is because in karma.conf.js there is:

[code]

which means .html

[2016-08-25 12:56] AshleyGrant commented on #654
Would you mind submitting aPR to fix this issue?

[2016-08-29 21:01] don-bluelinegrid commented on #628
@niieani

After updating to aurelia-18n v1.1.1, this is now failing:

[code]

[2016-08-29 21:12] niieani commented on #628
Seems like a typings bug in `aurelia-i18n`. Shouldn't affect the output though.

[2016-08-30 13:57] ashishdhyani commented on #551
I am having the same issue. Is anybody able to solve this issue ?
![image](https://cloud.githubusercontent.com/assets/21311351/18091843/b06325a0-6efc-11e6-94c9-8c20027d60dc.png)

[2016-08-30 14:07] don-bluelinegrid opened #655 "Cannot debug build problem using npm debug log"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**

skeleton-typescript-webpack 1.0.0

* **Framework Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.6

* **Node Version:**
4.4.7

* **NPM Version:**
3.10

* **JSPM OR Webpack AND Version**
webpack

* **Language:**
TypeScript

**Current behavior:**

I am consistently running into situation w

[2016-08-30 15:07] AshleyGrant commented on #551
@ashishdhyani please upgrade your NPM install. You need NPM v3.x

[2016-08-31 13:32] ashishdhyani commented on #551
Works thanks.

[2016-09-02 00:45] lu4 commented on #537
@niieani TypeScript 2.0 goes away from notion of typings, they've introduced types that are installed via `npm`. You get `@types` folder in `node_modules` which contain all the necessary type information. The types are automatically loaded from `@types` folder. The problem with SystemJS remains in this regard, IDE looses track of type information if `@node` is concatenated as prefix to my core nod

[2016-09-02 00:52] lu4 commented on #537
On the other hand I've found a workaround for the above problem, it seems that you can `map` `fs` into `@node/fs` like so:

[code]

[2016-09-02 11:41] niieani commented on #537
@lu4 cool workaround. Note that the notion of typings does not go away as you stated. What changes is the tooling for installing typings - in favor of NPM in the `@types` scope.

[2016-09-02 11:43] lu4 commented on #537
Thanks, yeah probably that's a better way to express the change... :)

[2016-09-03 04:27] jmojiwat opened #658 "skeleton-typescript-webpack errors when 'npm run'"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

* **Framework Version:**
1.0.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.5.0

* **NPM Version:**
3.10.6

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.21

* **Browser:**
all

* **Language:**
TypeScript 2.0.0RC

**Current behavior:**

pulled

[2016-09-03 10:24] niieani commented on #658
Install the missing typings. You can see what is referenced here:
https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-webpack/custom_typings
You need to run: `npm install @types/whatwg-fetch`

[2016-09-03 10:24] #658 closed

[2016-09-05 07:37] horacimacias opened #659 "Bootstrap CSS loads last and overrides custom styles"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-esnext
- **Framework Version:**
  rc.1.0.0.

**Please tell us about your environment:**
- **Operating System:**
  OSX 10.x
- **Node Version:**
  4.3.1
- **NPM Version:**
  3.10.6
- **JSPM Version**
  0.17.0-beta.28
  Running against global jspm install.
- **Browser:**
  all
- **Language:**
  ESNext

**Current behavior:**

**

[2016-09-05 21:15] xenoterracide opened #660 "ReadableStream missing with typescript 2.0.2"
I ran into a spectacular problem when I upgraded to typescript 2.0.2, details and fixes on this upstream issue

https://github.com/Microsoft/TypeScript/issues/10708#issuecomment-244760507

[2016-09-05 23:05] The1nternet commented on #655
I have this same issue.  This happens for the raw skeleton navigation with no modifications.  To reproduce, simply cd into the `skeleton-typescript-webpack` folder, run `npm install` the run `npm run build`.

[2016-09-05 23:06] The1nternet commented on #655
btw, i'm running node 6.5.0, and npm 3.10.3

[2016-09-06 08:27] niieani commented on #655
Odd. I'll have a look.

[2016-09-07 07:10] jmojiwat commented on #658
@niieani I tried a fresh Git clone and also the download version, followed your suggestions butstill didn't get it to work. In the end, I switched back to JSPM and got it to work. Thanks just the same for looking into it.

[2016-09-08 11:43] steelsojka opened #661 "Source map files are generated incorrectly"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-typescript-webpack

- **Framework Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  Linux Ubuntu Studio 16.04
- **Node Version:**
  5.11.0

- **NPM Version:**
  3.8.6

- **JSPM OR Webpack AND Version**
  webpack 2.1.0-beta.18

- **Browser:**
  all
- **Language:**
  TypeScript 2.0.2

**C

[2016-09-08 17:05] ca-miked opened #662 "skeleton-esnext-webpack build erroring out of the box"
I'm submitting a bug report

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Framework Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.10.5

* **Node Version:**
6.5.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.22

* **Browser:**
Chrome 52.0.2743.82 (64-bit)

* **Language:**
ESNext

**Current behavior:**
A

[2016-09-08 18:57] The1nternet commented on #655
I cannot build because of this issue, and I don't know what to do.  Any ideas?

[2016-09-09 00:44] Calabonga opened #663 "skeleton-esnext-aspnetcore build erroring out of the box"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-esnext-aspnetcore
- **Framework Version:**
  "aurelia-framework": "npm:aurelia-framework@^1.0.0-rc.1.0.0",

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  6.3.1
- **NPM Version:**
  3.10.6
- **JSPM OR Webpack AND Version**
  JSPM 0.16.42
- **Browser:**
  Chrome XX | Fire

[2016-09-10 09:26] niieani commented on #662
I'm unable to reproduce. Please try a fresh clone of the repo and fresh `npm install`.

[2016-09-10 09:28] niieani commented on #655
I'm unable to reproduce. Please try a fresh clone of the repo and fresh `npm install`.

[2016-09-10 11:47] rehnen commented on #662
I have the exact same issue.

[2016-09-10 13:26] niieani commented on #662
I'll try updating to Node 6.5.0, see if that causes the problem.

[2016-09-10 16:17] niieani commented on #662
Updated to Node 6.5.0, still can't reproduce. Not sure what the problem on your end might be. I'm on the same Node and NPM versions and OS, and it works. Is there anything custom about your setups?

[2016-09-12 05:00] The1nternet commented on #655
Downloaded the skeleton again, ran `npm install`, then `npm run build`, and got the same failure.  Attached is my `npm-debug.log`.
[npm-debug.log.txt](https://github.com/aurelia/skeleton-navigation/files/466561/npm-debug.log.txt)

[2016-09-12 05:58] dev0x10 commented on #662
FYI
I'm using this skeleton with Node 6.5.0 and had no issue

[2016-09-12 08:44] niieani commented on #655
@The1nternet as far as I can see from the logs, the error occurs in `nvm` / `npm` and is not related to Aurelia:

[code]

Please try installing node without `nvm` or try reinstalling npm with: `npm install npm -g` and see if that helps.

[2016-09-12 08:44] #655 closed

[2016-09-12 19:11] ajoslin103 commented on #662
Node 6.3.0 OSX - no issue

[2016-09-12 19:29] ajoslin103 commented on #661
I can confirm this.  If you turn on css sourceMap that data is included, otherwise the file is empty of useful information.  The other map files have information, it's just the app.bundle.map that's incorrect.

[2016-09-12 19:44] niieani commented on #661
Can you try updating your webpack with `npm install webpack@beta --save-dev`? I see your version about a month old: `webpack 2.1.0-beta.18`. Seems like a Webpack bug to me.

[2016-09-12 19:55] ajoslin103 commented on #661
my node is 6.3.0  (max os x)

clean npm install today gave me
  "_id": "webpack@2.1.0-beta.13",

your update gave me
  "_id": "webpack@2.1.0-beta.22",

but it did not solve the problem

[2016-09-12 19:59] ajoslin103 commented on #661
seems to be known at webpack
https://github.com/webpack/webpack/issues/2862

[2016-09-13 00:05] The1nternet commented on #655
I uninstalled nvm and node, and reinstalled using the official node installer for OSX, and got the same error when running `npm run build`.  `npm run start` works fine.  Also still doesn't work when downloading a fresh copy of the skeleton.  Attached is the new debug log for the new node install.  As you can see, it's now using the direct node path, instead of nvm.

[npm-debug.log.txt](https://git

[2016-09-13 00:09] The1nternet commented on #655
Also, FYI, after I uninstalled nvm, and node, I also deleted my node_modules folder, and re-ran `npm install` before trying any of the npm commands.

Also, the log specifically says this:

[2016-09-13 06:39] bischofb opened #664 "Protractor and Selenium TypeScript definition errors"
- **Aurelia Skeleton Version**
  skeleton-typescript-webpack
- **Framework Version:**
  major.minor.patch-pre

**Please tell us about your environment:**
- **Operating System:**
  Linux Cinnamon Mint
- **Node Version:**
  6.5.0
- **NPM Version:**
  3.10.7

*\* Protractor Version**
4.0.7

*\* Selenium-Webdriver Version**
2.53.3

**Current behavior:**
This a fresh download today with no code changes

[2016-09-13 08:17] niieani commented on #664
Might be that Protractor started to add more TS typings which conflict with the ones we provide. I'll have a look later this week. For now you can try to remove the Protractor stubs from `custom_typings` folder.

[2016-09-13 08:21] niieani commented on #655
@The1nternet perhaps you have some global `node_modules` in your `PATH` which conflict here? Did you clean global node modules before reinstalling `node`?

[2016-09-13 13:41] The1nternet commented on #655
@niieani yes I actually deleted the entire global npm folder before installing the new version, so it's a fully clean npm install.

[2016-09-13 14:11] The1nternet commented on #655
@niieani have you considered that maybe `npm run build` doesn't fail for you because you're *not* using a clean node and npm install?  That maybe you have something in your installation that needs to be included with the skeleton?

[2016-09-13 14:44] niieani commented on #655
@The1nternet I have considered that, but we are also [running tests in a CI](https://circleci.com/gh/aurelia/skeleton-navigation/137). As you can see, `npm run build` works properly on the server too.

[2016-09-13 15:04] The1nternet commented on #655
@niieani notice this original but report was about the ability to debug problems with the build tasks.  If I could get some kind of meaningful output about the failure, I could probably figure out what's causing the failure.  As it stands, though, the output is pretty useless to me.

[2016-09-13 15:26] niieani commented on #655
@The1nternet the thing is, errors are meaningful, if they have meaningful reasons. I have as much idea as to why it does not work for you, as you have. The error from your provided npm debug log **is** meaningful, pointing to a problem with NPM:

[code]

Could you maybe see if said problem was reported to the NPM repository?

[2016-09-13 15:55] The1nternet commented on #655
The text you posted is the npm host process reporting a failure from a child process i.e. `cross-env NODE_ENV=development npm run build:dev`.  No npm error is identified in the text you posted.  No other npm operation giving me any problems on my system except `npm run build`.

[2016-09-13 15:57] niieani commented on #655
Hmm, perhaps you're right. Since you're on OS X you don't need cross-env, could you try and remove all references for `cross-env` in `package.json` and retry?

[2016-09-13 16:31] The1nternet commented on #655
Hmmm...  I removed all references to `cross-env` and that did nothing.  However, I drilled down into the commands, and I found that if I directly execute `./node_modules/.bin/webpack` from the terminal, then the build works with no errors.  The error is somehow happening because of the way the `webpack` command is being called by the `build:dev` command.  However, at least I can build by calling i

[2016-09-13 17:42] niieani commented on #655
That looks like an NPM bug -- you're basically saying the same command works when invoked manually, but not when invoked by an NPM script, am I correct? If so, it would be great if you could report this to the NPM repo, as it's definitely not related to Aurelia.

[2016-09-13 21:04] The1nternet commented on #655
Did you guys create that `./node_modules/.bin/webpack` file?  or is that simply part of webpack?

[2016-09-14 10:48] niieani commented on #655
No, the file at that path should be a link file created by NPM during installation, pointing to the Webpack's CLI script.

[2016-09-14 11:11] Calabonga commented on #663
Forgot attach the npm-debug.log

![npm-debug](https://cloud.githubusercontent.com/assets/346209/18510121/98c51b28-7aa6-11e6-8340-b1ad46f08e15.png)

[2016-09-14 11:36] niieani commented on #663
Do you have JSPM installed globally?
`npm install jspm -g`

[2016-09-14 13:00] Calabonga commented on #663
Yes, I do. I tried twice on the work computer and home notebook.

[2016-09-14 13:46] jasonbiondo opened #665 "Webpack Loads Entire Application CSS files multiple Times in Aurelia Chunks"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Operating System:**
OSX 10.11.5

* **Node Version:**
4.4.3

* **NPM Version:**
3.10.5

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.13

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Using the following config...
[code]

These CSS files are being injected into the header of index

[2016-09-14 14:35] niieani commented on #663
OK, you'll need to wait for the maintainer of **aspnetcore** edition of skeleton to respond to this. Ping @EisenbergEffect.

[2016-09-14 14:40] EisenbergEffect commented on #663
That would be @AshleyGrant

[2016-09-14 14:48] Thanood commented on #663
I'm guessing it's the postinstall script:
https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-esnext-aspnetcore/src/skeleton/package.json#L62

[code]

On windows machines this can cause problems when not run in a bash compatible environment.
The webpack skeletons use `cross-env` for that. It might be a solution.

But I think (please correct my if I'm wrong) if you just specify `jsp

[2016-09-15 00:39] Calabonga commented on #663
The command `jspm install-y` is executing Visual Studio 2015 automatically when solution opened first. Another words, Visual Studio 2015 should know current environment. Am I right?

[2016-09-15 05:13] Thanood commented on #663
Yes, and that's the difference in my opinion. VS starts jspm (via node) which is somewhere on `%PATH%` looks up the local jspm and starts it. The command `./node_modules/.bin/jspm install -y` *directly* starts the local jspm which is a bash script - look at the file if you like.

I guess if you change this in your local environment to `./node_modules/.bin/jspm.cmd install -y` it works.

[2016-09-15 06:14] niieani commented on #663
We should use `cross-env` in that case.

[2016-09-15 06:21] niieani commented on #665
We are not scanning the entire `src` for CSS files as you claim, this is most likely happening due to a misconfiguration of Webpack, some of its plugins, or incorrect inline CSS imports. Provide the full config and I'll try to assist.
Closing as not a bug.

[2016-09-15 06:21] #665 closed

[2016-09-15 07:38] Calabonga commented on #663
I ordinary user and I just tried begun to study Aurelia. But I could not even build solution. This is sadly. :(

[2016-09-15 08:11] niieani commented on #663
@Calabonga  try changing `./node_modules/.bin/jspm` into `jspm` in `package.json`. Should help for now and we'll deal with this. It's a Windows specific issue.

[2016-09-15 09:08] Calabonga commented on #663
package.json changed like this...
![changed](https://cloud.githubusercontent.com/assets/346209/18544372/774f8600-7b5e-11e6-9c67-c9eee70f9040.png)

did not help....
![nothing-changed](https://cloud.githubusercontent.com/assets/346209/18544371/7740370e-7b5e-11e6-877e-1fe877f0721d.png)

[2016-09-15 09:18] niieani commented on #663
That seems like quite a different problem: "Error on lookup for github:github/bootstrap", etc... Are you behind a proxy or some firewall?
Also, you're on a deprecated version of Node -- 5, which is unsupported. Please use either Node 4 or Node 6.

[2016-09-15 09:43] jasonbiondo commented on #665
This is my current config

`"use strict";

/**
 * To learn more about how to use Easy Webpack
 * Take a look at the README here: https://github.com/easy-webpack/core
 **/
const easyWebpack = require('@easy-webpack/core');
const generateConfig = easyWebpack.default;
const get = easyWebpack.get;
const path = require('path');
const ENV = process.env.NODE_ENV && process.env.NODE_ENV.toLowerCase() || '

[2016-09-16 05:54] donald-slagle opened #666 "End to end test always return with exit code 1 even when all tests pass"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-esnext-webpack

- **Framework Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  Windows [10, Server 2012]
- **Node Version:**
  6.3.1

- **NPM Version:**
  3.10.3

- **JSPM OR Webpack AND Version**
  webpack 2.1.0-beta.21

- **Browser:**
  all
- **Language:**
  ESNext

**Current behavio

[2016-09-16 15:59] jasonbiondo opened #667 "Aurelia Webpack EsNext - package.json build resources "path" not being scanned when longer than one segment"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-esnext-webpack
- **Operating System:**
  OSX 10.10.5
- **Browser:**
  all
- **Language:**
  ESNext

**Current behavior:**
I'm using

[code]

and have these paths available in my project:

src/application/homepage/homepage.html
src/application/homepage/homepage.js
src/application/homepage/homepage.less

when running npm run b

[2016-09-16 17:12] niieani commented on #667
Would you please post a repository with the changes made?

[2016-09-16 19:45] jasonbiondo commented on #667
@niieani This seems to happen when visiting http://aurelia.trekeffect.com/#/users and doing a hard reload.

Clone my repo here https://github.com/jasonbiondo/AureliaWebPackIssue

Run "npm run build:prod" and hit the above url.  Let me know if you know of a solution.

[2016-09-16 21:00] niieani commented on #667
I'll add it to my long-standing list of issues of the current Aurelia+Webpack implementation. I'm working on a rewrite that solves all the issues present in the loader-webpack and webpack-plugin repos. Probably won't be solved until around November though.

[2016-09-17 02:21] jasonbiondo commented on #667
@niieani thanks for the response.  I understand you probably have a lot on your plate, but I'm looking to put out a production build of http://trekeffect.com converted to Aurelia before November.  We were using Aurelia CLI but it couldn't handle the code chunking.  Now I just spent the last two days migrating it to Webpack but it seems this doesn't fully work either when you have dynamic routes (a

[2016-09-17 08:40] niieani commented on #667
I don't completely understand why this error appears: "Template markup must be wrapped in a element" yet. It might be something trivial.

If you'd like to expedite this we could do an hour or two of paid consulting next week to try and debug this.

[2016-09-18 20:14] arnonuem commented on #667
I have the same issue. It seems that the JS files are not recognized when the html + js file sit in a subfolder and when referencing that folder in the router like subfolder/view.
When i put an alert or console.log in the constructor or attached method i never see that output.

[2016-09-18 21:30] niieani commented on #667
Thanks for the confirmation @arnonuem. I'll be analyzing this as soon as possible.

![yEtv1wWZpmG2s](https://camo.githubusercontent.com/76eabb0710375766bfc607d80e999ac95e0903cb/68747470733a2f2f6d65646961322e67697068792e636f6d2f6d656469612f794574763177575a706d4732732f67697068792e676966>)

[2016-09-18 21:34] jasonbiondo commented on #667
https://cdn.meme.am/instances/500x/66328607.jpg

[2016-09-19 02:17] XuJinNet opened #669 "[Bug] skeleton-esnext-webpack with less, cannot find the less style module"
Hi friends, i using skeleton-esnext-webpack with less for my aurelia project, but got a problem when require the less file within the view:

webpack.config.js
[code]
src/welcome.less
[code]
src/welcome.html
[code]
Error Info:
![e5e9c8e6-d01d-4586-b68b-2cd31be2ed20](https://cloud.githubusercontent.com/assets/442382/18621107/50ace6b4-7e51-11e6-89eb-9cfe737d60a4.png)

If using `<require from="./welco

[2016-09-19 12:07] niieani commented on #669
Using .less in View templates is not yet supported. There's an issue about it somewhere already, either in webpack-plugin or loader-webpack repo.

[2016-09-19 12:07] #669 closed

[2016-09-19 12:10] niieani commented on #667
![la-approves-forge-q5VkBVRpwXJPG](https://camo.githubusercontent.com/f0bb3232794f6de1394ef9abbc2a4e33513640cf/68747470733a2f2f6d65646961332e67697068792e636f6d2f6d656469612f7135566b4256527077584a50472f67697068792e676966>)

[2016-09-20 09:18] smahi opened #670 "Webpack throw an error"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-esnext-webpack

- **Framework Version:**
  1.0.3

**Please tell us about your environment:**
- **Operating System:**
  OSX 10.x
- **Node Version:**
  4.5.0

- **NPM Version:**
  3.10.8

- **JSPM OR Webpack AND Version**
  webpack 2.1.0-beta.23

- **Browser:**
  all
- **Language:**
  ESNext

**Current behavior:**
`npm run wat

[2016-09-20 10:11] amitHansda commented on #670
I am getting this exact same error.... Did anything break on Webpack plugin?

[2016-09-20 11:00] niieani commented on #670
This is due to a breaking change in Webpack. Please `npm install webpack@2.1.0-beta.22 --save-dev`, locking that version until we resolve this in easy-webpack.

[2016-09-20 11:05] Ryuno-Ki commented on #655
@The1nternet I don't know, if Mac OS X has something similiar, but on GNU/Linux you could see via `ls -l ./node_modules/.bin/webpack` that it is a symbolic link to the `webpack` executable/CLI script.

[2016-09-20 11:08] niieani commented on #670
I've fixed this in skeleton-navigation's repo by locking to beta.22. Please track https://github.com/easy-webpack/core/issues/20.
@EisenbergEffect can we do an emergency release of the Webpack skeletons? Webpack had a breaking change so I locked its version to `2.1.0-beta.22` until I solve the issues.

[2016-09-20 20:11] liefl commented on #662
Node 6.5.0 OSX - identical errors

[2016-09-20 20:25] ca-miked commented on #662
It's strange, I deleted the entire repository and re-cloned it and everything worked fine after that. Not clear what the issue was :/

[2016-09-20 20:25] ajoslin103 commented on #662
no issue w/OS X 10.11.6
$ npm --version: 3.10.3
$ node --version: v6.5.0
chrome: Version 55.0.2859.0 dev (64-bit)

[2016-09-21 02:44] Calabonga commented on #663
Yes! I am sure!

Operating System:
Windows 10
Node Version:
6.3.1
NPM Version:
3.10.6
JSPM OR Webpack AND Version
JSPM 0.16.42
Browser:
Chrome XX | Firefox XX | Edge XX

[2016-09-22 03:38] XuJinNet opened #671 "[Bug][skeleton-esnext] When using 2 config files, bundle fail"
I using skeleton-esnext 1.0.0
JSPM Version: 0.16.45

bundle.js
[code]
when run `gulp export` or `gulp bundle`, get the error:
`
[17:51:03] 'bundle' errored after 864 ms
[17:51:03] Error on fetch for npm:jquery@3.1.0.js at file:///Users/xujin/My_Projects/NodeJS/antme-web-client/npm:jquery@3.1.0.js
        Error: ENOENT: no such file or directory, open '/Users/xujin/My_Projects/NodeJS/antme-web-clie

[2016-09-22 10:38] niieani commented on #663
@Calabonga not sure what's you're so sure of? :)

[2016-09-22 13:50] AshleyGrant commented on #663
I'll look in to this today.

[2016-09-22 13:57] Calabonga commented on #663
@niieani Ok... And what am I can do with this?

[2016-09-22 14:01] AshleyGrant commented on #663
@Calabonga we'll get this sorted. Don't worry. https://www.youtube.com/watch?v=d-diB65scQU

[2016-09-22 14:28] AshleyGrant commented on #663
Maybe it's because I have git bash installed, but I was able to successfully open the skeleton using Visual Studio. It ran through the install process properly. I'll keep investigating, though.

Here's the output from my "Bower/npm" window in Visual Studio:
[code]

[2016-09-22 14:46] AshleyGrant commented on #663
Yep, it fails when I uninstall Git. As a temporary fix, you can install Git from here: https://git-scm.com/downloads

I **highly** recommend installing the official Git client anyways. It comes with a proper Bash shell. Having access to a Bash will greatly help your ability to work with the tooling used in the Modern JavaScript world, as a lot of it is developed assuming you're running in a Unix-y

[2016-09-23 01:19] Roustalski commented on #278
I was able to get coverage working of my typescript files using the Aurelia CLI, but have run into an issue: http://stackoverflow.com/questions/39650904/how-do-i-get-the-aurelia-cli-to-provide-a-stack-trace-on-a-gulp-plugin-error

[2016-09-23 03:23] XuJinNet opened #672 "[Bug][skeleton-esnext] Bundle with "moment", can`t find the module moment when set "minify" to true"
injected jspm.config.js

[code]

when run in browser, get the error:
![630ea184-50b6-4d18-b860-48c266e6350a](https://cloud.githubusercontent.com/assets/442382/18773231/d0905128-817f-11e6-95b1-567de7422ad0.png)

when set "minify" to false in bundles.js, everything is all right.

skeleton-esnext 1.0.0
JSPM Version: 0.16.45
moment Version: 2.15.1
Framework Version: 1.0.3
Operating System: OSX 10.11.6

[2016-09-23 13:13] The1nternet opened #673 "[Bug][skeleton-typescript-webpack] Cannot customize the URL's for font-awesome fonts"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

* **Framework Version:**
1.0.2

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.4

* **Node Version:**
6.5.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.21

* **Browser:**
all

* **Language:**
all

**Current behavior:**
There is no way to cu

[2016-09-23 14:20] #673 closed

[2016-09-25 09:09] lmj0011 opened #674 "electron throws error on start"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-typescript

- **Framework Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  Xubuntu 16.04
- **Node Version:**
  5.12.0

- **NPM Version:**
  3.8.6

- **JSPM OR Webpack AND Version**
  JSPM 0.16.45

- **Browser:**
  Electron/Chrome 52
- **Language:**
  TypeScript 2.0

**Current behavior:

[2016-09-25 15:09] AshleyGrant commented on #674
I'll look in to this. It is probably an issue with JSPM *again*.

[2016-09-25 15:14] AshleyGrant commented on #674
Ok, I've reproduced the error. The skeleton runs fine in Chrome, but not in Electron. I'll get this sorted.

[2016-09-25 17:26] larsfjerm opened #676 "Bug - typescript-webpack - Build command fails"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

* **Framework Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.5 and 4.3.2

* **NPM Version:**
3.5.3

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.22

* **Language:**
TypeScript X.X

**Current behavior:**
`npm run build` fails. T

[2016-09-25 17:34] larsfjerm commented on #676
From #664 - remove `aurelia-protractor.d.ts` from the custom-typings folder.

[2016-09-25 17:34] #676 closed

[2016-09-26 03:54] EisenbergEffect commented on #672
@AshleyGrant Can you take a look at this?

[2016-09-26 04:01] EisenbergEffect commented on #671
@ahmedshuhel Can you look into this?

[2016-09-26 04:10] EisenbergEffect commented on #671
Closing this as a duplicate.

[2016-09-26 04:10] #671 closed

[2016-09-26 04:36] EisenbergEffect commented on #670
@niieani When I asked you about releases last week you didn't mention this. Is this still an issue and in need of a release? Or has it been addressed by Webpack itself already?

[2016-09-26 05:05] ahmedshuhel commented on #671
@EisenbergEffect Looking into it. We have this reported here in bundler repo also. https://github.com/aurelia/bundler/issues/145 . Will be tracking that instead.

[2016-09-26 10:22] niieani commented on #670
@EisenbergEffect oh, I might have forgotten about this. Webpack had breaking changes (they've added configuration validation), so there's not much they can do to address, I'll need to make changes to easy-webpack. For now, the difference between beta.23 and beta.22 is pretty insignificant, so I'd advise everybody to stay on beta.22. I've updated the skeletons accordingly, so let's do the release.

[2016-09-27 22:21] boazblake commented on #670
this is still an issue when downloading the skeletons from the direct zip link (only checked  for esnext-webpack)

[2016-09-28 11:48] niieani commented on #670
Yes, new skeletons will be released today @boazblake.

[2016-09-29 05:37] #646 closed

[2016-09-29 06:08] plwalters opened #679 "Export is broken on asp.net skeletons"
The export task does not export properly on the asp.net core skeletons.  I think we should remove this on those skeletons and instruct the developer to use the publish feature in VS or something else as it doesn't seem useful in those cases.

[2016-09-29 06:31] lmj0011 opened #680 "tslint is not able to resolve import path"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript

* **Framework Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Xubuntu 16.01

* **Node Version:**
5.12.0

* **NPM Version:**
3.8.6

* **JSPM OR Webpack AND Version**
JSPM 0.16.45

* **Browser:**
Electron/Chrome 52

* **Language:**
TypeScript 2.0

**Current behavior:**

stemming

[2016-09-29 06:54] EisenbergEffect commented on #679
@AshleyGrant Can you review this please?

[2016-09-29 06:54] EisenbergEffect commented on #680
@PWKad I added this per your request, but it looks like there's a bug. Can you look into it please?

[2016-09-29 12:21] AshleyGrant commented on #679
Will do.

[2016-09-29 15:09] PWKad commented on #680
The issue is that we need to tell the linter about the path to `src` as well.  I think the best way to do this is in the `tsconfig.json` like this -

[code]
@lmj0011 can you confirm adding that fixes the issue?  Else we can move to the `../` syntax, but would be nice to not have to just for the linter :)

[2016-09-29 17:04] EduwHS opened #681 "[Error][skeleton-typescript] Error running gulp watch"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript

* **Framework Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
5.6.0

* **NPM Version:**
3.5.2

* **JSPM OR Webpack AND Version**
JSPM 0.16.45

* **Language:**
TypeScript 2.0

**Current behavior:**
Perform a clean install
Run gulp watch
[Error run

[2016-09-29 19:01] PWKad commented on #681
Please update to 1.0.6 for binding - https://github.com/aurelia/binding/commit/426209316fbd4001d2264330664bd26677affb42
 it's fixed there.

[2016-09-29 19:01] #681 closed

[2016-09-30 01:33] lmj0011 commented on #680
@PWKad adding the config option checked out good. :+1:

[2016-09-30 01:51] PWKad commented on #680
PR should fix it, I'll wait for someone else to review and confirm.

[2016-09-30 02:09] EisenbergEffect commented on #680
@PWKad Thanks for looking into this. I'm asking @AshleyGrant to review. He's traveling and speaking at some conferences now so I'm not 100% sure of his availability. If he doesn't get to it by this time tomorrow, let me know and I'll take a look or assign someone else.

[2016-09-30 08:40] EisenbergEffect commented on #662
@niieani Where are we at with this? Can it be closed?

[2016-09-30 08:48] EisenbergEffect commented on #660
Seems like a TS issue, not Aurelia.

[2016-09-30 08:48] #660 closed

[2016-09-30 09:49] niieani commented on #660
We should be able to add `whatwg-streams` typings as a dependency to the TypeScript skeletons though.

[2016-09-30 11:21] Kukks commented on #387
Does this mean this issue will not be moving forward? I've read elsewhere that aurelia-bundler was not working as expected when they upgraded to 0.17 beta

[2016-09-30 11:57] demoncodemonkey opened #684 "skeleton-typescript karma unit tests fail after creating a bundle"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-typescript
- **Framework Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 10
- **Node Version:**
  6.5.0
- **NPM Version:**
  3.10.7
- **JSPM Version**
  JSPM 0.16.45
- **Gulp Version**
  3.9.1

**Description:**
Unit tests run fine normally, but they fail after creating a bundl

[2016-09-30 12:26] demoncodemonkey commented on #684
A workaround I'm using is to change **package.json** like this:

[code]

to:
[code]

Because `clean` calls the unbundle task. Then if I use `npm test` , the unit tests magically start working again.

[2016-09-30 13:46] #680 closed

[2016-09-30 14:47] EisenbergEffect commented on #387
We are working on it now.

On Sep 30, 2016 4:21 AM, "Andrew Camilleri" <notifications@github.com>
wrote:

[2016-09-30 16:32] ahmedshuhel commented on #387
@Kukks  We are tracking bundler related issue for this here. https://github.com/aurelia/bundler/issues/129

[2016-10-01 14:21] bfil commented on #278
@Roustalski I've tried to clone your repo but it spits out an empty coverage for me..

It seems like `karma-systemjs` complicates things quite a bit, and I'm unable to get the coverage working in any way using it together with other karma plugins such as `karma-coverage` and `karma-remap-istanbul`.

The ESNext skeleton uses `karma-jspm`, is this supposed to use that instead?

@niieani can you elab

[2016-10-01 22:31] renataogarcia commented on #664
I'm having a similar issue and can confirm that removing the Protractor stubs custom_typings works.

[2016-10-02 10:48] ad34 opened #685 "skeleton-esnext-webpack cannot npm start (lodash loading problem)"
* **Aurelia Skeleton Version**
skeleton-esnext-webpack

major.minor.patch-pre

* **Operating System:**
MacOS sierra (10.12)

* **Node Version:**
4.6.0

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**

jspm 0.16.46
webpack 2.1.0-beta.22

**Current behavior:**

Cannot launch npm start due to error

module.js:327
    throw err;
    ^

Error: Cannot find module './lodash'
    at Function.

[2016-10-02 16:37] niieani commented on #685
Try removing `node_modules` and `npm install`ing again.

[2016-10-03 03:59] #685 closed

[2016-10-03 04:55] EisenbergEffect commented on #654
@AshleyGrant Can you please look into this? Thanks!

[2016-10-03 05:01] #653 closed

[2016-10-03 07:41] accessdev commented on #685
Thanks. the issue is fixed.

[2016-10-03 09:02] Tarpsvo commented on #662
Identical errors with the following setup:
[code]
 Node 4.6.0 and NPM 2.15.9.

[2016-10-03 13:41] niieani commented on #662
Unable to reproduce and no further information. Closing.

[2016-10-03 13:41] #662 closed

[2016-10-03 22:17] lares83 opened #686 "Update to webpack-beta.2.1.0-beta.25 breaks running application"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack
skeleton-typescript-webpack

* **Framework Version:**
1.0.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.7.0

* **NPM Version:**
3.10.3

* **Webpack Version**
webpack 2.1.0-beta.25

**Current behavior:**
After webpack's update to the newest version 2.1.0-

[2016-10-04 00:19] niieani commented on #686
Previously reported.

[2016-10-04 00:19] #686 closed

[2016-10-04 09:10] accessdev opened #687 "skeleton-esnext arrow function support"
**I'm submitting a feature request**

* **Aurelia Skeleton Version**
skeleton-esnext

* **Framework Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
4.6.0

* **NPM Version:**
3.10.8

* **Language:**
ESNext

**Current behavior:**

I want to use the skeleton-esnext build on my project, but it failed to compile this piece of code

[2016-10-04 12:07] niieani commented on #687
Arrow support is a language (environment-support-dependent) feature, not related to Aurelia in any way. The reason this doesn't work is your code is incorrect. You need to wrap your lambda in a parenthesis before calling `bind()`.

[2016-10-04 12:07] #687 closed

[2016-10-04 12:18] accessdev commented on #687
thanks @niieani , you are right , adding parenthesis  fixes the issue ! I just don't get why it works when it transpiled on the fly.

[2016-10-05 04:20] #650 closed

[2016-10-05 04:39] EisenbergEffect commented on #648
@niieani Where are we at with this?

[2016-10-05 10:13] nashwaan opened #688 "How to setup Aurelia + standard webpack (without @easy-webpack)"
**UPDATE 3-Nov-2016:** For a better version of this guide, see [this](https://github.com/aurelia/framework/blob/master/doc/article/drafts/manual-webpack-configuration.md) or [this](https://github.com/bigopon/framework/blob/e44fcbd1cfe62a65a4331ae4b7b63e0c833c347e/doc/article/en-US/setup-webpack.md#using-normal-webpack-configuration).
____________________________________________________________

Ok

[2016-10-05 10:37] bigopon commented on #688
Attempted to do this once but couldn't finish. Glad you did. Thanks !

[2016-10-05 12:26] niieani commented on #688
Thanks, we would happily accept a PR to put this into our Webpack-related docs on the Hub if you like.

[2016-10-05 14:12] EisenbergEffect commented on #688
@nashwaan We would love to have this in the official documentation! If you want to create a markdown file and PR it into the docs folder of the framework, I can fix it up and get it into the docs.

[2016-10-05 16:38] niieani commented on #648
It's actually better to use Hot-Module-Reload for CSS instead of reloading the whole page. CSS hot reloading is normally supported OOTB with Webpack, but our plugin has an error which causes CSS HMR to break. The problem is tracked in the webpack-plugin repo.

[2016-10-05 16:38] #648 closed

[2016-10-05 20:22] eikaramba commented on #648
Indeed, somehow the reloading is broken currently (was working 2 weeks ago). However browser-sync is not only about CSS reloading, and HMR does not offer scroll & click synchronisation. Sure having HMR is better than nothing and would be fine. It's just that browser-sync was not really complicate to integrate and given the extras features i thought it makes sense to use it.

[2016-10-05 20:30] niieani commented on #648
I see, forgot about the cross-browser synchronization. I've added it as an idea for an Easy Webpack preset. You can contribute if you like. :)

[2016-10-05 20:39] eikaramba commented on #648
Sure i already tried to investigate why reloading is (currently) broken and will continue to do so.

[2016-10-05 21:28] niieani commented on #648
You're rerfering to BrowserSync Reloading or HMR Reloading?

[2016-10-05 21:55] eikaramba commented on #648
BrowserSync but apparently it could be because webpack-dev-server's reloading is again interferring. It should be deactivated. But again... i really need to look closer to know more

[2016-10-06 05:59] EisenbergEffect commented on #628
Is this still an issue?

[2016-10-06 11:02] nashwaan commented on #688
@niieani @EisenbergEffect  Thank you both for your feedback.
I would really love to help in the documentation but I don't think I should do this because I have recently started to learn Aurelia and webpack. Of course, you can put these instructions in the doc if that can help.

But I do have an important comment on this regard. Probably the most important two reasons why Aurelia has a big competit

[2016-10-06 11:50] bigopon commented on #688
@niieani @EisenbergEffect @nashwaan
I would take it if @nashwaan refused. I struggled so much when trying to add additional tasks into "easy webpack" so I would love to give a hand here.

[2016-10-06 14:19] EisenbergEffect commented on #688
@nashwaan We aren't going to obsolete the CLI. There are too many customers who love it even it its alpha form. Also, there is no standard project setup. There's no standard for that sort of thing and every platform, build system, framework, etc. does it differently. There's literally no common standard we could even try to adhere to.

The problem with webpack is that it's configuration is terribl

[2016-10-06 17:28] niieani commented on #688
Hopefully we can integrate Webpack into the CLI, which will generate "raw" Webpack config files, and perhaps have the choice of easy-webpack as an option only. Webpack was recently working hard at improving the way you configure it, so that's bound to improve. The new Webpack docs are finally what they should've been.

Eventually we want to get rid of skeletons in favor of good generators, which t

[2016-10-06 18:52] nashwaan commented on #688
@EisenbergEffect I agree to your points.  I though webpack will dominate the professional-grade frontend build system for the coming few years by looking at the power of _what_ webpack can achieve (not _how_ to achieve).

Ouch.

@niieani I really love your idea about integrating webpack directly in the CLI. That would definitely add another perspective to the CLI. A huge upvote from me.
Yes, the d

[2016-10-06 18:55] EisenbergEffect commented on #688
Absolutely the plan is to integrate Webpack into the CLI.

On Oct 6, 2016 11:52 AM, "Yousuf" <notifications@github.com> wrote:

[2016-10-07 01:34] EisenbergEffect commented on #637
The system-builder bundler can't bundle anything outside of the base path. @ahmedshuhel Can you confirm this?

[2016-10-07 01:34] #637 closed

[2016-10-07 07:33] jfstephe opened #689 "error TS2307: Cannot find module 'aurelia-router' - document update required"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-typescript
- **Framework Version:**
  1.0.6 (latest)

**Please tell us about your environment:**
- **Operating System:**
  ubuntu docker image on virtual box on windows 10
- **Node Version:**
  6.7.0
- **NPM Version:**
  3.10.3
- **JSPM OR Webpack AND Version**
  JSPM 0.16.46
- **Browser:**
  N/A
- **Language:**
  typeScript

[2016-10-07 10:59] boazblake commented on #688
@nashwaan does the loading animation still work for you with this setup?

[2016-10-07 11:22] stefan-sopic commented on #628
@EisenbergEffect I have this issue using i18next. If I use `import * as i18next` then i get errors in console when running `npm start`

[2016-10-07 13:07] nashwaan commented on #688
Sorry, never tried to do animation with aurelia yet. But maybe @bigopon  can help you as he has [expanded](https://github.com/aurelia/framework/pull/626/files/9c6b5c86af0cc949b6b54aa55ee04e00f44153af?short_path=996ae31#diff-996ae31e3231929c56d9541219cc7e93)  the above setup.

[2016-10-07 13:40] EisenbergEffect commented on #689
@AshleyGrant Can you submit a PR to the docs to include this info?

[2016-10-07 14:00] jasonbiondo commented on #667
Hey guys,

Any update on this issue?  I'd like to be able to start testing a production version of my app asap.

Thanks,

Jason

[2016-10-07 21:26] niieani commented on #667
@jasonbiondo sorry, not yet. November timeline still valid though.

[2016-10-08 15:51] ahmedshuhel commented on #637
It cannot. The resource has to be within `baseUrl`

[2016-10-09 16:02] andlebed opened #691 "Scss require issue in view"
**I'm submitting a feature request**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack 1.0.2

* **Framework Version:**
aurelia-framework 1.0.6

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.6

* **Node Version:**
6.7.0

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.22

* **Browser:**
all

* **Language:**
ESNext

**Current behav

[2016-10-09 19:22] #691 closed

[2016-10-09 20:04] ApRoland commented on #691
Both imports (SASS and SCSS) doesn't work for now, right? what configuration is needed?

[2016-10-09 20:48] bigopon commented on #691
There is a work around for this as you can switch to normal webpack instead of easy webpack and import sass inside javascrpit.

Detail at #626

[2016-10-09 21:57] niieani commented on #691
@bigopon You can import SASS inside JavaScript using Easy Webpack, no problem. Just use `easy-webpack/config-sass`, or add the loader yourself.

[2016-10-09 23:44] bigopon commented on #691
@niieani  I realized my stupidity after hitting send button, deleted that comment.

[2016-10-10 16:06] devhammer opened #692 "Bug: Error Launching Electron executable created with electron-packager"
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-typescript
- **Framework Version:**
  major.minor.patch-pre

**Please tell us about your environment:**
- **Operating System:**
  Windows [10]
- **Node Version:**
  6.6.0
- **NPM Version:**
  3.4.0
- **JSPM OR Webpack AND Version**
  JSPM 0.16.46
- **Browser:**
  n/a
- **Language:**
  TypeScript (ES not tested)

**Current be

[2016-10-10 19:29] EisenbergEffect commented on #692
Thanks @devhammer Any interest in submitting a PR to the readme?

[2016-10-10 19:31] devhammer commented on #692
Absolutely...will do.

[2016-10-10 19:50] devhammer commented on #692
PR #693 created:

https://github.com/aurelia/skeleton-navigation/pull/693

I haven't tried the skeleton-esnext project, but it appears to have the same instructions as skeleton-typescript, so I'm guessing the same issue would arise with packaging if you didn't change "main" to "index.js". Should I do a PR for that README as well, or can someone just merge the change?

[2016-10-11 03:52] jsobell commented on #670
So it appears this "fix" was to lock the version of webpack to an earlier one.
This sort problem followed by "fix" really gives me the sh*ts for two reasons:

1. Anyone updating npm packages hits this issue, even though it's now unrelated to webpack
2. Anyone with an existing system who suddenly experienced this issue looks in the issue list, finds no reference to this problem, and wastes hours tr

[2016-10-11 03:55] EisenbergEffect commented on #670
I've opened it. We will keep it open until there is a real solution.

[2016-10-11 03:56] jsobell commented on #670
Thanks Rob

[2016-10-11 04:05] EisenbergEffect commented on #670
Sometimes we are a bit too eager to close issues ;)

[2016-10-11 14:50] niieani commented on #670
I've closed, perhaps mistakingly, because it's blocked on https://github.com/easy-webpack/core/issues/20. I'll keep it open until that issue is resolved.

[2016-10-11 19:37] stevies commented on #541
Any update on this?

[2016-10-11 19:37] amunology commented on #473
@vaskokj This doesn't work for me. I'm having the exact same issue. Can you share with me more details? I'd like to know where I went wrong. I've followed doktordirk's code and was unable to get my table loaded with bootstrap styling. Any thoughts?

[2016-10-11 19:54] amunology commented on #473
@vaskokj : Okay. Mine wasn't working because I didn't add this line -- "netBs.default();" which I find really odd. Anyway, it works now, although the styling is a bit off.

[2016-10-11 21:06] niieani commented on #670
Additionally, we need https://github.com/webpack/webpack/issues/3123 to be fixed, since webpack-plugin depends on an empty entrypoint being present.

[2016-10-11 21:47] AshleyGrant commented on #541
#519 fixed it. Now it looks like this for `skeleton-esnext`:
![image](https://cloud.githubusercontent.com/assets/9885322/19289168/7b8a0f96-8fd7-11e6-9114-73f1d234e79c.png)

I'm not sure how to run the coverage task on the webpack skeleton.

[2016-10-11 22:01] stevies commented on #541
In the webpack skeleton, run the tests - 'npm test' - that should generate the coverage.

It is set up to only generate JSON - you can change the reporter entry in karma.conf.js to get HTML.

    coverageReporter: {
      reporters: [
        {
          type: 'json',
          subdir: '.',
          file: 'coverage-final.json'
        },
        {
          type: 'html',
          dir: './coverag

[2016-10-11 22:02] AshleyGrant commented on #541
@stevies would you mind copying what you just posted to a new issue? I'm going to close this one as the initial issue has been fixed.

[2016-10-11 22:02] #541 closed

[2016-10-11 22:08] stevies opened #695 "skeleton-esnext-webpack test coverage report html files get put into src folder"
- **Aurelia Skeleton Version**
  skeleton-esnext-webpack

Following on from #541 - there is also a problem with coverage reporting in the skeleton-esnext-webpack.

The webpack skeleton is set up to only generate JSON - but you can change the reporter entry in karma.conf.js to get HTML reports.

[code]

The reports are showing coverage of the transpiled code - not the original source.

Also - I see

[2016-10-11 22:22] niieani commented on #695
The skeleton is setup to generate HTML of the original source via sourcemaps - if it doesn't then something else is broken and please post back. By adding the covertageReporter directly, you started generating coverage from the transpiled files, which is not what you want.

[2016-10-11 22:23] niieani commented on #695
Notice [these lines](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-esnext-webpack/test/karma.conf.js#L51-L58). They are responsible for generating HTML from the JSON generated in the first step.

[2016-10-11 22:26] stevies commented on #695
The only HTML reports I get are dumped into the src folder.  I'll pull down a clean copy of the webpack skeleton and try again in case I have broken something.

[2016-10-11 22:35] stevies commented on #695
Clean copy from:  https://github.com/aurelia/skeleton-navigation/releases/tag/1.0.2

First run - no html report files generated

![image](https://cloud.githubusercontent.com/assets/1218691/19291086/ed70c428-900a-11e6-89b3-ef5b78e10926.png)

2nd run - index.htm file get generated in the coverage folder, but it's broken:

![image](https://cloud.githubusercontent.com/assets/1218691/19291125/2c356e2a-

[2016-10-11 22:45] stevies commented on #695
I am running this on Windows 10.  I think I saw the same problem earlier on Linux - can check that tomorrow.
npm v3.10.7
node v6.7.0

[2016-10-12 11:04] niieani commented on #695
It's probably been introduced by an update to one of the karma dependencies. I'll check it out.

@EisenbergEffect perhaps we should consider locking all dev dependencies to patch versions for the skeletons? It's already a second issue introduced by a 3rd party dependency breaking something in a minor SemVer bump.

[2016-10-12 11:42] ErikSchierboom opened #696 ""npm run build:prod" in skeleton-typescript-webpack fails with error "Cannot find name 'Locator'""
**I'm submitting a bug report**
- **Aurelia Skeleton Version**
  skeleton-typescript-webpack
- **Framework Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 7
- **Node Version:**
  6.7.0
- **NPM Version:**
  3.10.8
- **Webpack Version**
  webpack 2.1.0-beta.22
- **Browser:**
  all
- **Language:**
  TypeScript 2.0

**Current behavior:**

If you use the

[2016-10-12 12:56] ErikSchierboom commented on #631
@niieani If I look at the [package.json](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript/package.json) file, the `gulp-protactor` package is set to version 3.0.0: `"gulp-protractor": "3.0.0",` which uses Protactor version 4 or greater. That means that this issue can be closed, right?

[2016-10-12 13:06] ErikSchierboom opened #697 ""npm test" in skeleton-typescript-webpack fails with error "Error in config file""
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

* **Framework Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.7.0

* **NPM Version:**
3.10.8

* **Webpack Version**
webpack 2.1.0-beta.22

* **Browser:**
all

* **Language:**
TypeScript 2.0

**Current behavior:**

If you use the default

[2016-10-12 13:10] ErikSchierboom commented on #689
@EisenbergEffect if I look at the [documentation](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/setup-jspm/2), it now states that a `jspm install` should be executed before running `gulp watch`. This issue can thus be closed, right?

[2016-10-12 13:48] niieani commented on #631
I think we still might need to tackle updating of the d.ts definition files. I'll assign myself.

[2016-10-12 21:24] Ixonal commented on #628
@EisenbergEffect I've been having this issue (using version 1.0.2 of the nav skeleton), but I think I found the problem, at least in my case. While builds were failing, when running the dev server, TypeScript was complaining about the aurelia-protractor custom typings. It complained that it couldn't find the Locator type and that the declaration of ProtractorBy in the actual protractor package was

[2016-10-12 21:28] EisenbergEffect commented on #628
@AshleyGrant Can you investigate what our best course of action would be for the protractor stuff with respect to TypeScript?

[2016-10-12 21:29] EisenbergEffect commented on #696
@AshleyGrant I referenced you in the other issue. Can you look into an approach for this?

[2016-10-12 22:01] AshleyGrant commented on #696
These issues are regarding the webpack skeletons, so shouldn't @niieani be assigned this?

[2016-10-12 22:02] niieani commented on #696
I think what's happening is that Protractor keeps improving, iterating on their Typings in the patch versions of their app and this started to influence the stubs we have for Protractor in `custom_typings`.

[2016-10-13 09:18] qraynaud commented on #282
@niieani, @EisenbergEffect : if I'm reading the bluebird documentation right (tell me if I'm wrong), this is not exactly what is happening. Bluebird expects promises handler (like then) to return something when a promise is creating during its execution because it is a common mistake.

You just have to return null (or anything else) in those promises to make bluebird be quiet.

For example, on thi

[2016-10-13 09:47] niieani commented on #282
@qraynaud yes, you are correct, this is also what I meant :)

If we do make the change, we should add a comment next to the `return null` explaining why it is there. On the other hand, it does make the code a tiny bit less readable and the gain is rather small and specific to Bluebird. So there are pros and cons of such a decision.

Personally I'd be okay with making the promises in Aurelia return

[2016-10-13 10:07] qraynaud commented on #282
Yeah right. But in the end all handlers don't have to return null. Only those that create promises and return nothing which is a very special use case that is not very common even in aurelia right now (maybe it's the only one left?).

[2016-10-13 11:37] smithaitufe commented on #688
@nashwaan Please I tried to use your suggestion. I got the following error when I ran npm start

[code]

Please what could I have missed

[2016-10-13 11:42] niieani commented on #688
@smithaitufe
[code]

Seems like you already have something else listening on port 8080. Try changing the port of the dev server.

[2016-10-13 11:58] smithaitufe commented on #688
@niieani Thanks a lot for your quick response. I changed the port number and it is working now. I really appreciate.

[2016-10-13 12:05] smithaitufe commented on #688
I know this is not the right place to discuss this issue but I will appreciate if I can be helped from here. I am using the latest skeleton I guess. I was not having this issue in previous versions. When I click on a link to a route, it doesn't load the module rather it throws an error that the module could not be found. But when I refresh or go to my editor to save, which of course causes a reloa

[2016-10-13 17:28] Thanood commented on #688
@smithaitufe Maybe your route link doesn't match a route. But it's really hard to say without seeing it.

[2016-10-13 18:24] bischofb commented on #282
Although a superfluous line of code is not optimal, the benefit of not having the console window being spammed with non-relevant warning messages the entire time the app is running is a pretty big win.

[2016-10-13 19:22] smithaitufe commented on #688
@Thanood Thanks but how do you explain that on page refresh, the module is loaded? I think this issue has to do with the version of aurelia-webpack-loader. I will check the previous versions of skeleton that worked for me and probably downgrade.

[2016-10-13 19:25] devhammer commented on #692
@EisenbergEffect Just wanted to check...anything else you all need from me, aside from the PR?

[2016-10-13 19:31] EisenbergEffect commented on #692
Nope :)

[2016-10-13 19:47] smithaitufe commented on #688
@Thanood Sorry I meant to aurelia-webpack-plugin version 1.1.0. I am not the only one complaining about this. Check out this [link](https://github.com/aurelia/webpack-plugin/issues/30)

[2016-10-13 20:13] Thanood commented on #688
Yes, you're right. I've overlooked that.
If you can track it down to `1.1.0` maybe it's best if you create another issue.

Other than that, no idea, sorry.

[2016-10-14 04:17] EisenbergEffect commented on #697
Ping @niieani

[2016-10-14 10:23] smithaitufe commented on #688
@thanood

I have downgraded it to 1.0.0 beta 4.0.1 but it didn't work. It was throwing error due to Aurelia-validation library. I will create an issue. But do you know the skeleton releases or tag that works with the most recent version of the Aurelia validation library?

[2016-10-14 10:29] Thanood commented on #688
I think I did some validation with `1.0.0` but that's been a while and I didn't find the repo where I did that.

[2016-10-14 16:51] niieani commented on #697
Try running `npm run clean:install`, most probably the dependencies aren't installed properly.

[2016-10-17 04:35] neolivz commented on #696
Workaround:
In package.json change protractor version to "4.0.0"

[2016-10-17 05:30] neolivz commented on #696
Locator is located at
import {Locator} from 'protractor/built/locators'
but that does not look like an ideal solution.

Apart from that index.js/index.d.ts files had the full declaration earlier (build time) now they have import and export declaration which is why` "Export declaration conflicts with exported declaration of 'ProtractorBy'`" message is coming. Not sure how to fix it.

[2016-10-17 15:57] frakevich commented on #696
I took the 1.0.3 release version of the skeleton.  Adding the protractor v 4 to the package file did not help, I started getting many more errors, starting with browser.js.  Being new to this I can't yet contribute to fixing it.  Greatly appreciate any suggestions!
Thank you!

[2016-10-17 18:45] ErikSchierboom commented on #697
@niieani Thanks, that worked! `npm` can be a bit troublesome sometimes..

[2016-10-17 18:45] #697 closed

[2016-10-19 08:42] dinogit commented on #125
Had the same problem, solved by separating css files in templates:
- in app.html added
  <require from="bootstrap/css/bootstrap.css"></require>
  <require from="./styles/main.css"></require>
(main.css is general used css like buttons etc)
- in test.html added
 <require from="./styles/test.css"></require>
 (test.css being css classes used in test.html)

[2016-10-19 13:28] AshleyGrant commented on #125
This is due to a bug in how we load CSS resources. We're currently discussing the best way to handle the bug, as it needs to be handled in a way that won't affect the performance of the framework.

For now though, the recommendation is to load Bootstrap's CSS using a `link` element.

[2016-10-20 10:20] xiwc commented on #661
same question, i can not debug in chrome devtools.

[2016-10-20 10:54] ajoslin103 commented on #661
try this: in your webpack.config.js file:

in the last stanza under

	default:
	case 'development':

change
		require('@easy-webpack/config-env-development')()

to
		require('@easy-webpack/config-env-development')
		({devtool: 'inline-source-map'}),

that worked for me

I just can't imagine why it's not the default

[2016-10-20 11:18] xiwc commented on #661
thanks,works for me.

[2016-10-22 01:50] dsau commented on #696
@frakevich, you don't need to add protractor v4, there is a line under "devDependancies". If you look for protractor, you will see it has '^' leading the version number of 4.0.0, you just need to remove the '^' which will lock it to version 4 exactly, not any version compatible with 4.

Once you do this, run 'npm install' again, the workaround will be in place until the issue is resolved.

[2016-10-22 21:02] frakevich commented on #125
Just to clarify:  I have the setup just like in a message above, in app.html
<template>
  <require from="bootstrap/css/bootstrap.css"></require>
  <require from="../styles/styles.css"></require>
....

I get a loading error for my styles.css file.   Can you please set me straight?
Thank you!

[2016-10-22 23:55] jarzembiak83 commented on #670
Got the same on version 2.1.0-beta.25. Hoping for the fix:)

[2016-10-23 02:54] rainlake commented on #125
You can add CSS as you did without Aurelia. Put in your HEAD

[2016-10-23 16:23] frakevich commented on #125
It worked when I placed the style folder inside the src folder and removed the ../ path from the "require" reference.  A bug or by design?

[2016-10-23 18:19] dinogit commented on #125
@frakevich  It's not a bug. In build folder there are setup for gulp tasks. I have changed my paths and setup that my css is set in src/assets/style, so the path is according to that folder structure.

[2016-10-25 15:13] RomkeVdMeulen opened #702 "Is gulp-plumber still necessary?"
The non-Webpack skeletons all included `gulp-plumber`. gulp-plumber was originally intended [to prevent Gulp streams from halting if errors were emitted](https://gist.github.com/floatdrop/8269868), thus breaking the `watch` task. However, as far as I can tell, Gulp streams no longer have this behaviour (if I create a simple gulp plugin and have it emit errors, the watch task isn't halted). The sam

[2016-10-26 04:02] EisenbergEffect commented on #702
You may be right. @AshleyGrant Can you look into this and see if we still need it or not?

[2016-10-26 14:37] JonKlemm commented on #696
I'm having the same problem as frakevich.  I've removed ^ from protractor so it's just "4.0.0", deleted my node_modules directory and reran npm install but I still get this error.

skeleton-navigation-webpack 1.0.3
node v6.9.1
npm v3.10.8

[2016-10-27 19:11] kingsleyh commented on #628
I'm having this same issue - I've commented out the aurelia-protractor.d.ts contents as a workaround (thanks @Ixonal for suggesting that) but obviously it's not a long term solution. Would be awesome to get this fixed.

[2016-10-28 16:04] logankd opened #703 "Request for a skeleton-typescript-aspnetcore-webpack version"
**I'm submitting a feature request**
Thanks for the skeletons. I started trying to merge skeleton-typescript-aspnetcore and skeleton-typescript-webpack so I could have a skeleton-typescript-aspnetcore-webpack, but got lost in the all the moving pieces and ran out of time. It would be great to have a skeleton-typescript-aspnetcore-webpack version.
- **Aurelia Skeleton Version**
  skeleton-typescrip

[2016-11-02 06:47] madrus commented on #637
I am not sure if this gives some extra insight into the issue. I have had similar errors with both `ESNEXT` and `TypeScript` skeletons after I added `aurelia-materialize-css`. The problem in my case was that I did run `npm install` but did not realize that I had to also run `jspm install -y`. Doing that solved the issue in all cases.

[2016-11-02 12:36] mttmccb commented on #666
Just bumped into this one too, it's fine on macOS but on windows I get the error above, that might help narrow down where it's happening.

[2016-11-02 13:20] mttmccb commented on #666
Here's the npm-debug

[code]

[2016-11-02 15:13] EisenbergEffect commented on #703
We're working to eventually enable the CLI to do this. We've got that tracked. In the mean time, check out the ASP.NET JavaScriptServices project. Microsoft now has a generator that sets up an asp.net webpack project for Aurelia :)

[2016-11-02 15:13] #703 closed

[2016-11-02 15:30] logankd commented on #703
@EisenbergEffect Do you happen to have a link to that information? I'm not finding it through Google/Bing.

[2016-11-02 15:38] EisenbergEffect commented on #703
https://github.com/aspnet/JavaScriptServices

[2016-11-02 15:46] logankd commented on #703
there we go, https://github.com/aspnet/JavaScriptServices/tree/dev/templates/AureliaSpa.

Thank you.

[2016-11-03 06:24] kingsleyh commented on #688
I can't agree more with @nashwaan in terms of easy-webpack. I struggled with easy-webpack for hours to get something so simple as to be able to use an inline image in the src of an image tag. I still could not get it to work and all the docs only give examples of ES6 and react syntax which don't work in Aurelia. The documentation for easy-webpack is non existent - if you want to see what any sub p

[2016-11-03 09:56] niieani commented on #688
@kingsleyh There will be an experimental version of webpack skeleton coming in the next few days that has fixes for over 20 issues related to Webpack support for Aurelia. It will not use Easy-Webpack's config packages.

[2016-11-03 09:58] kingsleyh commented on #688
That would be totally awesome - because I'm still struggling to get my project running :) I'm looking forward to it.

[2016-11-03 11:19] nashwaan commented on #688
@kingsleyh Please ensure that you have checked an improved version of this guide in [here](https://github.com/aurelia/framework/blob/master/doc/article/drafts/manual-webpack-configuration.md) or [here](https://github.com/bigopon/framework/blob/e44fcbd1cfe62a65a4331ae4b7b63e0c833c347e/doc/article/en-US/setup-webpack.md).

[2016-11-03 11:20] nashwaan commented on #688
@niieani That's a really good news. I also wonder when the cli will support webpack.

[2016-11-04 09:35] muka commented on #688
Additionally to @nashwaan instructions,  I had to add `"regenerator-runtime": "^0.9.5",` to `package.json`.

[2016-11-04 13:59] eikaramba commented on #688
I also have some additional remarks for @nashwaan's code:

First some of the webpack code was not ported to webpack 2. Then ALL index.html pages were excluded from the htmlwebpackplugin, i changed it so that only the root index.html is not processed(otherwise you cannot use something like a myapp/users/index.html template).

Be aware in my example i use SCSS and postcss(later currently not taking

[2016-11-05 00:34] niieani commented on #666
Yeah, it seems like a bug of `concurrently`. Could either of you report it there?

[2016-11-06 07:33] bjornna commented on #632
Adding
`<script src="jspm_packages/npm/jquery@2.2.4/dist/jquery.min.js"></script`
above all other scripts just before </body> fixed the problem for me.

The index.html now ends like this:

`

    <script src="jspm_packages/npm/jquery@2.2.4/dist/jquery.min.js"></script
    <script src="jspm_packages/npm/bluebird@3.4.1/js/browser/bluebird.min.js"></script>
    <script src="jspm_packages/system.js"><

[2016-11-07 09:50] xiwc opened #706 "webpack @easy-webpack/config-uglify broken the template html structure"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**

skeleton-esnext-webpack

* **Framework Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows [7|10]

* **Node Version:**
4.4.2

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.17

* **Browser:**
all
* **Language:**
ESNext

**Current behavior:**

when config `Code-

[2016-11-07 12:44] xiwc commented on #706
i have found it  because of: it seems to destroy the HTML template structure.
[code]

[2016-11-07 13:40] xiwc commented on #706
change webpack config like this will work fine, but i still do not know why?

[code]

[2016-11-08 01:30] ohjames commented on #688
I've just converted a project from systemjs to webpack which was a tonne of trouble due to lack of documentation. I also don't like the `@easy-webpack` stuff, abstraction layers can be great when they are documented. An undocumented abstraction layer is another layer of indirection and complication without any win. It made my porting work more time consuming and difficult yet the result is less re

[2016-11-08 01:33] EisenbergEffect commented on #688
There is a new version of our webpack stuff coming soon and some new docs
in the works as well.

On Nov 7, 2016 5:31 PM, "Mr Friend" <notifications@github.com> wrote:

[2016-11-08 02:22] nmyvision commented on #632
This issue might be related to the PR: https://github.com/aurelia/skeleton-navigation/pull/675 .

[2016-11-08 02:26] AshleyGrant commented on #632
@nmyvision they are kinda-sorta related. jQuery and Bootstrap just don't play well in a modular setup, unfortunately.

[2016-11-08 09:35] xiwc commented on #706
## Got the reason
![image](https://cloud.githubusercontent.com/assets/8816203/20093796/35dac7b6-a5d9-11e6-9292-764c9caacc61.png)

## Solution
![image](https://cloud.githubusercontent.com/assets/8816203/20093807/48c01084-a5d9-11e6-8ee1-9ccb68377ed4.png)

[2016-11-08 09:35] #706 closed

[2016-11-08 10:52] samueldjack commented on #696
The conflict comes from a couple of lines in custom_types/aurelia-protractor.d.ts.

When I removed the lines

`  interface ProtractorBy {
    valueBind(bindTarget: string): Locator;
  }`

building was succesful.

[2016-11-08 12:46] niieani commented on #706
Ah, fantastic. Thanks @xiwc !

[2016-11-08 15:02] xiwc commented on #706
your are welcome!

[2016-11-08 21:10] #642 closed

[2016-11-09 04:11] #696 closed

[2016-11-09 04:11] #631 closed

[2016-11-09 14:45] #501 closed

[2016-11-09 16:09] komenixx opened #711 "Unexpected token export in karma tests"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript

* **Framework Version:**
major

* **Operating System:**
Windows 10
* **Node Version:**
5.9.1
* **NPM Version:**
3.7.3
* **JSPM OR Webpack AND Version**
JSPM 0.16.14
* **Language:**
 TypeScript 2.0

**Current behavior:**
unit tests return  "Error: (SystemJS) Unexpected token export" when i use typescript enum or in

[2016-11-09 16:13] AshleyGrant commented on #711
@komenixx please use triple backticks around your code snippets. I've updated your comment to show you how.

I'll look in to the issue for you.

[2016-11-09 16:40] niieani commented on #711
Might be that `typescriptOptions` actually differ from `tsconfig.json`. Might make more sense to just load `tsconfig.json` in that configuration file?

[2016-11-09 16:41] niieani commented on #711
Hold on, what you pasted is invalid TypeScript. `enum`s can only be NUMBERS, not strings.
Closing as invalid.

[2016-11-09 16:41] #711 closed

[2016-11-09 16:42] AshleyGrant commented on #711
Please check this Stack Overflow question for some help: http://stackoverflow.com/questions/15490560/create-an-enum-with-string-values-in-typescript

[2016-11-09 16:44] komenixx commented on #711
Understand, I got it, but what about interfaces? If i import interface file test also return error.

Thank you

[2016-11-09 16:46] AshleyGrant commented on #711
It'll probably be better to ask TypeScript questions on Stack Overflow tagged w/`typescript`.

[2016-11-09 16:46] komenixx commented on #711
Ok. Thank you so much.

[2016-11-10 15:29] svenvandescheur commented on #688
I strongly feel that Aurelia should move to a more "standard" WebPack configuration as multiple user have reported that the "easy" webpack configuration is far from easy.

Webpack may not be perfect, but abstracting it into a fairly unknown blackbox makes most of the documentation of Webpack useless.

Aurelia is a very powerful platform but the distribution and build toolchain need load of simplif

[2016-11-10 18:56] Thanood commented on #688
While I support this effort to demonstrate a "standard" way to produce a webpack app, I'd just like to "salt" the discussion a bit by saying that easy-webpack actually helped me (a complete webpack noob) understand what's going on.

Although I do have some problems now understanding what `WebpackModuleWithMetadata` is and where that metadata actually comes from ( 😉 ) I'm grateful for easy-webpack

[2016-11-10 20:07] niieani commented on #688
I humbly acknowledge all the positive and negative comments about easy-webpack. The new, experimental webpack skeleton will not use easy-webpack in the form that is present today, it will expose all the raw configuration elements, so it's easy both to customize for advanced users, and to get started, for beginners.

[2016-11-11 03:56] lookfirst opened #712 "Skeleton is too much like a kitchen sink"
I'm looking at [this file](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript-webpack/package.json) and the number of 'scripts' feels like it is a bit out of control.

There is cross platform stuff `cross-env`, `easy webpack`, scripts for scripts and commands that are more characters than just running the commands they represent: `"clean:start": "npm start"`.

I'm tryin

[2016-11-11 05:55] irashid25 commented on #712
I agree to a point.

The skeletons need to make it easy to get up and running for new comers but also complex enough so that seasoned pros can see the value in using them.

For me personally, I think the automation code is too complex for the average guy in terms of how it is set up and works.

[2016-11-11 09:57] niieani commented on #712
Skeleton is delete-key friendly. Remove everything you don't need.
That said, this is one of the reasons we'll be integrating webpack support to the aurelia-cli so you can generate only what you need.

[2016-11-11 11:05] stevies opened #713 "No source maps running skeleton esnext webpack in development mode in certain browsers"
**I'm submitting a feature request**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

When running webpack skeleton in development mode, there are no sourcemaps, so code breakpoints or debugger statements don't work.

Old skeleton had
[code]
entries in the webpack.config.js files.  Not sure how to add similar to the new webpack.config.babel.js file to turn on the sourcemaps.

[2016-11-11 11:10] stevies commented on #713
Ah - I see it now:

[code]
should be:
[code]
Turn on source maps for development, not for test.

[2016-11-11 11:16] stevies commented on #695
This appears to be fixed by the latest update to v1.1.1 of the skeleton

[2016-11-11 11:28] lookfirst commented on #712
@niieani I think you should consider [reading this book](https://www.amazon.com/Dont-Make-Me-Think-Usability/dp/0321344758).

[2016-11-11 19:27] niieani commented on #712
@lookfirst Look, I get that there's an UX issue here. I'm very big on UX and usability, see [my statement](https://invent.life).

But you've got to understand, I'm doing this in my free, unpaid time and there really isn't enough time to work on everything. `easy-webpack` was designed exactly for the purpose of improving Developer Experience (and making you _not need as much thinking_! because Webp

[2016-11-11 19:27] #712 closed

[2016-11-11 19:32] niieani commented on #695
Thanks for the update @stevies.

[2016-11-11 19:32] #695 closed

[2016-11-11 19:35] niieani commented on #713
Actually no, the behavior is correct. `inline-source-map` has to be used for `test` because of coverage reporting. Putting `{}` doesn't disable the devtool, just uses the default one (see the related easy-webpack). But it might be that the default sourcemap tool doesn't work in your browser. Both Chrome and FF has an issue with one or another I think, so it's hard to get it working consistently ac

[2016-11-13 17:38] stevies commented on #695
I think I commented too soon - I have new test app based on 1.1.1 skeleton where the problem is still happening - at least on Windows.

[2016-11-13 19:01] stevies commented on #695
Some more observations.

If I have a test for app.js - in top level - eg, leave the skeleton app.spec.js as it is - then this problem where the coverage html files get written to the source folders occurs.  The reason I think I thought it had been fixed is because I commented out the app test because of problems testing anything that loads the validation plugin.

To simplify things, I have have ap

[2016-11-13 23:50] #664 closed

[2016-11-13 23:55] #628 closed

[2016-11-14 00:23] niieani commented on #688
https://github.com/aurelia/skeleton-navigation/pull/714 should close this issue. No more @easy-webpack configs, it's all flat and dandy. We'll need to add more comments to each section, but otherwise, it should be much clearer now. [webpack.config](https://github.com/aurelia/skeleton-navigation/blob/webpack-experimental/skeleton-typescript-webpack-experimental/webpack.config.ts).

Comments are wel

[2016-11-14 15:07] lcustodio opened #715 "Dependency to last version webpack-server-dev breaks the build"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Framework Version:**
1.1.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
7.0.0

* **NPM Version:**
3.10.8

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**

`npm start` crashed

[code]

**Expected/desired behavior:**

* **What is the moti

[2016-11-14 15:07] lcustodio commented on #715
Even webpack faced this problem
https://travis-ci.org/webpack/webpack-dev-server/jobs/172671800

[2016-11-14 18:22] EisenbergEffect commented on #715
Png @niieani

[2016-11-15 02:12] niieani commented on #715
The problem is caused by incompatibility of webpack-server-dev-beta.11 with webpack.beta.25, it needs at least beta.26. Try upgrading both, or locking both to beta.10 and beta.25 respectfully.

[2016-11-15 02:14] niieani commented on #715
We need to do the same (lock versions) for all the skeletons, so I'll keep this open until we do.

[2016-11-15 19:14] JoshMcCullough opened #716 "Potential issue w/Promises in IE11?"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext
skeleton-esnext-aspnetcore
skeleton-esnext-webpack
skeleton-typescript
skeleton-typescript-aspnetcore
skeleton-typescript-webpack

* **Framework Version:**
1.0.0-beta.1.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
5.12.0

* **NPM Version:**
3.10.5

* **JSPM OR

[2016-11-15 19:29] Gheoan commented on #716
`SystemJS` will polyfill both `Promise` and `URLSearchParams` if one of them is missing, so `SystemJS` will override `Promise` if `URLSearchParams` is missing from IE11.

[2016-11-15 19:54] JoshMcCullough commented on #716
I believe that is what is happening.

[2016-11-15 19:54] JoshMcCullough commented on #716
Happy to provide a PR if this seems like a legit change.

[2016-11-16 05:03] EisenbergEffect commented on #716
PRs are welcome. cc @AshleyGrant

[2016-11-16 12:33] apDyn commented on #715
The workaround is still quite unclear.
I'm trying to run the skeleton with the following locked webpack versions under devDependencies in package.json:
"webpack": "2.1.0-beta.25",
"webpack-dev-server": "2.1.0-beta.10"
and still get the following error:
 http://localhost:9000/
webpack result is served from /                          3490ms building modules 3ms add1ms69ms 106ms asset19ms emitting
ev

[2016-11-16 13:12] niieani commented on #715
Strange that you'd get this error. I'll try and test this today.

[2016-11-16 14:11] #715 closed

[2016-11-16 16:12] lcustodio commented on #715
Hi @niieani, this is quite strange, but I'm getting this on npm install:

[code]

Even npm saying that the last version is 2.1.6. Does it works in your end?

[2016-11-16 16:17] niieani commented on #715
@lcustodio probably a problem with NPM caching, sometimes new versions don't propagate on their CDN as they should. Try in a few hours, should work then.

[2016-11-16 16:53] lcustodio opened #718 "npm run build:prod compatibility problem with last version webpack"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Framework Version:**
1.1.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
7.0.0

* **NPM Version:**
3.10.8

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**

`npm run build:prod` fires many warnings related to DedupePlugin being deprecated

[2016-11-16 16:59] niieani commented on #718
This was fixes in easy-webpack few minutes ago, please run `npm update`.

[2016-11-16 16:59] #718 closed

[2016-11-16 17:31] lcustodio commented on #718
Awesome! It's working nicely.

[2016-11-17 09:59] apDyn opened #719 "Unable to run the project using 'npm start'"
[console_output.txt](https://github.com/aurelia/skeleton-navigation/files/597040/console_output.txt)
**I'm submitting a bug report**
After changing the package json according to the webpack commit fix: cb30c757f22e359519968410f2fdac1cc7386ce7

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Framework Version:**
see in the included package.json

* **Operating System:**
Windows 10

* **N

[2016-11-17 10:50] niieani commented on #719
Did you try removing node_modules and npm installing again? The CI builds successfully, so there's no reason for any such error to be present.

[2016-11-17 10:52] apDyn commented on #719
Yes, I did that.
Still same issue

On Thu, Nov 17, 2016 at 12:50 PM +0200, "Bazyli Brzóska" <notifications@github.com<mailto:notifications@github.com>> wrote:

Did you try removing node_modules and npm installing again? The CI builds successfully, so there's no reason for any such error to be present.

-
You are receiving this because you authored the thread.
Reply to this email directly, view it

[2016-11-17 11:15] niieani commented on #719
OK, I'm restarting the Windows-based CI to see if we can reproduce this error, maybe there was a breaking change in one of the dependencies. You can track https://ci.appveyor.com/project/niieani/skeleton-navigation/build/1.0.19.

[2016-11-17 11:43] apDyn commented on #719
Did review the test. However still fails to run in my local env. with the socket closed error.
Plain and simple I just followed the steps in the doc hub, with the exception of the skeleton project being downloaded straight from github with the latest commit.
Then ran:
npm install
After completion:
npm start
And keep getting the same socket closed error. I've reviewed the open ports on the machine,

[2016-11-17 11:47] apDyn commented on #719
bundling throws an error as well (npm run build). I've attached the console output.
[bundling.txt](https://github.com/aurelia/skeleton-navigation/files/597221/bundling.txt)

[2016-11-17 11:58] niieani commented on #719
I'm not sure where to start debugging, it looks like there is some unhandled Promise rejection coming from bluebird. Can you add:

[code]

To your webpack.config.js file and see if the output is any different?

@VitProg are you also experiencing this problem? (I see you upvoted it)

[2016-11-17 12:06] apDyn commented on #719
After adding the statement to webpack.config.babel.js npm start hangs.
I've attached the output.

[console2.txt](https://github.com/aurelia/skeleton-navigation/files/597264/console2.txt)

[2016-11-17 12:12] VitProg commented on #719
@niieani
Yes. I also have a problem with the launch.

[builderror.txt](https://github.com/aurelia/skeleton-navigation/files/597282/builderror.txt)

[2016-11-17 12:23] apDyn commented on #719
@VitProg seems like you've already got some service running on port 9000

throw er; // Unhandled 'error' event
      ^
Error: listen EADDRINUSE 127.0.0.1:9000

[2016-11-17 12:31] niieani commented on #719
@apDyn seems like a problem with accessing/writing the files, perhaps permissions or something like it?:

[code]

Can you try commenting out `copyFiles` config part from the webpack.config and see if that helps?

[2016-11-17 13:03] apDyn commented on #719
same thing :-(

[2016-11-17 14:51] smithaitufe commented on #719
I just downloaded the skeleton-esnext-webpack. I did npm install and npm start. It worked great. Then I copied my codes from the previous project to this skeleton. It refused to work. Rather it is complaining about `Object.assign({}, this.entity, {...response})`.

[code]
Thanks for your assistance

[2016-11-17 18:30] niieani commented on #719
@smithaitufe I think `{...object}` syntax is not in the babel preset, seems to me you need to install/configure the appropriate babel preset/plugin for that.

[2016-11-18 06:33] EisenbergEffect commented on #719
Closing as question. We can continue to assist the OP here if needed afterwards.

[2016-11-18 06:33] #719 closed

[2016-11-18 13:11] apDyn commented on #719
Some very weird windows permissions issue, happening only in my env.
Workaround: run npm commands from the git bash, as running npm through windows command prompt or powershell denies writes to the network sockets

[2016-11-19 17:32] EisenbergEffect commented on #702
I think we still need it.

[2016-11-19 17:32] #702 closed

[2016-11-24 10:31] NorbertBusch opened #720 "npm start fails"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack
probably other skeletons are also effekted

* **Framework Version:**
1.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
webpack@2.1.0-beta.25

* **Browser:**
all

* **Language:**
TypeSc

[2016-11-24 10:37] NorbertBusch commented on #720
Sorry clicked wrong button when attaching the file.

Expected behavior is:

mentioned warining in npm install isn't there and npm start works without errors

my current solution is to change line 133 in package.json to use a webpack version from 2.1.0-beta.25 by changing it to '   "webpack": "^2.1.0-beta.25",

[npm-debug.zip](https://github.com/aurelia/skeleton-navigation/files/611048/npm-debug.zi

[2016-11-24 11:15] niieani commented on #720
Yes, this was already fixed but not released. Just pull the skeleton from GitHub (and yes, I know this is not what we recommend).

 (@EisenbergEffect when's the next release round?)

[2016-11-24 11:15] niieani commented on #720
Actually, I'll keep this open until we release.

[2016-11-25 15:38] stefan-sopic commented on #720
Hi, I copied latest skeleton files into my project (package.json, tsconfig.json, tsconfig.tsnode.json and webpack.conf.js) did fresh npm install (no errors) and after npm start i get this error:
[code]

[2016-11-25 16:31] niieani commented on #720
@stefan-sopic you need the webpack.config to be called webpack.config.babel.js for it to get transpiled before start. Just see the skeleton.

[2016-11-26 16:28] atsu85 commented on #702
@EisenbergEffect, could you explain why it is still needed?

[2016-11-26 18:39] akshayKhot opened #721 ".ts files show up empty is aspnet-typescript skeleton"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-aspnetcore

* **Framework Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
4.2.6

* **NPM Version:**
3.10.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.48

* **Browser:**
Chrome

* **Language:**
TypeScript 2

**Current behavior:**
I

[2016-11-27 21:03] EisenbergEffect commented on #721
@AshleyGrant Know anything about this?

[2016-11-28 06:55] #716 closed

[2016-11-28 09:21] stefan-sopic commented on #720
@niieani this is the error in skeleton-typescript-webpack and there is no *.babel.js in that skeleton.

[2016-11-28 15:23] niieani commented on #720
@stefan-sopic but there is: https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-esnext-webpack/webpack.config.babel.js
TypeScript version uses webpack.config.**ts**.

[2016-11-28 16:32] #674 closed

[2016-11-28 16:52] kingsleyh commented on #688
Hi - I grabbed the skeleton-typescript-webpack-experimental and tried to run npm install and then npm start - however it complains of the following warnings:

    npm WARN ts-jest@17.0.0 requires a peer of typescript@~2.0.6 but none was installed.
    npm WARN webpack-dev-server@2.1.0-beta.12 requires a peer of webpack@^2.1.0-beta.26 but none was installed.

consequently the dev-server won't start

[2016-11-28 16:56] niieani commented on #688
Hi @kingsleyh skeleton-typescript-webpack-experimental is not yet released. Right now it won't work without manually building and linking its dependencies, because they were not merged and released yet.

[2016-11-28 16:59] kingsleyh commented on #688
Hi - oh I See - so then where is the typescript webapack skeleton I should be trying out that does not use easy-webpack?

[2016-11-28 17:00] niieani commented on #688
@kingsleyh not there yet. Hang in there for a couple more days.

[2016-11-28 17:02] kingsleyh commented on #688
ok - thanks I'll check back in a few days then.

[2016-11-28 20:11] AshleyGrant commented on #721
I'll look in to it.

[2016-11-29 03:37] mattgaspar commented on #719
FYI - The webpack error (from console_output.txt in the first post) was caused by a bug in NodeJS 7.1.0 on Windows.  It was fixed last week in version 7.2.0
https://github.com/nodejs/node/issues/9542

[2016-11-29 08:40] fracz opened #723 "skeleton-typescript - invalid configuration of extension in gulp-changed plugin?"
According to the [docs](https://www.npmjs.com/package/gulp-changed#extension), the `extension` parameter should indicate the extension of destination files. In the example given there, when the task compiles `.jade` files into `.html`, the `extension` should be set to `.html`.

Why do you configure the extension to `.ts` instead of `.js` in the [`build-system`](https://github.com/aurelia/skeleton-

[2016-11-29 14:37] fredrikoe opened #724 "Can't run production build without installing devDependencies"
**I'm submitting a feature request**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Framework Version:**
1.1.1

* **Operating System:**
OSX 10.11.6

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **Language:**
ESNext

**Current behavior:**

I'd like to deploy an application based on skeleton-esnext-webpack to Heroku. In order for that to work I need to be able to create a pr

[2016-11-29 17:08] JoshuaVSherman commented on #724
I agree. I keep facing this same issue. The only work around is to push all
of the Node_Modules to Heroku
Please fix this in the next version of skeleton, webpack, esnext

On Tue, Nov 29, 2016 at 9:37 AM, Fredrik Östling <notifications@github.com>
wrote:

--
Josh Sherman
www.joshandmariamusic.com

[2016-11-29 18:19] niieani commented on #724
Guys, building is not supposed to work when no dev-dependencies are installed! What else would devDependencies be there for? All of those devDependencies are build tools, nothing else. That's what they are for. Normal `dependencies` should only include those that are to be loaded on the **client** (in the browser).

If you want to quickly deploy in a CI, make a Docker image with all the dependenci

[2016-11-29 18:19] #724 closed

[2016-12-01 04:43] EisenbergEffect commented on #723
@AshleyGrant Can you address this?

[2016-12-01 16:18] rajajhansi commented on #688
@niieani I found easy-webpack very helpful because it abstracted the complexities of webpack. If there is a way to use standard webpack.config.js without that abstraction and that's what the community is leaning towards, I think it is a great idea to to move towards that with the experimental-skeleton. With the current master branch, source maps are again going off by a line or two causing major a

[2016-12-01 16:24] stefan-sopic opened #725 "typescript-webpack using sass doesn't work"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

* **Framework Version:**
master

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
6.2.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.17

* **Browser:**
all

* **Language:**
TypeScript X.X

**Current behavior:**

So i added

[2016-12-01 18:11] niieani commented on #719
Thanks for investigating @mattgaspar.

[2016-12-02 12:28] LachlanHogan commented on #720
After using the above fix of installing beta.25, I am still getting the Unexpected token import error. Any current fix for this? (ESNext already comes with webpack.config.babel.js)

[2016-12-02 13:02] niieani commented on #720
@LachlanHogan please see if you have all the dependencies present in the last skeleton.

[2016-12-02 13:05] LachlanHogan commented on #720
@niieani That was using the latest skeleton from master. Unsure of how to pull from a public repo if that is necessary

[2016-12-03 16:49] sivamamidi-REISys opened #726 "typescript-webpack production build doesn't work"
I'm submitting a bug report

    Aurelia Skeleton Version
    skeleton-typescript-webpack

    Framework Version:
    master

Please tell us about your environment:

    Operating System:
    Windwos 10

    Node Version:
    6.9.1

    NPM Version:
    3.10.8

    JSPM OR Webpack AND Version
    webpack 2.1.0-beta.27

    Browser:
    all

    Language:
    TypeScript 2.1.1

Current behavior:
npm

[2016-12-03 18:10] matdar commented on #720
I'm also hitting this problem with the skeleton-esnext-webpack as of today with webpack@2.1.0-beta.27:

import { generateConfig, get, stripMetadata, EasyWebpackConfig } from '@easy-webpack/core';
^^^^^^
SyntaxError: Unexpected token import
    at Object.exports.runInThisContext (vm.js:76:16)
    at Module._compile (module.js:542:28)
    at loader (/webpack-master/node_modules/babel-register/lib/no

[2016-12-03 19:18] ryandegruyter commented on #726
I'm getting this with dev environment too (npm start).

[2016-12-03 23:46] EisenbergEffect commented on #725
Ping @niieani

[2016-12-03 23:53] EisenbergEffect commented on #726
The readme begs people not to use the master but to use the officially released versions instead. We are in the process of pushing out major changes to the webpack skeletons over the next week.

[2016-12-03 23:53] #726 closed

[2016-12-04 00:00] niieani commented on #725
You're probably using an outdated @easy-webpack/config-aurelia module. Upgrade to the latest major version and the problem should go away. It's due to latest changes in webpack beta.

[2016-12-04 00:00] #725 closed

[2016-12-05 05:17] edaloicaro18 opened #729 "skeleton-esnext-webpack : webpack.validateSchema is not a function"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Framework Version:**
1.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
6.9.1

* **NPM Version:**
4.0.3

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.25

* **Browser:**
Chrome 54

* **Language:**
ESNext

**Current behavior:**

As stated in the

[2016-12-05 11:31] AdamWillden commented on #721
I'm having the same issue @AshleyGrant

@akshayKhot have you found a fix?

[2016-12-05 11:58] AdamWillden commented on #721
Ah, I think the issue is specific to the aspnetcore project. The reason is the `src` folder is not accessible by URL because it is hosted from the `wwwroot` folder.

https://github.com/aurelia/skeleton-navigation/blob/d17bc9797c1ffa2746dcefb99100c0b900a00f98/skeleton-esnext-aspnetcore/src/skeleton/build/tasks/build.js#L24

This line set `includeContent: false` therefore requiring a `sourceRoot` op

[2016-12-05 15:26] akshayKhot commented on #721
@AdamWillden I switched to using Aurelia CLI for typescript, and it works fine. Thanks for the fix btw!

[2016-12-07 07:02] EisenbergEffect commented on #729
Ping @niieani

[2016-12-08 08:59] younesouhbi commented on #125
Is this still an issue or am I doing something wrong?

<require from="bootstrap/css/bootstrap.css"></require>
<require from="styles/main.css"></require>

The requires above still produce mixed results, 9 times out of 10, Bootstrap load lasts and overrides the styles.

@rainlake So remove it from the vendor bundle and put it somewhere inside src?

[2016-12-08 10:34] kingsleyh commented on #720
I had an issue with versions and fixed by doing:

        "webpack": "2.1.0-beta.26",
        "webpack-dev-server": "2.1.0-beta.12"

[2016-12-08 10:41] coderabsolute opened #730 "subfolders in src file"
How to have the sub-folders in the src file and have that included in the gulp file?

[2016-12-08 13:16] AshleyGrant commented on #730
Subfolders are automatically included.

Also, please direct support questions to Stack Overflow as directed in the issue template.

[2016-12-08 13:16] #730 closed

[2016-12-08 15:20] vangelis-b commented on #632
I'm getting the same error in skeleton-typescript-aspnetcore but adding jquery to the Index.cshtml file doesn't fix the problem. Can you think of any reasons why?
![screenshot](https://cloud.githubusercontent.com/assets/5622400/21015388/aea35536-bd59-11e6-8989-b139391c1f0b.png)

[2016-12-08 19:03] httpvpn commented on #125
Files loaded by require is asynchronous, I do not have to give any sample repo. Load sequence is important for CSS files.

[2016-12-09 02:34] coderabsolute commented on #730
Sure! After posting the question over here, I did manage to solve it, sub-folders are included but I wasn't referring to it properly. Thanks!

[2016-12-09 04:58] neolivz opened #731 "Typescript version 2.1.4 (^2.1) is making the build failure while 2.1.1 is working fine"
When using 2.1.4 I am getting multiple similar issues
[code]
While changing it back 2.1.1 it works fine.

[2016-12-09 04:58] neolivz commented on #731
I was using skeleton-typescript-webpack build

[2016-12-09 13:39] gitKearney commented on #729
I too am having this issue using the _skeleton-navigation-1.1.1/skeleton-esnext-webpack/_

[code]

[2016-12-09 16:25] #731 closed

[2016-12-09 16:27] ralexand56 commented on #729
Is there any workaround for this? I have projects to work on.

[2016-12-09 17:43] fabioluz commented on #729
It seems to be a webpack bug. Here's a temporary solution:

Use the following versions of webpack and webpack-dev-server in package.json:

[code]

HMR doesn't work though

[2016-12-09 17:56] PWKad commented on #729
[code]
and then set typescript to `2.0.10` in package.json for now fixes it for me.

[2016-12-09 18:07] ralexand56 commented on #729
Seeing some progress but seeing Cannot read property 'exclude' of undefined

[2016-12-09 18:16] PWKad commented on #654
This is fixed already in above PR

[2016-12-09 18:16] #654 closed

[2016-12-09 18:21] PWKad commented on #659
You can move the bootstrap styles to the `index.html` page like we do with font-awesome.  When you update bootstrap you'll need to update to also update the version in index.html, but I think this is normal.  The intention of loading bootstrap elsewhere is more to show off that you can, not to necessarily lock the developer in to doing so.  Let's close this as it's not really a bug.

[2016-12-09 18:21] #659 closed

[2016-12-09 18:24] PWKad commented on #635
We can make this a feature request to pipe errors to the console to make it actionable, else the solution is do not use invalid html :)

[2016-12-09 18:33] PWKad commented on #635
Actually I can't reproduce this at the moment.  htmlmin still seems to build...

[2016-12-09 18:41] PWKad commented on #589
Being this was from so long ago and anyone still using the old set up is not going to benefit much from this I vote to close @niieani

[2016-12-09 18:48] PWKad commented on #421
`dnx` switched to `dotnet` so verifying everything still works and I'll pr doc update / fix

[2016-12-09 19:01] PWKad commented on #632
https://github.com/jspm/registry/blob/master/package-overrides/github/twbs/bootstrap%403.3.7.json

That override should fix the issue, I'll try removing bootstrap and installing again and make sure the override is used

[2016-12-09 20:32] PWKad commented on #729
@ralexand56 specify typescript version like I do in that pr

[2016-12-09 22:40] xdvarpunen opened #739 "skeleton-esnext utilizes JSPM with Gulp, why not JSPM alone?"
Hi,

Why do you use Gulp with JSPM and not JSPM alone in for instance skeleton-esnext project? I didn't find information online about Gulp needs along JSPM so please enlighten me (:

-XDVarpunen

[2016-12-10 00:15] PWKad commented on #739
GitHub issues are usually reserved for bugs or feature requests, JSPM is a package manager, not a task runner (which gulp is) so both tools are currently used.  You can replace either with the package manager or build tooling of your choice if it fits your project better.

[2016-12-10 00:15] #739 closed

[2016-12-10 00:42] xdvarpunen commented on #739
This question was about skeleton project, there is no documentation why you use Gulp with JSPM. Isn't JSPM enough? (:

[2016-12-10 00:43] PWKad commented on #739
No as described above jspm is not a task runner

[2016-12-10 00:46] xdvarpunen commented on #739
Okey, maybe I understood it now:

- webpack includes task runner / can run certain tasks and utilizes npm as package manager
- jspm is package manager and gulp complements the task runner part

Did I get it right? (:

[2016-12-10 00:48] PWKad commented on #739
No the webpack skeleton uses npm to run commands not webpack.

[2016-12-10 00:49] xdvarpunen commented on #739
Now I got it, thank you very much! (:

[2016-12-10 00:57] niieani commented on #589
OK

[2016-12-10 00:57] #589 closed

[2016-12-10 13:39] niieani commented on #729
Hey, sorry about that. `master` is fixed now and we're waiting for new skeleton releases to be made by @EisenbergEffect.

[2016-12-11 11:30] sysanin opened #740 "Typescript-webpack - chrome debugger highlights the wrong lines"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

* **Framework Version:**
1.0.7

**Please tell us about your environment:**
Windows 7

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.2

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.27

* **Browser:**
Chrome 55

* **Language:**
TypeScript 2.1.4

**Current behavior:**
Chrome devtools

**Expected/

[2016-12-11 15:06] niieani commented on #740
Thanks for the report. A fix is coming in #714.

[2016-12-12 07:15] rayalan commented on #348
FWIW, I hit this upgrading my Aurelia packages (mostly from 1.0 to 1.1. `npm dedupe` didn't improve the problem at all, but a more aggressive `rm -r node_modules/; npm install` cleared it up.

[2016-12-12 12:13] jctual opened #741 "skeleton-typescript-webpack npm start fails"
With skeleton-typescript-webpack, I got an error during npm start.

What is going wrong ?

C:\node\skeleton-navigation\skeleton-typescript-webpack>npm start

Project is running at http://localhost:9000/
webpack output is served from /
404s will fallback to /index.html
 10% building modules 4/29 modules 25 active ...s\webpack-dev-server\client\socket.js[at-loader] Please install "CheckerPlugin" fro

[2016-12-12 14:04] bwolkerstorfer commented on #741
I resolved the issue by loading the plugin manually.

Added the following line after the import from `@easy-webpack/core`
[code]

and added the plugin in my configuration in the `plugins` section in my webpack configuration:

[code]

After that everything seems to run through properly again. But I still think that there is an adjustment missing in easy-webpack missing for the new version of awesom

[2016-12-12 14:23] jctual commented on #741
I just found a solution by modifying webpack.config.ts:
adding at beginning:

const { CheckerPlugin } = require('awesome-typescript-loader')

and adding a plugin entry in config:

let config = generateConfig(
  {
    entry: {
      'app': ['./src/main' /* this is filled by the aurelia-webpack-plugin */],
      'aurelia-bootstrap': coreBundles.bootstrap,
      'aurelia': coreBundles.aurelia.filter(

[2016-12-12 15:07] jctual commented on #741
@ bwolkerstorfer thanks
sorry I missed you reply before commenting

[2016-12-12 16:00] #684 closed

[2016-12-12 16:00] #635 closed

[2016-12-12 16:00] #421 closed

[2016-12-12 16:01] #663 closed

[2016-12-12 17:37] robgallen opened #742 "skeleton-esnext-webpack: npm install fails"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Framework Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
Not installed (errors before installing)

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
`npm

[2016-12-12 17:38] robgallen commented on #742
Attached npm debug log.
[Uploading npm-debug.txt…]()

[2016-12-12 17:51] robgallen commented on #742
We use McAfee at work... could well be messing things up.
https://alastaircrabtree.com/fixing-intermittant-eperm-operation-not-permitted-on-npm-install/
Will investigate in the morning.

[2016-12-12 21:47] EisenbergEffect commented on #741
Ping @niieani

[2016-12-12 21:52] EisenbergEffect commented on #742
Please let us know. cc @niieani

[2016-12-12 22:30] niieani commented on #741
Fixed by https://github.com/easy-webpack/config-typescript/commit/b74a32998fb2b0b549598d6d9d6efc49a0a4f2f6

Thanks for reporting.

[2016-12-12 22:30] niieani commented on #742
Fixed by https://github.com/easy-webpack/config-typescript/commit/b74a32998fb2b0b549598d6d9d6efc49a0a4f2f6

Thanks for reporting.

[2016-12-12 22:44] mikeesouth opened #743 "@inject on base class breaks inheritance to custom elements"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

* **Framework Version:**
1.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.5.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.27

* **Browser:**
Chrome 54

* **Language:**
TypeScript 2.1.4

**Current behavior:**
I'm

[2016-12-13 00:07] AshleyGrant commented on #743
The Dependency Injection provider does not support inheritance like you are trying to do. The Aurelia team's recommendation is that you utilize composition instead of inheritance.

[2016-12-13 00:07] #743 closed

[2016-12-13 05:32] #474 closed

[2016-12-13 05:33] #606 closed

[2016-12-13 06:28] niieani commented on #742
The CI is passing on this one, so it must be McAfee getting in the way of this.

[2016-12-13 06:28] #742 closed

[2016-12-13 06:28] niieani commented on #741
I see CI is still failing on this one. I'll have to look into it again.

[2016-12-13 13:04] krostkowski opened #745 "Import 'moment' module, different behaviour for tests"
Hello,

I'm using moment in my app using:
[code]

When I run the app, moment is a function, so i can call e.g. moment("20111031", "YYYYMMDD").fromNow();
When I run tests (gulp test) moment is an object and cannot be called.

I reproduced the scenario in a simple commit on skeleton fork:
https://github.com/krostkowski/skeleton-navigation/commit/cd08487a4293064f3c9b48a896378140153e0650

Why is that

[2016-12-13 14:59] jctual opened #746 "'npm start' fails in an application based on skeleton-typescript-webpack"
**I'm submitting a bug report**
I move an existing application that was working well with CLI to webpack by using skeleton-typescript-webpack.
(The target is es6, since I am using generators).

During npm start I got a lot of errors. (see below);
This seems related to json files.

Any hint will be welcome.

* **Aurelia Skeleton Version**

skeleton-typescript-webpack

* **Framework Version:**
major

[2016-12-13 15:11] jctual commented on #746
Just additional information:
the application starts correctly.
But I got error messages in the browser console
(sorry for the formatting, I don'know yet how to manage this)

 ./~/awesome-typescript-loader/package.json
Module parse failed: /home/map/node/openpublictransport/client/node_modules/awesome-typescript-loader/package.json Unexpected token (2:9)
You may need an appropriate loader to handle

[2016-12-13 17:45] bfil commented on #606
@EisenbergEffect has this been fixed? if so, any details on what needs to be changed to make this play nicely? Thanks

[2016-12-13 19:18] gbaldeck commented on #746
While I don't see the error I was getting in your stack trace, take a look at this pull request I made last night:
https://github.com/aurelia/skeleton-navigation/pull/744

That change is required in the skeleton right now for it to work. Once this change [easy-webpack/config-typescript@b74a329](https://github.com/easy-webpack/config-typescript/commit/b74a32998fb2b0b549598d6d9d6efc49a0a4f2f6) is pu

[2016-12-13 20:12] jctual commented on #746
I already added CheckerPlugin, this allows the skeleton example to run.
But I still have errors in my application during npm start

like this warning

WARNING in awesome-typescript-loader/dist/helpers.js
94:19 Critical dependency: the request of a dependency is an expression

and like this error

ERROR in awesome-typescript-loader/package.json
Module parse failed: /home/map/node/openpublictranspor

[2016-12-13 21:36] niieani commented on #746
I'm running an updated CI now, hopefully this is fixed now.

[2016-12-13 21:45] niieani commented on #741
Fixed now. Please run `npm update`.

[2016-12-13 21:45] #741 closed

[2016-12-13 21:45] niieani commented on #746
Fixed now, please run `npm update`.

[2016-12-13 21:45] #746 closed

[2016-12-13 22:26] jods4 opened #747 "webpack-experimental: unnecessary aurelia.build.resources"
Context: I am building a bare minimal webpack build that is significantly trimmed down from the current PR and I'm having some difficulties because of a few bad `aurelia.build.resources`.

**Why do aurelia modules without dynamic dependencies have `aurelia.build.resources` in their `package.json`**, in particular when they are AMD packages and the resources are incorrect/bad?

I understand that `a

[2016-12-13 22:28] Ryuno-Ki commented on #746
@jctual Your code gets way more readable if you would [put it into code fences](https://help.github.com/articles/creating-and-highlighting-code-blocks/).

[2016-12-14 03:53] jctual commented on #746
After npm update, I still got warnings and errors during npm start
But the applications works.

[code]

Le 13/12/2016 à 22:45, Bazyli Brzóska a écrit :

[2016-12-14 17:27] istrau2 opened #748 "uglify task is broken in es-next-webpack"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Framework Version:**
1.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows10

* **Node Version:**
6..9.1

* **NPM Version:**
4.0.3

* **JSPM OR Webpack AND Version**
2.1.0-beta.27

* **Browser:**
N/A

* **Language:**
ESNext

**Current behavior:**
build:prod task is erroring out

[2016-12-14 20:01] niieani commented on #747
`aurelia.build.resources` will not be necessary in package.json of said packages when they all start using the new `PLATFORM.moduleName` API for all the dynamic dependencies.
I know `aurelia-templating-resources` does have dynamic dependencies, so we needed the build resources there, for now.

[2016-12-14 21:02] niieani commented on #746
@jctual that's really odd, not sure why your code seems to be including the typescript-loader.
Which OS are you using?

[2016-12-14 21:02] niieani commented on #746
@jctual that's really odd, not sure why your code seems to be including the typescript-loader.
Which OS are you using?

[2016-12-14 21:37] jctual commented on #746
My OS is Linux/Ubuntu.
i will try on windows.

Le 14/12/2016 à 22:02, Bazyli Brzóska a écrit :

[2016-12-14 21:52] jctual commented on #746
You are right: I had aurelia-loader in the dependencies.
I removed it and it works !

Thanks a lot.
Congratulation for your work on webpack.

Le 14/12/2016 à 22:02, Bazyli Brzóska a écrit :

[2016-12-15 02:33] EisenbergEffect commented on #745
@AshleyGrant Can you look into this? The above syntax should work everywhere. It is the correct syntax.

[2016-12-15 02:40] #747 closed

[2016-12-15 02:42] EisenbergEffect commented on #748
Ping @niieani

[2016-12-15 03:00] AshleyGrant commented on #745
Sure thing

[2016-12-15 09:34] jctual commented on #748
I have a similar problem with skeleton-typescript-webpack.
**I am targeting es6.**
I got into similar errors during npm run build:prod
[code]
As explained here: http://www.jbrantly.com/es6-modules-with-typescript-and-webpack/
I modified webpack-config by adding
[code]
but errors are still there.
This does not prevent the application to run.

[2016-12-15 12:22] nmocruz opened #749 "Proposal to use aspnet middleware with webpack"
Not sure if it's possible, but because aspnet now has some middleware to work with webpack and hmr it will be nice to have asp + webpack templates using that instead of serving some part with aspnet and other with node and webpack server

[2016-12-19 18:44] lstroud commented on #720
+1

Had this same issue with the master branch for skeleton-esnext-webpack today.

Env:
MacOS 10.12
node v6.4.0
npm  v3.10.3

"webpack": "2.1.0-beta.27",
"webpack-dev-server": "2.1.0-beta.12"

Here's the error:
`webpack.config.babel.js:5
import { generateConfig, get, stripMetadata, EasyWebpackConfig } from '@easy-webpack/core';
^^^^^^
SyntaxError: Unexpected token import
    at Object.exports.runI

[2016-12-21 07:07] jadhavajay opened #750 "Skeleton with Node.js back-end"
**I'm submitting a feature request**

Just like the below existing skeletons with **aspnetcore back-end**, can we have a **Node.js back-end** skeleton? Many customers want to use Node.js as a back-end with Aurelia.

* **Existing**
skeleton-esnext-aspnetcore
skeleton-typescript-aspnetcore

* **Proposed**
skeleton-esnext-nodejs
skeleton-typescript-nodejs

* **Node Version:**
=>6.x

* **Language:**
T

[2016-12-21 15:15] AmitM30 commented on #748
Doesn't work for me too. any suggestions ?

[2016-12-21 16:29] istrau2 commented on #748
Oh woops, I forgot to post the solution:

just `npm install babel-plugin-transform-object-rest-spread --save-dev`

and add `"transform-object-rest-spread"` to the .babelrc

[2016-12-22 10:09] msamoylov opened #752 "SyntaxError: Unexpected token import"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Framework Version:**
1.0.7

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.2

* **Node Version:**
v7.3.0

* **NPM Version:**
4.1.1

* **Webpack Version**
webpack 2.1.0-beta.27

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Running `npm start` throws an exce

[2016-12-22 16:57] rajajhansi commented on #688
@niieani, @EisenbergEffect  , Could you please provide an update on the future of aurelia-webpack-skeleton and easy-webpack? We started our project with an older version of this skeleton project. While I like the idea of Aurelia trying to support require.js via aurelia CLI and webpack using the skeleton projects, it causes lot of issues because the direction is unclear. If you guys have decided to

[2016-12-22 17:28] EisenbergEffect commented on #688
We are going to support webpack, require.js and system.js. We're currently working on an improved webpack setup. That's being done in a skeleton project. Once that is ready to go, we'll merge that into the CLI so that you can use the CLI to create either a webpack setup of a require.js setup. Eventually, we'll also add system.js support to the CLI as well.

We have a very diverse community, so we

[2016-12-23 03:53] EisenbergEffect commented on #749
Check out the ASP.NET JavaSciptServices project. We have an official Aurelia setup from Microsoft.

[2016-12-23 03:53] #749 closed

[2016-12-23 16:10] nmocruz commented on #749
@EisenbergEffect  I know, I was trying to use that. I don't much have experience with webpack, and I was trying to make the ASP.NET JavaSciptServices, work with HMR, but without success.
I dont see a good example how to update they project, and have it working well

[2016-12-23 17:45] don-bluelinegrid commented on #720
@niieani

Bazyli,

I have migrated our project from the original version of the skeleton-typescript-webpack, to the new one using tag 1.1.2.  I copied the tsconfig.json, webpack.config.ts, and tsconfig.tsnode.json, and updated my package.json with our project's packages.  I also modified the webpack.config.ts to incorporate the changes specific to our project.

When I run ```npm run build:dev```,

[2016-12-23 17:49] EisenbergEffect commented on #749
We'll be folding our HMR support into the JavaScript services. They aren't quite ready yet though. We're hoping to get that out soon though. @niieani

[2016-12-23 18:06] don-bluelinegrid commented on #752
@niieani

I am seeing this also:

[code]

Also see my comment here:
https://github.com/aurelia/skeleton-navigation/issues/720#issuecomment-269023706

For me, this occurs only when running ```npm start```, but does not occur when running ```npm run build:dev```.

I am running latest node/npm - 6.9.2/3.10.9

Thanks,
Don

[2016-12-23 21:48] niieani commented on #752
Does this happen directly after clone of the repo, or have you made some changes?

[2016-12-23 22:02] msamoylov commented on #752
It happens immediately after cloning the repository.

Sent from my iPad

[2016-12-25 06:08] EisenbergEffect commented on #750
What kind of backend? There are lots of options...

[2016-12-26 13:33] dandago commented on #281
I experienced the same issue today with a fresh project, and solved it as per @sundeepNIIT's suggestion.

[2016-12-27 11:09] jadhavajay commented on #750
I think the express-based back-end is a good idea as it is used mostly as a de-facto framework.

[2016-12-29 21:45] rsarosh opened #753 "TypeScript Error: error TS2352: Type 'Promise<any>' cannot be converted to type 'any[]'."
**I'm submitting a bug report**
* **Aurelia Skeleton Version**
skeleton-typescript-aspnetcore

* **Framework Version:**
.Net Core: version": "1.0.0-preview2-003131
 "name": "aurelia-skeleton-navigation-typescript-netcoreapp",
  "version": "1.1.2",
  "aurelia-framework": "npm:aurelia-framework@^1.0.0",

**Please tell us about your environment:**
* **Operating System:**
windows 10

* **Node Version:

[2016-12-30 12:17] XuJinNet commented on #750
koa2

[2017-01-03 16:25] AmitM30 commented on #752
manually setting: `$ export BABEL_ENV=node` fixed this for me.

The issue I faced was that even after npm install *cross-env* doesn't seem to be working, unless I removed node and npm and reinstalled it.

[2017-01-03 18:04] AmitM30 opened #754 "Async load bundled js files / bootstrap aurelia"
Not an issue, but the way webpack bundles the app files, it prevents the page load event to fire till the dom is completely rendered.

I have a lot of async calls on the landing page (7 to be precise) and the page load event doesn't fire until all of these are complete and rendered, though the initial page has rendered a lot before.

I tried to add `async` attribute to these `script` tags, but fai

[2017-01-03 20:47] Ryuno-Ki commented on #720
@don-bluelinegrid Could you paste line 98 of /Users/donpeterkofsky/Documents/gc-2-dev/node_modules/webpack/bin/convert-argv.js?

MDN lists [reserved words](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Lexical_grammar#Reserved_keywords_as_of_ECMAScript_6).

[2017-01-05 12:55] mskutle commented on #537
I'm struggling with the same problem, but none of the solutions above have worked for me. I have mapped fs to "@node/fs" in my Systemjs config file, but I get this error when trying to use "fs" in my app:

[2017-01-05 13:38] alastair-mcdonald opened #755 "Request for an ASP.NET MVC5 skeleton (with project provided)"
**I'm submitting a feature request**
Having spent several days getting Aurelia to work in an ASP.NET MVC5 application with .Net 4, I can see real value in having an Aurelia skeleton for this project type. There were quite a few hurdles to overcome and I have created a completed [project in GitHub](https://github.com/alastair-mcdonald/aurelia-mvc5-skeleton) in which all the problems I found are sol

[2017-01-05 16:05] AshleyGrant commented on #755
The problem with adding new skeletons is that the maintenance load on each skeleton is fairly high. We have, as a team, decided that the skeletons we currently have are all we have the bandwidth to maintain for the foreseeable future. Visual Studio throws a ton of extra maintenance effort on top of this as many JS developers these days don't have VS installed on their dev machines. I'm a veteran .

[2017-01-05 16:05] #755 closed

[2017-01-06 09:31] rahul7720 commented on #281
I also got above error.
I ran **jspm install aurelia-pal-browser** and it worked for me as Rob suggested.

[2017-01-06 16:20] AshleyGrant opened #757 "Do we even need the ASP .Net Core Skeletons any more?"
With the existence of the ASP .Net Core yeoman generator that can generate a full featured Aurelia application running within an ASP.Net Core application, I think we should start the discussion of deprecating and winding down the ASP.Net Core versions of the Skeleton.

Thoughts?

[2017-01-06 16:53] PWKad commented on #757
Can you link to which one you mean?  The only one I see on Yeoman's website has a [DEPRECATED] tag.

[2017-01-06 16:59] AshleyGrant commented on #757
https://github.com/aspnet/JavaScriptServices

We announced it on our blog back when it was released in October 2016.

[2017-01-06 17:02] PWKad commented on #757
Gotcha I remember they added it to that repo but was not aware of the generator.  I wonder why they would not add it to the list of available generators...  In either case, I'll pull it down this weekend and take it for a spin do you find that it meets all of the needs that we take care of in the skeleton?  (testing, bundling, etc...)

[2017-01-06 17:08] AshleyGrant commented on #757
I've submitted an issue asking for Aurelia to be added to the list of available frameworks on the npm page.

I think it provides a much more full featured solution showing how to actually use Aurelia and ASP.Net Core together, e.g. it shows accessing an API. If it needs bundling and stuff added, we could PR that.

[2017-01-06 17:08] AshleyGrant commented on #757
I've submitted an issue asking for Aurelia to be added to the list of available frameworks on the npm page.

I think it provides a much more full featured solution showing how to actually use Aurelia and ASP.Net Core together, e.g. it shows accessing an API. If it needs bundling and stuff added, we could PR that.

[2017-01-06 23:27] adriatic commented on #757
Without looking at details of https://github.com/aspnet/JavaScriptServices, I would strongly recommend to use that approach for the reasons @AshleyGrant cites:

In order not to act as our current congress who wants to repeal and then eventually replace at some later time, I would suggest to fix the current [README](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-esnext-aspnetco

[2017-01-06 23:35] adriatic commented on #757
@AshleyGrant - can I ask you for a favor to keep me informed about this switch to https://github.com/aspnet/JavaScriptServices? I am working on a new set of KendoUI bridge tutorials, where all [skeletons](https://github.com/aurelia/skeleton-navigation) are used as a base and the tutorials consist of the detailed descriptions of the process how to add a KendoUI component to each of these skeletons.

[2017-01-07 00:11] AshleyGrant commented on #757
If we decide to make the switch, it'll be decided here, so you'll be notified!

[2017-01-07 03:22] EisenbergEffect commented on #757
@AshleyGrant I would favor this move along with us doing another blog post to alert the community. I think a key aspect of this would be to also incorporate all the work that @niieani is doing for the general Webpack setup so that the asp.net version also get hot module reload and that we have a prepared pathway for when we release server-render.

[2017-01-07 10:49] cluka commented on #757
Oh, I would love to see the webpack hot module reload in webpack for
Aurelia.

On Sat, Jan 7, 2017 at 4:22 AM, Rob Eisenberg <notifications@github.com>
wrote:

[2017-01-09 07:11] zoao opened #758 "Typescript-webpack - Visual Code debug"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

* **Framework Version:**
aurelia-skeleton-navigation-webpack@1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.2

* **NPM Version:**
4.0.5

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.27

* **Browser:**
Chrome 55

* **Language:**
TypeScri

[2017-01-09 09:34] cluka opened #759 "BindingLanguage must implement inspectTextContent() after npm update"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

* **Framework Version:**
1.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows [2016 Server]

* **Node Version:**
6.9.2

* **NPM Version:**
3.10.9

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.28

* **Browser:**
Chrome 55

* **Language:**
TypeScript 2.1

**Current behavi

[2017-01-09 09:44] cluka commented on #758
I changed this in my webpack.config and now i can debug in chrome.
` ENV === 'test' || ENV === 'development' ?
        envDev(ENV === 'test' ? {} : { devtool: 'inline-source-map' }) :
        envProd({ /* devtool: '...' */ }),`

[2017-01-09 16:18] pndewit opened #760 "spec files included in app bundle"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

* **Framework Version:**
latest

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.2

* **Node Version:**
6.2.0

* **NPM Version:**
4.0.5

* **Webpack AND Version**
webpack 2.1.0-beta.27 (also tried 2.2.0-rc.3)

* **Browser:**
Chrome 55

* **Language:**
TypeScript 2.1.4

**Curren

[2017-01-10 04:14] PWKad commented on #757
Ok I've been trying to look in to this for the last hour or two and I like the project structure but it's limited to TypeScript and WebPack only at the moment so unless we have another path for for non-TS or non-WebPack devs I'm not sure we gain anything by deprecating these.  Perhaps we should add a note in those that the generator is available?

[2017-01-10 04:16] AshleyGrant commented on #757
Good point. To be fair, we offer nothing for ASP.Net Core + Webpack currently

[2017-01-10 05:33] EisenbergEffect commented on #757
The JavaScriptServices project is ASP.NET Core and Webapck

[2017-01-11 06:31] EisenbergEffect commented on #759
Looks like you aren't using NPM 3 or somehow you are missing some of the dependencies.

[2017-01-11 06:31] #759 closed

[2017-01-11 07:07] dweber019 commented on #759
@EisenbergEffect @cluka I have the same issue when updating aurelia-templating-binding from version 1.1.0 to 1.2.0.

´´´
Error: BindingLanguage must implement inspectTextContent().
    at mi (aurelia-templating.js:744)
    at BindingLanguage.inspectTextContent (aurelia-templating.js:761)
    at ViewCompiler._compileNode (aurelia-templating.js:2547)
    at ViewCompiler._compileNode (aurelia-templat

[2017-01-12 06:23] lmj0011 opened #761 "add source maps for e2e tests"
**I'm submitting an enhancement request**

* **Aurelia Skeleton Version**
skeleton-esnext@lastest

Currently when there's an error in any e2e test, the line numbers in the stacktrace are referencing the transpiled js.

[2017-01-12 06:23] lmj0011 commented on #761
I will submit a PR for this.

[2017-01-12 19:45] filipemartinelli opened #763 "npm start error skeleton-esnext-webpack"
**I'm submitting a bug report**

**Aurelia Skeleton Version**
skeleton-esnext-webpack

**Framework Version:**
1.1.2

**Please tell us about your environment:**

**Operating System:**
Ubuntu 16.04 LTS (4.4.0-59-generic GNU/Linux)

**Node Version:**
7.4.0 (same error V6)

**NPM Version:**
4.0.5

**JSPM OR Webpack AND Version**
jspm 0.16.48

**Browser:**
all

**Language:**
EsNext

**Current behavior:

[2017-01-13 01:01] peterver commented on #662
had the exact same issue, after cleaning up parts of the webpack version of this repo ( stuff like e2e that i do not require right now ), i started getting these errors.

[code]

Then i realized i forgot to install my dependencies :p ..., so when in doubt ...

[code]

I shouldnt learn Aurelia at 1AM ...

[2017-01-13 01:06] peterver commented on #763
Try the following, add

[code]

to your package.json file, and then run

[code]

[2017-01-13 01:09] peterver commented on #763
Off the record, this is not an issue with aurelia, rather with npm, the following issue link on the npm repo could be interesting to go through : https://github.com/npm/npm/issues/14042

[2017-01-13 10:15] fexdev commented on #758
Thank you @cluka , thanks to you we can now debug in chrome again. I think it´s a bug in the skeleton template. Changing !== to === corrected our wrong sourcemaps.

[2017-01-13 10:25] fexdev commented on #740
This solved it for us #758, the comment of cluka

[2017-01-13 17:35] MrChriZ opened #765 "Why does the skeleton not have the requireJS implementation which is created by the CLI?"
I'm curious as to why the skeleton templates do not include the requireJS implementation that is provided by the Aurelia CLI.

[2017-01-13 18:10] niieani commented on #765
The reason is maintenance cost. We plan to move away from skeletons altogether in favor of skeleton-generators, such as `aurelia-cli`.

[2017-01-13 18:10] #765 closed

[2017-01-13 21:47] mikeesouth commented on #688
@EisenbergEffect and @niieani is there any progress on the new webpack setup? the skeleton-typescript-webpack have not been updated for quite some time and I can't really find any progress on the new webpack support.

[2017-01-14 03:28] behrangsa commented on #281
@EisenbergEffect could you please share the link to the related jspm bug?

This bug is still there if we create the project without using the skeleton (unless we manually run ` jspm install aurelia-pal-browser`).

[2017-01-14 09:14] #763 closed

[2017-01-15 04:27] lmj0011 opened #767 "add unit testing via node in non-webpack skeletons"
**I'm submitting an enhancement request**

* **Aurelia Skeleton Version**
skeleton-esnext@lastest

This PR is targeted to give users the option to run tests outside the context of a browser if they choose.

A use case, and maybe the only one in relation to Aurelia, for this would be testing the integrity of api endpoints that your app uses:
https://github.com/lmj0011/sae-spa-skeleton/blob/1e599693

[2017-01-15 12:14] AshleyGrant commented on #767
Ah, I guess I should have read this before I asked for the justification. Let's have some discussion on if we should merge this.

[2017-01-15 13:25] devteamexpress opened #768 "Possibility to run both typescript and babel side by side"
We are interested in porting our application from being webpack-es6-babel to typescript. Is their an example or tips for  running them side by side and integrating typescript into an existing webpack-es6 project?

[2017-01-15 13:27] AshleyGrant commented on #768
Please post this question to Stack Overflow, as mentioned in the Issue Template.

[2017-01-15 13:27] #768 closed

[2017-01-15 19:06] nmocruz commented on #757
It's a great idea. I was trying to update some packages in the aspnet/JavaScriptServices project to at least have HMR working there. I used some code from https://github.com/jods4/aurelia-webpack-build but still not working.
I didn't use the code from the experiemental branch. The configuration file is big and I'm not sure if better a plugin or a extensive config file..
I can't wait for an updates

[2017-01-17 23:51] eikaramba commented on #759
same problem here after updating aurelia-templating-binding to 1.2.0

[2017-01-18 20:28] filipemartinelli commented on #763
Because an optional dependency causes error on npm start?

obs, windows  works without problems.

[2017-01-19 01:05] ne0guille commented on #688
i just downloaded the typescript-wepack-experimental skeleton but its also not working yet

[2017-01-19 09:48] hubbi-pete commented on #387
Any updates for this request?

[2017-01-19 11:11] jdanyow commented on #387
We've been working on testing Aurelia with the systemjs 0.20.0 release candidate.

The upcoming release will be compatible with rc 7.

https://gist.run/?id=6f80961a136bef7dbb5f3672d0600108

[2017-01-21 01:15] jpsala commented on #748
@istrau2, Doesn't work after your sugestion, the error I'm getting after ```npm run build:prod```
[code]
Is there another fix to try? It's working fine with ```npm run build:dev```

[2017-01-21 12:40] niieani commented on #748
Seems like the destructuring syntax is not supported by the uglify step. I'll have a look.

[2017-01-21 12:41] niieani commented on #768
This should be fairly easy to do, just add both JS and TS configs to your webpack.config and it will work.

[2017-01-21 12:42] niieani commented on #768
Alternatively, you may also use TypeScript to compile .js files (by setting `allowJs: true` in `tsconfig.json`) and set the ts-loader / awesome-typescript-loader to also handle `js` files.

[2017-01-21 12:50] niieani commented on #662
Yeah, it's a repeating (never-ending) story. If something's not working right, always remove reinstall node_modules, before debugging any further! @EisenbergEffect maybe we should add this info into the issue template?

[2017-01-21 12:56] jpsala commented on #748
is there a way to know where is the error in my code?

[2017-01-21 17:44] EisenbergEffect commented on #662
Sure. Send a PR and I'll merge it asap.

[2017-01-21 18:23] jpsala commented on #748
Hi @niieani, the problematic code in my app is in the interceptor inside HttpClient.configure
smallest test:
[code]
Can I write this code in a way that uglify does not complain?

[2017-01-21 22:31] jpsala commented on #748
Hi, the app is running, I added ```"es2015"``` to ```"presets"``` is this ok or can cause trouble?

[2017-01-22 10:20] niieani commented on #748
@jpsala you can use `es2015` instead of the `env` preset. That's up to you.

[2017-01-22 13:19] davidquinn commented on #537
@mskutle try:

Assuming you have the following in your System JS config:
[code]
Then use require rather than import in your js/ts file:
[code]
HTH.
D

[2017-01-23 09:14] pndewit commented on #760
Just tried it with Webpack 2.2.0. Same results. :(

[2017-01-23 13:13] jpsala commented on #748
Hi @niieani, can you show me some link/s to understand what is ```you can use es2015 instead of the env preset.```

[2017-01-24 12:55] smahi commented on #752
I have the same problem

`> aurelia-skeleton-navigation-webpack@1.1.2 prebuild:prod /Users/smahi/Sites/HapiJS_Projects/smahi.net/client

/Users/smahi/Sites/HapiJS_Projects/smahi.net/client/webpack.config.ts:6
import { generateConfig, get, stripMetadata, EasyWebpackConfig } from '@easy-webpack/core';
^^^^^^
SyntaxError: Unexpected token import
    at Object.exports.runInThisContext (vm.js:76:16)

[2017-01-24 23:25] danielmeza commented on #721
@AdamWillden I found a solution, I change the ` .pipe(sourcemaps.write('.', {includeContent: false, sourceRoot: '/src'}))` to  ` .pipe(sourcemaps.write('.', {includeContent: false, sourceRoot: '/dist'}))` and it work for me.

[2017-01-25 20:30] AshleyGrant commented on #721
@danielmeza would you mind creating a PR with that fix?

[2017-01-30 18:23] MrChriZ commented on #653
I'm running into this issue using JSPM 0.17.  I've tried the shim solution and downgrading to 3.3.6 but it continues to come up :/

[2017-01-30 18:30] AshleyGrant commented on #653
@MrChriZ I would recommend checking with the JSPM support channels regarding getting this issue.

[2017-01-30 19:25] MrChriZ commented on #653
Thanks Ashley.  Just for reference I've started with the Aurelia JSPM Typescript skeleton and tested this with JSPM 0.16 and it works fine, upgraded to JSPM 0.17 and the issue shows up, so I think you're right this maybe an issue with JSPM rather than Aurelias bundler.  I'll report back if I make progress.

[2017-01-31 07:51] pndewit commented on #760
@niieani Have you found the time to take a look at what might be going wrong? Could it be a missing or incorrect setting in my webpack config? or maybe in one of the `easy-webpack` modules?

Let me know if you need more information.

[2017-02-02 00:10] filipemartinelli commented on #763
If on Ubuntu, running the following command might solve the problem:
echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

Reference:
http://stackoverflow.com/questions/16748737/grunt-watch-error-waiting-fatal-error-watch-enospc

[2017-02-03 14:31] ad34 commented on #720
I use to have that kind of errors in the past and it started again today after adding a new dependency. for some reason , looks like something triggered some update on some dependencies , and I have unable to recovert my projet.

I am able to build using npm start but my site just displays a blank page with any kind of js errors in the console.

I dont know how to debug it and I guess I will reimp

[2017-02-06 19:16] ad34 commented on #752
same problem here it . node 6.9.5 debian linux / npm 4.1.2

[2017-02-10 14:15] brylie commented on #281
I am coming from the Pluralsight Aurelia Fundamentals course. I had the same issue, and fixed it, as mentioned above, by running `jspm install aurelia-pal-browser`. I am just mentioning that Pluralsight students will encounter this issue at an early stage of learning.

[2017-02-11 00:23] filipemartinelli commented on #720
i'm not crazy ok ? but..

i'm do **npm install** at folder 'skeleton-esnext-webpack' ... **with NAME**
**npm start**  works..

another name.. don't ..

if rename folder (after npm install) works to...

why?

[2017-02-11 08:34] AshleyGrant commented on #281
I'll get this installed as a root level dep to skeleton-esnext

[2017-02-12 09:55] ad34 commented on #752
adding a .babelrc file + installing babel-preset-es2015  fixed the issue for me
{
 "presets": [ "es2015" ]
}

[2017-02-13 16:30] pvencill commented on #720
I'm with @filipemartinelli this is really buggy.  If I pull the latest skeletons (either via the zip or tar or git clone), I can run the esnext-webpack one in place with no trouble.  If I copy the same files to another location and do an npm install, then try and run it, I get errors.  Mine differs from the above, I get the following:

`> aurelia-skeleton-navigation-webpack@1.1.2 start /Users/pven

[2017-02-14 07:32] miroslavkiss commented on #753
One bug I found is in test\unit\users.spec.ts. There is
import {Users} from 'src/users';
and should be
import {Users} from '../../src/users';

Another bug: 2 missing usings in Startup class.

I repaired bug above this way, i hope it will do what was intended:
  public activate() {
      return this.http.fetch('users')
          .then(function (response) {
              this.users = response.json()

[2017-02-15 18:45] niieani commented on #720
I think this is related to how NPM works and how it creates and depends on symbolic links. Nothing to do with Aurelia nor `cross-env`.

[2017-02-19 14:22] rehnen opened #771 "skeleton-esnext-webpack unable to start at all"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**

skeleton-esnext-webpack
[npm-debug.txt](https://github.com/aurelia/skeleton-navigation/files/785896/npm-debug.txt)

* **Framework Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu)

* **Node Version:**
6.9.4

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**

[2017-02-19 14:25] rehnen commented on #771
Same issue on windows 10.

[2017-02-19 17:31] jdanyow commented on #387
closing: https://github.com/aurelia/loader-default/pull/38

[2017-02-19 17:31] #387 closed

[2017-02-21 00:32] EisenbergEffect commented on #771
@niieani Can you look into this?
@rehnen Can you provide any other error info?

[2017-02-21 18:07] lmj0011 opened #772 "protractor.conf.js confusion with specs"
**I'm submitting a clean up request**

* **Aurelia Skeleton Version**
skeleton-esnext

when running the e2e test using `gulp e2e`
https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-esnext#running-the-e2e-tests

the `specs` property in `protractor.conf.js` is ignored:
https://github.com/aurelia/skeleton-navigation/blob/964e1ca7c51655cf865334ef5194b077aa5409ea/skeleton-esnext/protra

[2017-02-21 18:15] lmj0011 commented on #750
Adonis JS
http://adonisjs.com/docs/3.2/overview

nuxt.js is already using it.
https://github.com/nuxt/adonuxt

[2017-02-22 10:48] abhishekbhalani commented on #230
I am getting error.
please help.

![image](https://cloud.githubusercontent.com/assets/1845707/23208301/7c395210-f91a-11e6-861e-9c027bfc7ce8.png)

[2017-02-22 13:26] AshleyGrant commented on #230
You don't have any routes that map to `/` in your route config.

[2017-02-22 18:55] activebiz commented on #688
Not working for me either. 😞

[2017-02-22 19:45] sbolel commented on #688
I just cloned the repo and checked out the `webpack-experimental` branch on a fresh install of OSX and it works as expected.

 @ne0guille @activebiz :
- What version of `node` and `npm` are you using?
- Are you on the `webpack-experimental` branch?

[2017-02-22 19:50] activebiz commented on #688
I am using
npm: 3.10.6
Node: 7.5.0

and yes I am using webpack-experimental branch.

Thanks

[2017-02-22 20:25] activebiz commented on #688
I switched to node v7.6.0 and npm v4.2.0 but no luck. Might be something to do with windows?

[2017-02-22 20:26] sbolel commented on #771
@rehnen are you running Ubuntu in a virtual machine by chance?  I'm confused by the `/mnt/c/Users/` in the path -- looks like an OSX user directory.

[2017-02-22 20:33] sbolel commented on #688
@activebiz can you try

[code]

[2017-02-22 20:35] rehnen commented on #771
@sbolel Ubuntu now comes as a subsystem in Windows 10. So, Ubuntu on Windows, but not a VM.

[2017-02-22 20:40] sbolel commented on #771
That's awesome, did not know that.

Can you try cloning the repo into `C:/` (in windows if need be) and see if you can run it from within `/mnt/c`?

[2017-02-22 20:42] ne0guille commented on #688
@sbolel im using node v6.9.1 and npm 3.7.5 also trying in the webpack-experimental branch

[2017-02-22 20:45] activebiz commented on #688
That did worked. really liking the dashboard stuff. Hope it will work for windows when PR done in master. Any idea regarding timeline about when this will be merged into master?

[2017-02-22 20:49] sbolel commented on #688
@activebiz I think npm should be accounting for this if set up properly on Windows.

For now, you can replace all the environment variables in package.json (those that start with `$`) to work for windows so that, for example,`$LOCAL` --> `%LOCAL%`. Change the `/` to `\`. You can also use absolute paths for the scripts instead of the environment variables. It's been a while since I've worked with W

[2017-02-23 02:22] eric-swann-q2 commented on #606
Why was this closed? I'm still witnessing this issue (in my case using marked.js)

[2017-02-23 23:25] sbolel commented on #689
Ping @niieani @EisenbergEffect

[2017-02-24 03:25] francoishill opened #775 "Typescript webpack cannot compile anymore"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

* **Framework Version:**
prepare release 1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v6.9.1
* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
webpack 2.2.1

* **Browser:**
Not relevant (does not compile)

* **Language:**
TypeScript 2.

[2017-02-24 04:41] EisenbergEffect commented on #689
No, this is about running a typings install, which is TS specific. @AshleyGrant What is our status on this?

[2017-02-24 07:02] EisenbergEffect commented on #772
@AshleyGrant Can you look into this?

[2017-02-24 07:14] EisenbergEffect commented on #775
@jods4 @niieani Can you look into this?

[2017-02-24 08:08] sbolel commented on #775
@francoishill can you post an `npm-debug.log` please? Thanks!

[2017-02-24 10:13] jods4 commented on #775
@francoishill posting the webpack output including the error would be helpful as well.

@niieani it seems this is with the old webpack plugins, I'll leave it to you.

[2017-02-24 10:56] Reverbe commented on #775
Not sure if this is related, but I've noticed some TypeScript errors showing up yesterday (after a fresh npm install, so probably it has to be some dependency).

It will load in browser but the cmd will be filled with transpilation errors:

`[at-loader] Checking finished with 29 errors
[at-loader] node_modules\@types\lodash\index.d.ts:19449:15
    TS2428: All declarations of 'WeakMap' must have id

[2017-02-24 11:03] francoishill commented on #775
@sbolel, @jods4. The failure happens in `npm run server:dev`, the `npm install` command goes through successfully . Here is the output of `npm run server:dev`, it looks quite similar to that of @Reverbe. There is, however, no npm-debug.log.

[code]

[2017-02-24 11:11] jods4 commented on #775
@Reverbe This is a TS configuration issue. Looks like the `Fetch` apis are defined both in TS `DOM` library and you have downloaded `@types/whatwg-fetch`. It results in duplicated declarations. I suggest you remove the latter.

@francoishill

Your webpack compilation looks ok, except for the TS errors, which are the same as @Reverbe and unrelated to webpack.

[2017-02-24 11:23] Reverbe commented on #775
I have just cloned the typescript-webpack-skeleton and got this.

[2017-02-24 13:36] B3zo0 commented on #775
@Reverbe as @jods4 mentioned it is a Typescrpit error and not related to webpack. You've installed the latest typescript as dependency which now includes typings for fetch. See: [Changes to DOM API's in the standard library](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#changes-to-dom-apis-in-the-standard-library)

To get rid of the errors you have to uninstall @types\whatwg-fetch

[2017-02-24 18:32] Reverbe commented on #775
I see, but you'll still get `Lodash All declarations of 'WeakMap' must have identical type parameters.`.

Probably, until whatwg-fetch is removed from [package.json](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript-webpack/package.json) and the lodash type file is updated, another thing you can do is add

`"skipLibCheck": true`

to `tsconfig.json`.

[2017-02-24 18:42] jods4 commented on #775
Feel free to continue the discussion here but I'm going to close the issue because it's really a typescript issue.

The webpack skeleton is going to be completely updated soon-ish anyway so I expect we'll update all dependencies and make sure everything compiles properly on the latest bits.

[2017-02-27 10:57] stuartbloom opened #776 "Issue running skeleton"
Hi there, I have downloaded and followed the installation procedure for the typescript skeleton.  However, when I run gulp watch I get a number of errors as follows:

`[10:54:13] Starting 'build-system'...
C:/Users/sbloom/testing/PVPortal/node_modules/typescript/lib/lib.dom.d.ts(6945,11): error TS2300: Duplicate identifier 'Headers'.
[10:54:15] gulp-notify: [Error running Gulp] Error: C:/Users/sbl

[2017-02-27 11:32] B3zo0 commented on #776
You can. Please see my comment here: https://github.com/aurelia/skeleton-navigation/issues/775#issuecomment-282292524

[2017-02-27 11:40] stuartbloom commented on #776
Thanks; i ran the npm unistall command, but I am still getting those errors :(

[2017-02-27 12:04] B3zo0 commented on #776
Ahh. Because you have the whatwg-fetch installed with https://github.com/typings/typings
You have to uninstall that another way. Like this `typings uninstall whatwg-fetch`
You can find more information about uninstalling a typing from here: [Typings Uninstall](https://github.com/typings/typings/blob/master/docs/commands.md#uninstall)

[2017-02-27 12:08] stuartbloom commented on #776
Unfortunately not, still seeing those issues :(

[2017-02-27 12:16] stuartbloom commented on #776
Interestingly enough, I have also tried with the aspnetcore skeleton and am getting these :(

`C:\Users\sbloom\testing\PVPortal2\src\skeleton> cmd.exe /c gulp -b "C:\Users\sbloom\testing\PVPortal2\src\skeleton" --color --gulpfile "C:\Users\sbloom\testing\PVPortal2\src\skeleton\Gulpfile.js" watch
[12:15:10] Using gulpfile ~\testing\PVPortal2\src\skeleton\Gulpfile.js
[12:15:10] Starting 'build'...
[

[2017-02-27 12:42] B3zo0 commented on #776
Ok. So what I did is to run this `typings uninstall whatwg-fetch -SG` command from the project folder and also this one `typings uninstall url -SG`. This 2 command will remove the typings from your project.

[2017-02-27 12:44] stuartbloom commented on #776
b3zo0 thats awesome, thanks. Could I trouble you for just a little while longer to see why I get the issues when using the asp version in Visual Studio?

Thanks in advance again

Stuart

[2017-02-27 13:43] B3zo0 commented on #776
The scenario is the same. You have to uninstall typings from there too.

[2017-02-27 14:02] stuartbloom commented on #776
Thank you so very much.  Just got this error now: Error: src\users.ts(21,22): error TS2322: Type 'Response' is not assignable to type 'any[]'. which I can comment out to get started, but then when I server the site and browse to http://localhost:9000 All I see is:

Cannot GET /

the developer tools shows an error in localhost/ with the message:
Failed to load resource: the server responded with a

[2017-02-27 14:24] stuartbloom commented on #776
And then hopefully this will be the last one; when I go to run the soolution in VS, I get anumber of errors:

`Severity	Code	Description	Project	File	Line	Suppression State
Error	TS6059	File 'C:/Users/sbloom/testing/PVPortal/src/skeleton/test/e2e/src/welcome.po.ts' is not under 'rootDir' 'C:/Users/sbloom/testing/PVPortal/src/skeleton/src/'. 'rootDir' is expected to contain all source files.	skelet

[2017-02-27 17:25] #776 closed

[2017-02-27 18:18] stuartbloom commented on #776
You closed the question, but you didnt answer it..

Can you tell me what I am doing wrong or how I can get the skeleton to run correctly?

[2017-02-27 18:21] EisenbergEffect commented on #776
We don't support questions here. This is for issues and feature requests. Please use Gitter or Stack Overflow.

[2017-02-27 18:21] stuartbloom commented on #776
ok, thanks

[2017-02-28 03:03] pvencill commented on #720
Removing cross-env from the mix fixed the problem, @niieani , so I'd have to disagree that it has nothing to do with it. Literally the only change I made to go from not working to working was to change the npm start script to no longer include the call to cross-env.

[2017-02-28 09:45] TheSmedegaard opened #778 "Error when trying to build bundle"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.6.0

* **NPM Version:**
4.3.0

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.27

* **Language:**
TypeScript

**Current behavior:**
npm ERR!     npm owner ls aurelia-skeleton-navigation-webpack
npm ER

[2017-02-28 10:10] BruceL33t commented on #748
We're getting the same problem as @jpsala and replacing env with es2015 in .babelrc didn't make a difference for us. This is a rather serious issue for us, since we're facing this in production for our client solutions. Does anybody have an idea of a workaround, until the permanent solutions is implemented?

[2017-02-28 12:23] TheSmedegaard commented on #778
1. Remove the hat (^) in
`"@types/whatwg-fetch": "^0.0.32"`  -->  `"@types/whatwg-fetch": "0.0.32"`
and
`"typescript": "^2.1"`  -->  `"typescript": "2.1"`

2. Delete node_modules folder

3. `npm install`

4. `npm run build` / `npm run build:prod`

That solved my problem

[2017-02-28 12:23] #778 closed

[2017-03-06 13:42] alfkonee commented on #775
@all Help needed

I don't know if posting here is gonna be replied but here goes
I updated my aurelia-typescript webpack app to use typescript 2.2.1 I faced all the issues here [skeleton-navigation#775](https://github.com/aurelia/skeleton-navigation/issues/775) anf fixed them using the solutions  found there but I'm still facing another issue where when i build and run my app I get this error
[cod

[2017-03-06 15:36] alfkonee commented on #417
Hey guys
I'm also facing the same issue @don-bluelinegrid did you fix your's if yes how?? I need help

[2017-03-08 01:30] jbhardwaj12 commented on #752
I am experiencing same.
My setup is different as I am working on integrating a experimental a Springboot application with Aurelia - being a maven Project my setup uses maven-frontend-plugin. I experienced same problem with both ESNext and TypeScript based skeleton projects.

To Mention - However in skeleton-typescript-webpack, after deleting tsconfig.js and tsconfig.tsnode.json does not show same

[2017-03-09 11:16] vangelis-b opened #779 "TypeScript error TS2300: Duplicate identifier"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript

* **Framework Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
macOS 10.12.3 & Windows Server 2012

* **Node Version:**
7.7.1 (macOS) 6.9.5 (Windows)

* **NPM Version:**
4.3.0

* **JSPM Version**
0.16.49

* **Browser:**
N/A, getting compile errors.

* **Language:**
TypeScript 2.

[2017-03-09 13:17] B3zo0 commented on #779
https://github.com/aurelia/skeleton-navigation/issues/775#issuecomment-282292524

[2017-03-09 14:27] niieani commented on #779
Closed by https://github.com/aurelia/skeleton-navigation/pull/777

[2017-03-09 14:27] #779 closed

[2017-03-09 14:27] niieani commented on #775
Closed by https://github.com/aurelia/skeleton-navigation/pull/777

[2017-03-09 14:27] #775 closed

[2017-03-09 14:29] niieani commented on #771
@rehnen it's possible it's a problem of the "Ubuntu on Windows" linux subsystem. Try running under a VM or under Windows version of Node directly.

[2017-03-09 14:32] JoshuaVSherman commented on #771
a few days ago, we had to lock down our node module versions and reinstall
using yarn

On Thu, Mar 9, 2017 at 9:29 AM, Bazyli Brzóska <notifications@github.com>
wrote:

--
Josh Sherman
www.joshandmariamusic.com

[2017-03-11 09:18] rehnen commented on #771
@sbolel I tried moving it, did nothing.
However after doing a new pull, I get a different error. None of the imports in main.js work. Not even import '../styles/styles.css';

[2017-03-12 07:34] activebiz commented on #370
Although this is closed. it is really fustrating that there is no skeleton example available to see how its done in flesh. It may not be finshied solution but atleast some reasonable code to start with. Its easy to say just 'do what you like' but in practice dev can spend lots of time figuring it out the best way it should be done!

P.S. This is not to take away real power of aurelia in 'do what y

[2017-03-12 09:33] erwinverdonk commented on #752
The cause of this error is most likely that you have a plugin installed in your editor that auto generates a .js file when you save a .ts file. When there is a .js in your project Node will try to load it as a module and does not understand the syntax as it is ES6 and thus gives errors.

With this skeleton there shouldnt use plugins that auto generate .js files from .ts files when you save. It doe

[2017-03-12 10:37] erwinverdonk commented on #752
The problem of the issue starter is simply that he didnt copy the hidden files when copying the skeleton project. He is basically missing the `.babelrc` file which sets the preset to use.

No bug in the `skeleton-esnext-webpack`. This issue can be closed if you ask me, @niieani.

[2017-03-12 11:21] #752 closed

[2017-03-12 19:16] nmocruz commented on #370
@activebiz other missing feature is nested routes, but now is just a nice to have for the aurelia, unless someone implements this will be missing for a while

[2017-03-12 20:30] cluka commented on #370
I think you can build nested routes with child routes.
See here for ref: http://www.jeremyg.net/entry/create-a-menu-with-child-routes-using-aurelia

[2017-03-17 10:40] mariaantony-gnanasekaran opened #781 "Getting TypeScript error while compiling webpack"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-typescript-webpack

* **Framework Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.10.0

* **NPM Version:**
4.3.0

* **JSPM OR Webpack AND Version**
 webpack 2.1.0-beta.27

* **Browser:**
all
* **Language:**
TypeScript 2.2.1

**Current behavior:**
while com

[2017-03-17 17:51] jods4 commented on #781
@EisenbergEffect this is unrelated to the webpack plugin, it's actual Typescript errors in the skeleton example files (in `demo.spec.ts` and `users.spec.ts` apparently).
Can you re-assign to @niieani? I don't have permissions in this repo.

[2017-03-22 03:25] #781 closed

[2017-03-22 08:59] trondhindenes opened #784 "Project should include an `images` folder for reference"
**I'm submitting a feature request**

I'm struggling with how to organize static images in my project. I find the whole build process way above my league, but using the skeleton projects as "starters" I'm able to be super-productive with Aurelia. With one exception: how to include images and other "static/non-compiled" resources. It would be great if the skeleton project(s) included some images al

[2017-03-23 03:33] EisenbergEffect commented on #784
This tends to be very different from project to project, depending on the requirements. We can consider something like this for the future.

[2017-03-23 12:29] mb34124 commented on #757
Based on this discussion what do you guys recommend for a dev team just getting involved with Aurelia and using ASP.NET Core?

[2017-03-24 17:50] mariettamx commented on #606
For me it worked to install moment-es6 module , declare both in aurelia.json and to link the typings of the library in typings/index.d.ts:

/// <reference path="../node_modules/moment/moment.d.ts" />
/// <reference path="../node_modules/moment-es6/index.d.ts" />

[2017-03-27 20:58] mb34124 commented on #757
I'll also add that after opening the "skeleton-esnext-aspnetcore" solution it does not work in VS 2017.  The Task Runner Explorer cannot see any of the tasks in the gulp file so you can't build it.

[2017-03-27 20:58] AshleyGrant commented on #757
Interesting. Would please file an issue for that. I'm gonna be looking at VS2017 over the next week.

[2017-03-27 21:08] ghost opened #785 "VS2017 does not show any tasks in "Task Runner Explorer" after opening "skeleton-esnext-aspnetcore""
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext-aspnetcore

* **Framework Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.5

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
N/A

* **Language:**
ESNext

**Current behavior:**
Task Runner

[2017-03-27 21:12] mb34124 commented on #757
I just added an issue for it.  I'll add that our team is on the verge on deciding on a JS Framework to use.  We love AngularJS but feel Angular2 has gone off the rails.  We want to use Aurelia however we have been unable to get even the most basic "hello world" example working in VS2017 (aside from the getting started example that transpiles on the fly).   What we are looking for is a plain "hello

[2017-03-28 11:09] cb-fred opened #786 "skeleton-esnext-webpack Unable to build:prod : UglifyJS Error"
**I'm submitting a bug report**

* **Aurelia Skeleton Version**
skeleton-esnext-webpack

* **Framework Version:**
latest master checkout at the time of this post

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x && Linux (debian)

* **Node Version:**
7.5.0

* **NPM Version:**
4.1.2

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.17

* **Browser:**
all

* **Language